<template>
	<v-layout row justify-center>
		<v-dialog v-model="active">
			<v-card>
				<v-card-title>
					Inform
				</v-card-title>
				<v-card-text>

					<v-divider></v-divider>
					<p v-for="text in textitems" v-html="text"></p>
					<v-divider></v-divider>

				</v-card-text>

				<v-card-actions>
					<v-btn color="primary" flat @click.stop="active=false">Close</v-btn>
				</v-card-actions>
			</v-card>
		</v-dialog>
	</v-layout>

</template>

<script>
	export default {
	  name: 'PopupAlert',
	  data: function() {
	    return {
	      textitems: [],
	      active: false
	    }
	  },
	  mounted: function() {
	    let self = this
	  },
	  methods: {
	    show: function(data) {
	      if (data instanceof Array) {
	        this.textitems = data
	      } else {
	        this.textitems = [data]
	      }
	      this.active = true
	    }
	  }
	}
</script>

