<template>
    <div ref="container" class="cntx-el" v-bind:class="{ active: active }"
         v-bind:style="{ left: left + 'px', top: top + 'px' }">
        <v-layout row wrap class="pa-2">
            <v-card>
                <v-list>
                    <v-list-tile
                            v-for="(item, index) in data.items"
                            :key="index"
                            @click="action(item)">

                        <v-list-tile-title>
                            {{ item.name }}
                        </v-list-tile-title>
                    </v-list-tile>
                </v-list>
            </v-card>
        </v-layout>
    </div>


</template>

<script>
    import {VUtils} from '../viewer/VUtils';

    export default {
        name: 'PlannerCntxMenu',
        props: [],
        data: function () {

            return {
                left: -Infinity,
                top: -Infinity,
                data: {items: []},
                active: false,
                cell: null,
                contextMenuItems: [
                    {
                        name: 'Split',
                        type: 1
                    },
                    {
                        name: 'Remove 1',
                        type: 2
                    },
                    {
                        name: 'Remove Group',
                        type: 3
                    },
                    {
                        name: 'Show Details',
                        type: 4
                    },
                    {
                        name: 'Move',
                        type: 5
                    },
                    {
                        name: 'Available workers',
                        type: 6
                    }
                ]
            }
        },
        computed: {
            noMembersStatus: function () {
                return this.noMembers;
            }
        },
        mounted: function () {
        },
        methods: {
            action: function (item) {
                let viewer = this.$parent.viewer;
                switch (item.type) {
                    case 1: {
                        this.cell.customeEvents._split();
                        break;
                    }
                    case 2: {
                        this.cell.customeEvents._removeItem();
                        break;
                    }
                    case 3: {
                        this.cell.customeEvents._removeItem(true);
                        break;
                    }
                    case 4: {
                        viewer.showDetails();
                        break;
                    }
                    case 5: {
                        viewer.opt.domeEl.selectEditItemSite(this.cell);
                        break;
                    }
                    case 6: {
                        viewer.opt.domeEl.showAvailableWorkers(this.cell._selectedDay);
                        break;
                    }
                }
            },
            show: function (cell, event) {

                this.active = !!cell;
                if (cell) this.cell = cell;
                if (this.active) {
                    let  delta = 0,
                        _w = this.$refs.container.clientWidth,
                        _h = this.$refs.container.clientHeight;

                    this.left = event.clientX + delta;// - offsets.left;
                    this.top = event.clientY + delta;//- offsets.top;

                    if (this.left > event.target.clientWidth - _w) this.left -= _w - delta;
                    if (this.top > event.target.clientHeight - _h) this.top -= _h - delta;


                    let _cell = cell,
                        isGroup = !!_cell._periodContainer,
                        isDetails =
                            isGroup /*&& (_cell._currentItemBranch.contact.type == VUtils.TYPES.CONTACT_TEAM */,
                        isMove = _cell._category != VUtils.TYPES.ALL_AVAILABLE_WORKERS,
                        isShowAvailableWorkers =
                            _cell._category == VUtils.TYPES.ALL_AVAILABLE_WORKERS && false;

                    this.data.items = this.contextMenuItems.filter((e, key) => {
                        if (key <= 3) {
                            e.visible = isGroup;
                            if (key == 3) e.visible = isDetails;
                        } else if (key == 4) {
                            e.visible = isMove;
                        } else if (key == 5) {
                            e.visible = isShowAvailableWorkers;
                        }

                        return e.visible;
                    });
                    this.active = this.data.items.length > 0;
                }

            }
        }
    }
</script>
<style>
    .cntx-el {
        transition: left, top 0.3s;
        position: absolute;
        background: whitesmoke;
        max-width: 240px;
        /*max-height: 380px;*/
        text-overflow: ellipsis;
        overflow: hidden;
        opacity: 0;
        /*overflow-y: auto;*/
        /*visibility: hidden;*/
        pointer-events: none;
        z-index: -1;

    }

    .cntx-el.active {
        opacity: 1;
        /*visibility: visible;*/
        pointer-events: all;
        z-index: 1;
    }
</style>

