<template>
    <v-layout row justify-center>
        <PopupAlert ref="popupAlert"/>
        <v-dialog v-model="active">
            <v-card>
                <v-card-title>
                    Dialog to Move Planned Data {{cell?`for branch ${cell._currentItemBranch.contact.name}`:(site?`for
                    site ${site.name}`:'')}}
                </v-card-title>
                <v-card-text>

                    <v-divider></v-divider>
                    <v-list three-line subheader>
                        <v-subheader>Select Planned which are between:</v-subheader>
                        <v-date-picker class="d-inline-block" v-model="dateBegin"
                                       :allowedDates="allowedDatesFrom"></v-date-picker>
                        <v-date-picker class="d-inline-block" v-model="dateEnd"
                                       :allowedDates="allowedDatesTo"></v-date-picker>
                    </v-list>

                    <v-divider></v-divider>
                    <v-list three-line subheader>
                        <v-subheader>Input count of days move:</v-subheader>
                        <v-text-field
                                type="number"
                                name="input-1"
                                label="Days"
                                id="test"
                                min=-360
                                max=360
                                step=1
                                maxlength=3
                                v-model="daysToMove"
                        ></v-text-field>
                    </v-list>
                </v-card-text>

                <v-card-actions>
                    <v-btn color="primary" dark @click.stop="applyMovings()">Apply</v-btn>
                    <v-btn color="primary" flat @click.stop="active=false">Close</v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>
        <div class="block-content" v-show="ajaxProgress">
            <v-progress-circular class="block-content-center" :indeterminate="true"></v-progress-circular>
        </div>
    </v-layout>

</template>

<script>
    import Vue from 'vue';
    import PopupAlert from './alert.vue';

    export default {
        components: {PopupAlert},
        name: 'PopupPlannerMove',
        props: {},
        data: function () {
            return {
                daysToMove: 0,
                active: false,
                ajaxProgress: false,
                dateBegin: null,
                dateEnd: null,
                _parent: null,
                cell: null,
                onFinishUpdate: null,
                site: null

            }
        },
        computed: {},
        mounted: function () {
            let self = this;
        },
        methods: {
            allowedDatesFrom: function (date) {
                if (this.dateEnd) {
                    return new Date(date) < new Date(this.dateEnd);
                }
                return true;
            },
            allowedDatesTo: function (date) {
                if (this.dateBegin) {
                    return new Date(date) > new Date(this.dateBegin);
                }
                return true;
            },
            applyMovings: function (optHistory) {
                let self = this,
                    requestBody = {
                        daysToMove: this.daysToMove
                    };


                if (this.dateBegin) requestBody.start = this.dateBegin;
                if (this.dateEnd) requestBody.end = this.dateEnd;

                let url = `${process.env.API_URL}/api/v1/planner/construction-site/`;
                if (this.cell) {
                    url += this.cell.parent.siteId + "/collaborator/" + this.cell.parent.branchId + "/move";
                } else if (this.site) {
                    url += this.site.id + "/move";
                } else {
                    return;
                }
                this.ajaxProgress = true;

                if (optHistory) {
                    requestBody = optHistory;
                    url = optHistory.url;
                }

                Vue.axios.post(url, requestBody).then(function (res) {

                    let resp = res.data;
                    self.active = self.ajaxProgress = false;
                    if (resp) {
                        if (resp.state == 1) return self.$refs.popupAlert.show(resp.msg);
                        // if (resp.state == 1)return alert(resp.msg);

                        if (resp.data) {
                            let res = [];
                            for (var k = 0; k < resp.data.length; k++) {
                                let obj = resp.data[k];
                                if (obj.updates) for (let i = 0; i < obj.updates.length; i++) {
                                    if (obj.updates[i].state == 1) {
                                        res.push(obj.updates[i].msg + ";");
                                    }

                                }
                            }


                            if (res.length) {
                                res.splice(0, 0, "Some planned days can`t move, because: ");
                                return self.$refs.popupAlert.show(res);
                                // return alert(res);
                            }
                        }

                        if (!optHistory) self.$store.state.planner.history.add({
                            callback: ((daysToMove, dateBegin, dateEnd, url) => {
                                return async () => {
                                    return await self.applyMovings({
                                        daysToMove,
                                        dateBegin,
                                        dateEnd,
                                        url
                                    });
                                }
                            })(self.daysToMove * -1, self.dateBegin, self.dateEnd, url)
                        });
                        if (self.onFinishUpdate) {
                            self.onFinishUpdate();
                        } else {
                            self._parent.refresh();
                        }

                    }

                }).catch(function (e) {
                    self.ajaxProgress = false;
                });
            },
            updateDateRange: function (dateRange) {
                if (!dateRange) return;
                // if(!this.cell || !this.cell._periodContainer)return this.dateBegin =this.dateEnd = null;
                let self = this;
                [{v: 'start', out: 'dateBegin'}, {v: 'end', out: 'dateEnd'}].forEach(function (els) {
                    let timePicker = new Date((new Date(0)).setUTCSeconds(dateRange[els.v]))
                    self[els.out] = timePicker.format("yyyy-mm-dd");
                });
            }

        },
        destroyed: function () {
        }

    }


</script>

<style scoped>

    .block-content {
        position: absolute;
        z-index: 9999999999;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.45);
    }

    .block-content-center {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
</style>
