<template>
    <div ref="container" class="tooltip-el"
         v-bind:class="{ active: (active &&(noMembers || noMembersStatus || periodDesc||dayDesc)) }"
         v-bind:style="{ left: left + 'px', top: top + 'px' }">
        <v-layout row wrap class="pa-2">
            <!--<v-flex xs12 align-content-start="true">-->
            <!--<h2 class="text-lg-left title">{{title}}</h2>-->
            <!--</v-flex>-->
            <!--<p v-if="cell && cell._periodContainer">{{cell._periodContainer.id}}</p>-->
            <v-flex xs12 align-content-start="true" v-bind:class="{'hidden':!periodDescription}">
                <v-card class="text-lg-left pa-0 px-1 ma-0">
                    <p class="ma-0">Period Materials Message:<b class="text-lg-left title text-msg py-1">{{periodDesc}}</b></p>
                </v-card>
            </v-flex>
            <hr/>
            <v-flex xs12 align-content-start="true" v-bind:class="{'hidden':!periodDescriptionToDo}">
                <v-card class="text-lg-left pa-0 px-1 ma-0">
                    <p class="ma-0">Period To Do Message:<b class="text-lg-left title text-msg py-1">{{periodDescToDo}}</b></p>
                </v-card>
            </v-flex>
            <hr/>
            <v-flex xs12 align-content-start="true" v-bind:class="{'hidden':!dayDescription}">
                <v-card class="text-lg-left pa-0 px-1 ma-0">
                    <p class="ma-0">Day Materials Message:<b class="text-lg-left title text-msg py-1">{{dayDesc}}</b></p>
                </v-card>
            </v-flex>
            <hr/>
            <v-flex xs12 align-content-start="true" v-bind:class="{'hidden':!dayDescriptionToDo}">
                <v-card class="text-lg-left pa-0 px-1 ma-0">
                    <p class="ma-0">Day To Do Message:<b class="text-lg-left title text-msg py-1">{{dayDescToDo}}</b></p>
                </v-card>
            </v-flex>
            <hr/>
            <v-flex xs12 style="overflow-y: auto; max-height: 240px;">
                <v-layout row wrap v-for="team in data.teams" :key="team.id">
                    <v-flex xs12>
                        <v-card class="text-lg-left pa-3 ">
                            <h3 class="title">{{team.name}}</h3>

                            <table style="width: 100%">
                                <tbody>
                                <tr v-for="(teammember, id) in team.teamMembers" class="member-item" :class="{'red white--text conflict':  teammember.isConflict}">

                                    <td class="text-lg-center px-3 "
                                        v-if="!teammember._noPlanned && teammember.plannings.length"
                                        contenteditable="true"
                                        v-html="teammember._planned">
                                    </td>

                                    <td v-if="teammember._noPlanned" colspan="3"
                                        class="grey--text lighten-1 text-lg-center">
                                        Sick leave
                                    </td>

                                    <td class="text-lg-left caption">
                                        {{teammember.name}}
                                    </td>

                                </tr>
                                </tbody>
                            </table>
                        </v-card>
                    </v-flex>
                </v-layout>

                <v-layout row wrap v-if="noMembers">
                    <v-flex xs12>
                        <v-card class="text-lg-left pa-3 ">
                            <h3 class="title">No members planned</h3>
                        </v-card>
                    </v-flex>
                </v-layout>

            </v-flex>
        </v-layout>
    </div>


</template>

<script>
    import {VUtils} from '../viewer/VUtils';
    import {DaysMemberPlanning} from '../viewer/utils/DaysMemberPlanning';

    export default {
        name: 'PlannedInfo',
        props: [],
        data: function () {
            return {
                left: -Infinity,
                top: -Infinity,
                data: {teams: []},
                title: null,
                cell: null,
                dayDesc: null,
                dayDescToDo: null,
                periodDesc: null,
                periodDescToDo: null,
                active: false,
                noMembers: false
            }
        },
        computed: {
            noMembersStatus: function () {
                return !this.noMembers && this.data.teams && this.data.teams.length > 0;
            },
            showTeamMembersPlanning: function () {
                return this.noMembers;
            },
            dayDescription: function () {
                return !!this.dayDesc;
            },
            dayDescriptionToDo: function () {
                return !!this.dayDescToDo;
            },
            periodDescription: function () {
                return !!this.periodDesc;
            },
            periodDescriptionToDo: function () {
                return !!this.periodDescToDo;
            }
        },
        mounted: function () {
        },
        methods: {
            show: function (data, e, event) {
                this.noMembers = false;
                this.active = !!data;
                this.data = {teams: []};
                if (this.active) {
                    let cell = this.cell = data.cell;
                    let _branch = data.cell._currentItemBranch,
                        _day = data.cell._daysUTC[data.cell._currentItemHor],
                        _periodId = data.cell._periodContainer.id,
                        _teams = [],
                        hasToShowData = false;
                    // debugger
                    _branch.teams.forEach(team => {
                        let _t = {name: team.name, teamMembers: [], members: {}};
                        team.teamMembers.forEach(teamMember => {

                            teamMember.plannings.forEach(planning => {
                                if ((planning.date == _day || Math.abs(planning.date - _day) < VUtils.DAY_IN_UTC / 6)
                                    && planning.collaborator_planning_entry_id == _periodId) {
                                    if (!_t.members[teamMember.id]) {
                                        _t.members[teamMember.id] = {
                                            name: teamMember.first_name + " " + teamMember.last_name,
                                            plannings: []
                                        };
                                        _t.teamMembers.push(_t.members[teamMember.id]);
                                    }
                                    if(!_t.members[teamMember.id].isConflict)DaysMemberPlanning.checkMemberHollidayConflict(teamMember,_day,()=>{
                                        _t.members[teamMember.id].isConflict = true;
                                    });
                                    _t.members[teamMember.id].plannings.push(planning);

                                    for (let i = 0; i < VUtils.PLANNING_MEMBER_SEQUENCE.length; i++) {
                                        if (planning.sequence == VUtils.PLANNING_MEMBER_SEQUENCE[i].value) {
                                            if(! _t.members[teamMember.id]._planned) _t.members[teamMember.id]._planned='';
                                            _t.members[teamMember.id]._planned += (`<p class="header my-0">${VUtils.PLANNING_MEMBER_SEQUENCE[i].name}</p>`);
                                            // break;
                                        }
                                    }
                                    hasToShowData = true;

                                }
                            })
                        });
                        if (_t.teamMembers.length) _teams.push(_t);
                    });
                    // this.active = hasToShowData;
                    this.periodDesc = cell._periodContainer.description;
                    this.periodDescToDo = cell._periodContainer.description_to_do;
                    this.dayDesc = cell._description ? cell._description.description : null;
                    this.dayDescToDo = cell._description ? cell._description.description_to_do : null;
                    if (!hasToShowData) {
                        this.noMembers = (cell._currentItemBranch.contact.contact_types_indexes.indexOf(VUtils.TYPES.CONTACT_TEAM)>-1   ||
                            cell._currentItemType._info.contact.contact_types_indexes.indexOf(VUtils.TYPES.CONTACT_TEAM)>-1
                        );
                    } else {
                        this.data = {teams: _teams};
                    }


                    // this.title = `${cell._currentItemType._info.info.title}(${cell._currentItemBranch.info.abbreviation}):
                    // ${new Date(new Date(0).setUTCSeconds(cell._daysUTC[cell._currentItemHor])).formatDate()}`;
                    let delta = 10,
                        _w = this.$refs.container.clientWidth,
                        _h = this.$refs.container.clientHeight;

                    this.left = e.data.global.x + _w + delta;// - offsets.left;
                    this.top = e.data.global.y + delta;//- offsets.top;


                    if (this.left > event.target.clientWidth - _w) this.left -= _w - delta;
                    if (this.top > event.target.clientHeight - _h) this.top -= _h - delta;
                }
            }
        }
    }
</script>
<style>

    .member-item{
        border-bottom: 1px solid gray;
    }
    .text-msg {
        display: block;
        text-overflow: ellipsis;
        overflow: hidden;
    }

    .tooltip-el {
        transition: left, top 0.3s;
        position: absolute;
        background: whitesmoke;
        max-width: 240px;
        /*max-height: 240px;*/
        text-overflow: ellipsis;
        overflow: hidden;
        opacity: 0;
        pointer-events: none;
        -webkit-box-shadow: 10px 9px 51px 0px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 10px 9px 51px 0px rgba(0, 0, 0, 0.75);
        box-shadow: 10px 9px 51px 0px rgba(0, 0, 0, 0.75);
    }

    .tooltip-el.active {
        opacity: 1;
    }
</style>

