<template>
	<v-app id="login">
		<v-snackbar color="black" :timeout="3000" :top="true" :multi-line="false" :vertical="true" v-model="snackbar.active">
			{{ snackbar.text }}
			<v-btn flat color="white" @click.native="snackbar.active = false">X</v-btn>
		</v-snackbar>
		<v-layout row wrap>
			<v-flex xs0 sm7>
				<div class="__background">
					<div class="__layer">
					</div>
				</div>
			</v-flex>
			<v-flex xs12 sm5>
				<v-layout align-center justify-center class="__logo">
					<img src='../../../../static/img/logo/logo.png' height="40px" />
				</v-layout>
				<v-form class="__form">
					<p>Please enter your email and password to login</p>
					<v-text-field v-model="loginUsername" prepend-icon="person" name="login" label="Login" type="text" />
					<v-text-field v-model="loginPassword" prepend-icon="lock" name="password" label="Password" id="password" type="password" />
					<v-btn @click="sendLogin($event)" class="__login-button white--text" block round>
						Login</v-btn>
				</v-form>

			</v-flex>
		</v-layout>
	</v-app>
</template>

<script>
	import { Auth } from '@/services/AuthService';

	export default {
	  name: 'SfinxLogin',
	  data() {
	    return {
	      drawer: null,
	      loginUsername: '',
	      loginPassword: '',
	      error: '',
	      snackbar: {
	        active: false,
	        text: ''
	      }
	    };
	  },
	  methods: {
	    sendLogin: function(e) {
	      e.preventDefault();
	      let user = this.loginUsername;
	      let pass = this.loginPassword;

	      if (user === '' || pass === '') {
	        this.snackbar.text =
	          'Gelieve een gebruikersnaam en paswoord in te geven';
	        this.snackbar.active = true;
	      } else {
	        this.$auth.login({
	          fetchUser: false,
	          rememberMe: false,
	          data: {
	            username: user,
	            password: pass
	          },
	          redirect: 'dashboard',
	          error: res => {
	            if (res.response.status === 401) {
	              this.snackbar.text = 'Verkeerde gebruikersnaam en/of paswoord';
	            } else {
	              this.snackbar.text = 'Er is iets misgegaan';
	            }
	            this.snackbar.active = true;
	          }
	        });
	      }
	    }
	  }
	};
</script>

<style lang="scss" scoped>
	@import '../../../global';
	.__background {
	  background-repeat: no-repeat;
	  background-size: cover;
	  width: 100%;
	  height: 100%;
	}
	.__layer {
	  position: relative;
	  width: 100%;
	  height: 100%;
	  background-image: linear-gradient(
	    127deg,
	    $nav-background_color,
	    $nav-background_color
	  );
	}
	.__logo {
	  margin-top: 28%;
	  margin-bottom: 5%;
	}
	.__form {
	  text-align: justify;
	  color: #c2c2c2;
	  width: 60%;
	  font-size: 20px;
	  margin-left: 20%;
	}
	.__login-button {
	  background: #373b44; /* fallback for old browsers */
	  background: -webkit-linear-gradient(
	    to right,
	    #1c53f8,
	    #1c9bf8
	  ); /* Chrome 10-25, Safari 5.1-6 */
	  background: linear-gradient(
	    to right,
	    #1c53f8,
	    #1c9bf8
	  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	}
</style>
