<template>
    <v-flex xs12  text-xs-left class="px-0  py-0 card">
        <v-card dark fill-height class="px-1 py-0 dark">
            <v-card-title class="px-5 py-2">
                <div class="content">Personal Holidays</div>
                <v-spacer></v-spacer>
                <v-btn @click="onSelectItem(null,1)" flat icon class="white--text">
                    <v-icon>add</v-icon>
                </v-btn>
            </v-card-title>
        </v-card>
        <v-flex xs12>
            <v-data-table v-model="selected" :headers="headers" hide-actions :items="member.tempHolidays" select-all
                          item-key="_externals_id"
                          class="elevation-1">
                <template slot="items" slot-scope="props">
                    <tr :active="props.selected">
                        <td>
                            <v-checkbox v-model="props.selected" primary hide-details></v-checkbox>
                        </td>
                        <!--<td class="text-xs-left">{{ props.item.name }}</td>-->
                        <td class="text-xs-left">{{ props.item.start }}</td>
                        <td class="text-xs-left">{{ props.item.end }}</td>
                        <td class="justify-center layout px-0">
                            <v-btn icon class="mx-0" @click="onSelectItem(props.item,3)">
                                <v-icon color="pink">delete</v-icon>
                            </v-btn>
                            <v-btn icon class="mx-0" @click="onSelectItem(props.item,2)">
                                <v-icon dark color="secondary">edit</v-icon>
                            </v-btn>
                        </td>
                    </tr>
                </template>
            </v-data-table>
        </v-flex>
        <v-dialog v-model="dialogEdit" max-width="700px">
            <v-card>
                <v-card-title>
                    {{tempItem_.id||tempItem_._id?`Edit`:`Add new`}} Personal Holiday
                </v-card-title>
                <v-card-text>
                    <v-container grid-list-md>
                        <v-layout wrap>
                            <v-flex d-flex>
                                <v-subheader>Datum</v-subheader>
                                <v-layout row wrap>
                                    <v-flex xs6>

                                        <v-dialog ref="dataStartMenu" v-model="dataStartMenu" persistent lazy full-width
                                                  width="290px">
                                            <v-text-field slot="activator" label="Start Date"
                                                          v-model="tempItem_.start" prepend-icon="event"
                                                          readonly></v-text-field>
                                            <v-date-picker v-model="tempItem_.start"
                                                           :allowed-dates="allowedStartDate" scrollable>
                                                <v-spacer></v-spacer>
                                                <v-btn flat color="primary" @click="dataStartMenu = false">Cancel
                                                </v-btn>
                                                <v-btn flat color="primary"
                                                       @click="$refs.dataStartMenu.save(tempItem_.start)">OK
                                                </v-btn>
                                            </v-date-picker>
                                        </v-dialog>
                                    </v-flex>
                                    <v-flex xs6>
                                        <v-dialog ref="dataEndtMenu" v-model="dataEndtMenu" persistent lazy full-width
                                                  width="290px">
                                            <v-text-field slot="activator" label="Start Date"
                                                          v-model="tempItem_.end" prepend-icon="event"
                                                          readonly></v-text-field>
                                            <v-date-picker v-model="tempItem_.end"
                                                           :allowed-dates="allowedEndDate" scrollable>
                                                <v-spacer></v-spacer>
                                                <v-btn flat color="primary" @click="dataEndtMenu = false">Cancel</v-btn>
                                                <v-btn flat color="primary"
                                                       @click="$refs.dataEndtMenu.save(tempItem_.end)">OK
                                                </v-btn>
                                            </v-date-picker>
                                        </v-dialog>


                                    </v-flex>
                                </v-layout>
                            </v-flex>
                        </v-layout>
                    </v-container>
                </v-card-text>
                <v-card-actions>
                    <v-btn color="primary" flat @click.stop="dialogEdit=false">Close</v-btn>
                    <v-btn flat @click.stop="onActionItem(tempItem_.id||tempItem_._id?2:1)">
                        {{tempItem_.id||tempItem_._id?`Edit`:`Add`}}
                    </v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>
        <v-dialog v-model="dialogDelete" persistent max-width="590">
            <v-card>
                <v-card-title class="headline">Are you sure you want to delete the Personal Holiday?
                </v-card-title>
                <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn color="green darken-1" flat
                           @click.native="dialogDelete=false">Cancel
                    </v-btn>
                    <v-btn color="green darken-1" flat
                           @click.native="onActionItem(3)">Yes
                    </v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>
    </v-flex>
</template>

<script>
    export default {
        name: 'member-holiday',
        props: ['member'],
        data() {
            return {
                dataStartMenu: false,
                dataEndtMenu: false,
                dialogEdit: null,
                dialogDelete: null,
                tempItem_: {},
                selected: [],
                list: [],
                headers: [
                    {
                        text: 'Start Date',
                        align: 'left',
                        value: 'start'
                    }, {
                        text: 'End Date',
                        align: 'left',
                        value: 'end'
                    },
                    {
                        text: 'Actions',
                        sortable: false,
                        align: 'left',
                        value: 'name'
                    }
                ]
            };
        },
        methods: {
            allowedEndDate(val) {
                return val >= this.tempItem_.start;
            },
            allowedStartDate(val) {
                return val <= this.tempItem_.end;
            },
            onSelectItem(item, action) {
                let _item = this.tempItem_ = {};
                if (item) {
                    this.tempItem_.originItem = item;
                    Object.assign(this.tempItem_, item);

                }
                ['start', 'end'].forEach((el) => {
                    _item[el] = new Date(_item[el] || Date.now());
                    _item[el] = _item[el].format('yyyy-mm-dd');
                });
                switch (action) {
                    case 1: {//on create new
                        this.dialogEdit = true;
                        break
                    }
                    case 2: {//on create new
                        this.dialogEdit = true;
                        break
                    }
                    case 3: {//on create new
                        this.dialogDelete = true;
                        break
                    }
                }
            },
            onActionItem(action) {


                switch (action) {
                    case 1:
                    case 2: {//edit
                        if (action == 2) {
                            Object.assign(this.tempItem_.originItem, this.tempItem_);
                        } else {
                            this.tempItem_._id = Date.now();
                            this.member.tempHolidays.push(this.tempItem_);
                        }
                        break;
                    }
                    case 3: {
                        for (let i = 0; i < this.member.tempHolidays.length; i++) {
                            if (this.member.tempHolidays[i]._id == this.tempItem_._id ||
                                (this.member.tempHolidays[i].id && this.member.tempHolidays[i].id == this.tempItem_.id)) {
                                this.member.tempHolidays.splice(i, 1);
                                break;
                            }
                        }
                    }
                }
                this.member.tempHolidays =this.member.tempHolidays.concat([]);
                this.tempItem_.originItem = null;
                delete this.tempItem_.originItem;
                this.dialogDelete = this.dialogEdit = false;
            },
        },
        mounted() {
        },
        computed: {
        }
    };
</script>
