<template>
    <v-layout row justify-center>
        <v-dialog v-model="siteToolsDialog" fullscreen transition="dialog-bottom-transition" :overlay=false>
            <v-card>
                <v-toolbar dark>
                    <v-btn icon dark @click.native="toggleSiteToolsDialog">
                        <v-icon>close</v-icon>
                    </v-btn>
                    <v-toolbar-title>Instellingen</v-toolbar-title>
                    <v-spacer></v-spacer>
                    <v-toolbar-items>
                        <v-btn flat @click.native="saveSiteToolsSettings()">
                            save
                        </v-btn>
                    </v-toolbar-items>
                </v-toolbar>
                <v-layout row wrap>
                    <v-flex xs12 class="px-4" v-if="setings.hasClientSwitch">
                        <v-switch
                                :label="`Client view`"
                                v-model="planner_client_view"
                                @change="toggleView('planner_client_view')"
                        ></v-switch>
                    </v-flex>
                    <v-flex xs6 class="border">
                        <v-list class="ml-5" three-line subheader>
                            <v-subheader class="mt-3">Planner Selectie</v-subheader>
                        </v-list>
                        <v-container fluid class="ml-5">
                            <v-layout row>
                                <p style="display: none">{{contacts.length}}</p>
                                <v-flex xs9>
                                    <v-layout row wrap>
                                        <v-flex xs12 sm6>
                                            <v-subheader v-text="'Klanten:'"></v-subheader>
                                        </v-flex>
                                        <v-flex xs12 sm6>
                                            <item-select-load :items="allClientSites" :model="selectedClientSite"
                                                              :item_label="`Select & Add new Site`"
                                                              :item_text="`name`"
                                                              :not_required="true"
                                                              :query_link="`contacts/all`"
                                                              @onSelect="onSelectItemContactClient"></item-select-load>
                                        </v-flex>
                                    </v-layout>
                                    <v-layout row wrap v-if="setings.hasDatum">
                                        <v-flex xs12 sm6>
                                            <v-subheader v-text="'Medewerkers:'"></v-subheader>
                                        </v-flex>
                                        <v-flex xs12 sm6>
                                            <item-select-load :items="allContractorsSites" :model="selectedContractorsSite"
                                                              :item_label="`Select Contractors`"
                                                              :item_text="`name`"
                                                              :not_required="true"
                                                              :query_link="`contacts/all`"
                                                              @onSelect="onSelectItemContactNoClient"></item-select-load>

                                        </v-flex>
                                    </v-layout>
                                    <v-layout row wrap>
                                        <v-flex x12 sm6>
                                            <v-subheader v-text="'Projectleider:'"></v-subheader>
                                        </v-flex>
                                        <v-flex xs12 sm6>
                                            <v-autocomplete :items="allProjectLeader" v-model="selectedProjectLeider"
                                                            label="Select Project leads" return-object
                                                            item-text="fullName"
                                                            @change="addProjectLeader()">
                                            </v-autocomplete>
                                        </v-flex>
                                    </v-layout>
                                </v-flex>
                            </v-layout>

                        </v-container>

                        <v-flex class="ml-5" v-if="setings.hasDatum" xs12>
                            <v-subheader>Datum</v-subheader>
                            <v-layout row wrap>
                                <v-flex xs5>
                                    <v-menu ref="menu" :close-on-content-click="false" v-model="menu"
                                            :nudge-right="20" lazy transition="scale-transition" offset-y full-width
                                            min-width="190px">
                                        <v-text-field slot="activator" solo v-model="dateBegin" label="Start date"
                                                      prepend-icon="event"></v-text-field>
                                        <v-date-picker v-model="dateBegin" :allowedDates="allowedDatesFrom">
                                            <v-spacer></v-spacer>
                                            <v-btn flat color="primary" @click="menu = false">Cancel</v-btn>
                                            <v-btn flat color="primary" @click="$refs.menu.save(dateBegin)">OK
                                            </v-btn>
                                        </v-date-picker>
                                    </v-menu>
                                </v-flex>
                                &emsp;
                                <v-flex xs5>
                                    <v-menu ref="menu2" :close-on-content-click="false" v-model="menu2"
                                            :nudge-right="20" lazy transition="scale-transition" offset-y full-width
                                            min-width="190px">
                                        <v-text-field slot="activator" solo v-model="dateEnd" label="End date"
                                                      prepend-icon="event"></v-text-field>
                                        <v-date-picker v-model="dateEnd" :allowedDates="allowedDatesTo"
                                                       :change="setDateRange()">
                                            <v-spacer></v-spacer>
                                            <v-btn flat color="primary" @click="menu2 = false">Cancel</v-btn>
                                            <v-btn flat color="primary" @click="$refs.menu2.save(dateEnd)">OK
                                            </v-btn>
                                        </v-date-picker>
                                    </v-menu>
                                </v-flex>
                            </v-layout>
                        </v-flex>

                    </v-flex>
                    <v-flex xs5 class="border">
                        <v-container>
								<span>
									<v-btn depressed block disabled>
										Selected Klanten
									</v-btn>
								</span>
                            <span v-for="(site, index) in sites" :key="`A-${site.id||index}`">
									<span v-if="site.contact.contact_types_indexes.indexOf(VUtils.TYPES.CONTACT_CLIENT)>-1">
										<p class="text-xs-center ma-3" @click.right="selectEditSite($event,site)">{{ site.contact.name }}
											<v-icon color="red accent-4" style="cursor:pointer"
                                                    @click="removePlanningToShow(site)">clear</v-icon>
											<v-divider></v-divider>
										</p>
									</span>
								</span>
                            <div v-if="setings.hasDatum">
                            <span>
									<v-btn depressed block disabled>
										Selected Medewerkers
									</v-btn>
								</span>
                                <span v-for="(site, index) in sites" :key="`B-${site.id||index}`">
									<span v-if="site.contact.contact_types_indexes.indexOf(VUtils.TYPES.CONTACT_COLLABORATOR)>-1
									||site.contact.contact_types_indexes.indexOf(VUtils.TYPES.CONTACT_TEAM)>-1">
										<p class="text-xs-center" @click.right="selectEditSite($event,site)">{{ site.contact.name }} &emsp;
											<v-icon color="red accent-4" style="cursor:pointer"
                                                    @click="removePlanningToShow(site)">clear</v-icon>
											<v-divider></v-divider>
										</p>
									</span>
								</span>
                            </div>
                        </v-container>
                    </v-flex>
                </v-layout>
            </v-card>
        </v-dialog>
    </v-layout>
</template>

<script>

    import {VUtils} from '../../views/+planner/viewer/VUtils';
    import router from '@/routes';

    export default {
        name: 'construction-site-settings',
        props: ['setings'],
        data() {
            let self = this;

            return {
                auth_token: localStorage.getItem('default_auth_token'),
                LEGACY_URL: process.env.LEGACY_URL,

                planner_client_view: false,
                VUtils: VUtils,
                type: 2,
                hasDetailsData: false,
                isUpdated: false,
                notifications: false,
                sound: true,
                menu: false,
                menu2: false,
                widgets: false,
                daterange: {start: 0, end: 0},
                dateBegin: '',
                dateEnd: '',
                sites: [],
                selectedContractorsSite: null,
                selectedProjectLeider: null,
                selectedClientSite: null,
                allContractorsSites: [],
                allClientSites: [],
                allProjectLeader: [],
                noProjectLeader: [],
                setDateRange: async function (daterange) {

                    if ((!this.dateBegin || !this.dateEnd) && !daterange) return;
                    let from = new Date(this.dateBegin),
                        to = new Date(this.dateEnd),
                        _from = new Date(this.daterange.start),
                        _end = new Date(this.daterange.end),
                        _l = self.daterange.customClone,
                        request = {start: this.dateBegin, end: this.dateEnd};

                    if (daterange) {
                        from = new Date(daterange.start);
                        to = new Date(daterange.end);
                        request = {start: from.format('yyyy-mm-dd'), end: to.format('yyyy-mm-dd')}
                    }
                    if (from && to && from < to && (from.getTime() != _from.getTime() || _end.getTime() != to.getTime())) {
                        this.axios.post(
                            `${process.env.API_URL}/api/v1/planner/daterange`,
                            request
                        ).then(function (res) {

                            if (daterange) {
                                self.daterange = {start: daterange.start, end: daterange.end};
                                [
                                    {v: 'start', out: 'dateBegin'},
                                    {v: 'end', out: 'dateEnd'}
                                ].forEach(function (els) {
                                    let timePicker = new Date(daterange[els.v]);
                                    self[els.out] = timePicker.format('yyyy-mm-dd');
                                });

                                return self.$refs.viewer.toggle(true, true);
                            } else {
                                self.$store.state.planner.history.add({
                                    callback: ((_d) => {
                                        return async () => {
                                            return await self.setDateRange(_d);
                                        }
                                    })(_l)
                                });
                            }

                            self.daterange = {start: self.dateBegin, end: self.dateEnd};
                            self.isUpdated = true;
                        });
                    }
                },
                allowedDatesFrom: function (date) {
                    if (self.dateEnd) {
                        return new Date(date) < new Date(self.dateEnd);
                    }
                    return true;
                },
                allowedDatesTo: function (date) {
                    if (self.dateBegin) {
                        return new Date(date) > new Date(self.dateBegin);
                    }
                    return true;
                },
                removePlanningToShow: function (site, withoutHistory) {
                    let isClient = site.contact.contact_types_indexes.indexOf(VUtils.TYPES.CONTACT_CLIENT)>-1,
                        route = isClient ? 'construction-site' : 'collaborator';
                    this.axios
                        .delete(`${process.env.API_URL}/api/v1/user/contact/${site.contact.id}/${route}/` + (isClient ? site.id : site.contact.id))
                        .then(function (res) {
                            if (res.data != 0) {
                                if (self.sites) {
                                    for (let i = 0; i < self.sites.length; i++) {
                                        if (self.sites[i].id == site.id &&
                                            (
                                                isClient && self.sites[i].contact.contact_types_indexes.indexOf(VUtils.TYPES.CONTACT_CLIENT)>-1 ||
                                                (!isClient && site.contact.id == self.sites[i].contact.id)
                                            )) {
                                            let _site = self.sites.splice(i, 1)[0].contact;
                                            if (_site.contact_types_indexes.indexOf(VUtils.TYPES.CONTACT_CLIENT)>-1) {
                                                self.allClientSites.push(_site);
                                            } else {
                                                self.allContractorsSites.push(_site);
                                            }

                                            self.sites = self.sites.concat([]);
                                            if (!withoutHistory) {
                                                self.$store.state.planner.history.add({
                                                    callback: ((type, site) => {
                                                        return async () => {
                                                            return await self.addSite(type, site);
                                                        }
                                                    })(isClient ? 1 : 2, _site)
                                                });
                                            } else {
                                                return self.$store.dispatch('navigation/changePLanerViewer', Date.now());
                                            }
                                            break;
                                        }
                                    }
                                }

                                self.isUpdated = true;
                            }
                        });
                }
            };
        },
        computed: {
            contacts(){
                let self =this,
                    sites = this.$store.getters['contacts/all'];
                self.allClientSites = [];
                self.allContractorsSites = [];

                for (let i = 0; i < sites.length; i++) {
                    let shouldAdd = true;
                    for (let d = 0; d < self.sites.length; d++) {
                        if (self.sites[d].contact.id == sites[i].id) {
                            shouldAdd = false;
                            break;
                        }
                    }
                    if (shouldAdd) {
                        if (sites[i].contact_types_indexes.indexOf(VUtils.TYPES.CONTACT_CLIENT)>-1) {
                            self.allClientSites.push(sites[i]);
                        } else {
                            self.allContractorsSites.push(sites[i]);
                        }
                    }

                }
                return sites;
            },
            siteTypes(){ return this.$store.getters['common/constructionSiteSettings/all']},
            siteToolsDialog: function () {
                let isModel = this.$store.getters['navigation/siteToolsVisibility'],
                    _parent = this.$parent;
                if (_parent.$refs.viewer) {
                    if (isModel) _parent.$refs.viewer.toggle(false);
                    if (isModel && !this.hasDetailsData) {
                        self.axios.get(`${process.env.API_URL}/api/v1/planner?details=true`)
                            .then((res) => {
                                if (res.data) {
                                    this.hasDetailsData = true;
                                    this.updateListOfSites(null, null, res.data);
                                }
                            });
                    }
                }

                return isModel;
            },
        },
        mounted() {
            this.$store.dispatch('common/constructionSiteSettings/all');
            this.$store.dispatch('navigation/changeSiteToolsVisibility', false);
            if (this.$auth.check()) {
                this.$auth.fetch({
                    success: function (res) {
                        let user = res.data.data;
                        this.planner_client_view = user.settings.planner_client_view;
                    },
                    error: function (res) {
                        console.log('Something went wrong');
                    }
                });
            }
        },
        watch: {
            '$store.state.planner.utils.emty_rows'(val, oldVal) {
                let _parent = this.$parent;
                if (_parent.$refs.viewer && _parent.$refs.viewer.viewer && _parent.$refs.viewer.viewer.toggleActiveRows) _parent.$refs.viewer.viewer.toggleActiveRows();
            },
            '$store.state.navigation.planerViewer'(val, oldVal) {
                let _parent = this.$parent;
                if (_parent.$refs.viewer) {
                    if (val && val.start && val.end) {
                        _parent.$store.state.planner.history.add({
                            callback: ((_d) => {
                                return async () => {
                                    return await this.setDateRange(_d);
                                }
                            })(this.daterange.customClone)
                        });
                        this.daterange = {start: val.start, end: val.end};
                        [
                            {v: 'start', out: 'dateBegin'},
                            {v: 'end', out: 'dateEnd'}
                        ].forEach((els) => {
                            this[els.out] = val[els.v];
                        });
                    }
                    _parent.$refs.viewer.toggle(true, true);
                } else if (this.$route.path.match('workflow/view')) {
                    if (this.isUpdated) this.$store.dispatch('workflow/updateSettings', Date.now());
                }
            }
        },
        methods: {
            toggleView: function (v) {
                setTimeout(() => {
                    this.$auth.fetch({
                        success: function (res) {
                            let user = res.data.data;
                            let userUpdate = {};
                            userUpdate[type] = user.settings[type] = this[type];
                            this.$store.dispatch('users/settings', userUpdate)
                                .then(() => {
                                    this.isUpdated = true;
                                });
                        },
                        error: function (res) {
                            console.log('Something went wrong');
                        }
                    });

                }, 100);

            },
            addProjectLeader: function (withHistory) {
                let self = this;
                setTimeout(function () {
                    let leader = self.selectedProjectLeider;
                    if (!leader) return;
                    self.selectedProjectLeider = null;
                    self.axios
                        .post(`${process.env.API_URL}/api/v1/user/${leader.id}/project-leader`)//-1 temp value, mean anyone can make
                        .then(function (res) {
                            if (res.data) {
                                if (!withHistory) {
                                    self.$store.state.planner.history.add({
                                        callback: async () => {
                                            return await self.removeProjectLeader(leader);
                                        }
                                    });
                                }
                                for (let i = 0; i < res.data.length; i++) {
                                    if(res.data[i].id ==leader.id){
                                        self.isUpdated = true;
                                        leader.sites = res.data[i].sites;
                                        let _s = leader.sites.concat([]);
                                        if (_s) {
                                            while (_s.length > 0) {
                                                let leaderSite = _s.shift(),
                                                    shouldAdd = true;

                                                leaderSite._isFromProjectLeader = true;
                                                for (let di = 0; di < self.sites.length; di++) {
                                                    if (self.sites[di].contact.id == leaderSite.contact.id) {
                                                        shouldAdd = false;
                                                        break;
                                                    }
                                                }
                                                if (shouldAdd) {
                                                    self.sites.push(leaderSite);
                                                    for (let i = 0; i < self.allClientSites.length; i++) {
                                                        if (self.allClientSites[i].id == leaderSite.contact.id) {
                                                            self.allClientSites.splice(i, 1);
                                                        }
                                                    }
                                                }
                                            }
                                        }

                                        break;
                                    }
                                }

                                // for (let i = 0; i < self.allProjectLeader.length; i++) {
                                //     if (self.allProjectLeader[i].id == leader.id) {
                                //         return self.allProjectLeader.splice(i, 1);
                                //     }
                                // }
                            }
                        });
                }, 100);

            },
            removeProjectLeader: function (leader) {
                let self = this,
                    req = {sites: []};
                for (let di = 0; di < self.sites.length; di++) {
                    let _s = self.sites[di];
                    if (_s._isFromProjectLeader /*&& _s.contact.type == VUtils.TYPES.CONTACT_CLIENT*/) {
                        req.sites.push(_s.id);
                    }
                }

                self.axios.delete(`${process.env.API_URL}/api/v1/user/${leader.id}/project-leader/-1?sites=${req.sites.reduce((_el, _next) => _el + "," + _next)}`)//-1 temp value, mean anyone can make
                    .then(function (res) {
                        if (res.data) {
                            for (let di = 0; di < self.sites.length; di++) {
                                let _s = self.sites[di];
                                if (_s._isFromProjectLeader) {
                                    let _siteLeader = self.sites.splice(di--, 1)[0],
                                        shouldAdd = true;
                                    for (let i = 0; i < self.allClientSites.length; i++) {
                                        if (self.allClientSites[i].id == _siteLeader.contact.id) {
                                            shouldAdd = false;
                                            break;
                                        }
                                    }
                                    if (shouldAdd) self.allClientSites.push(_siteLeader.contact);
                                }
                            }
                            self.allProjectLeader.push(leader);
                            self.$store.dispatch('navigation/changePLanerViewer', Date.now());
                        }
                    });
            },
            updateListOfSites: function (daterange, selectedSites, planner) {
                let self = this;
                if (daterange) {
                    self.daterange = daterange;
                    [
                        {v: 'start', out: 'dateBegin'},
                        {v: 'end', out: 'dateEnd'}
                    ].forEach(function (els) {
                        let timePicker = new Date(daterange[els.v]);
                        self[els.out] = timePicker.format('yyyy-mm-dd');
                    });
                }
                if (selectedSites) {
                    let _al = [];
                    self.sites = selectedSites.filter((el) => {
                        let isIn = _al.indexOf(el.contact.id) < 0;
                        _al.push(el.contact.id);
                        return isIn
                    });
                }

                if (!planner) return;
               /* self.allClientSites = [];
                self.allContractorsSites = [];
                let sites = planner.allSites;
                for (let i = 0; i < sites.length; i++) {
                    let shouldAdd = true;
                    for (let d = 0; d < self.sites.length; d++) {
                        if (self.sites[d].contact.id == sites[i].id) {
                            shouldAdd = false;
                            break;
                        }
                    }
                    if (shouldAdd) {
                        if (sites[i].type == VUtils.TYPES.CONTACT_CLIENT) {
                            self.allClientSites.push(sites[i]);
                        } else {
                            self.allContractorsSites.push(sites[i]);
                        }
                    }

                }*/
                self.allProjectLeader = planner.projectLeaders;
            },
            selectEditSite: function ($event, site) {
                $event.preventDefault();
                let self = this,
                    parent = this.$parent;
                parent.$refs.popupPlannerMove.updateDateRange(this.daterange);
                parent.$refs.popupPlannerMove.cell = null;
                parent.$refs.popupPlannerMove.site = site;
                parent.$refs.popupPlannerMove.active = true;
                parent.$refs.popupPlannerMove.onFinishUpdate = function () {
                    self.isUpdated = true;
                };
            },
            onSelectItemContactClient(model){
                this.selectedClientSite = model;
                this.addSite(1);
            },
            onSelectItemContactNoClient(m){
                this.selectedContractorsSite =m;
                this.addSite(2);
            },
            addSite: function (type, site) {
                let self = this;
                setTimeout(function () {
                    if (
                        !self.selectedClientSite &&
                        !self.selectedContractorsSite && !site
                    )
                        return;
                    let model, list, siteName,
                        route = 'construction-site',
                        isClient = type == 1;
                    if (isClient) {
                        model = self.selectedClientSite;
                        list = self.allClientSites;
                    } else {
                        model = self.selectedContractorsSite;
                        list = self.allContractorsSites;
                        route = 'collaborator'
                    }

                    if (site) {
                        model = site;
                    }
                    if (!model) return console.error('bad select model');
                    self.selectedContractorsSite = self.selectedClientSite = null;
                    model.siteType = self.siteTypes.filter((el)=>el.name==self.setings.type)[0];
                    if(!model.siteType)model.siteType = self.siteTypes[1];//default
                    self.axios
                        .post(`${process.env.API_URL}/api/v1/user/contact/${model.id}/${route}`, model)
                        .then(function (res) {
                            let _restoreSite = res.data.data;
                            if (!_restoreSite) _restoreSite = res.data;
                            if (_restoreSite) {
                                _restoreSite.contact = model;
                                self.sites.push(_restoreSite);

                                for (var i = 0; i < list.length; i++) {
                                    if (list[i].id == model.id) {
                                        list.splice(i, 1);
                                        break;
                                    }
                                }
                                if (site) {
                                    //from history
                                    self.$store.dispatch('navigation/changePLanerViewer', Date.now());
                                } else {
                                    self.isUpdated = true;
                                    self.$store.state.planner.history.add({
                                        callback: ((_s) => {
                                            return async () => {
                                                return await self.removePlanningToShow(_s, true);
                                            }
                                        })(_restoreSite)
                                    });
                                }
                            }
                        });
                }, 100);
            },
            saveSiteToolsSettings: function () {
                let parent = this.$parent;
                if (parent.$refs.viewer) {
                    parent.$refs.viewer.toggle(true, this.isUpdated);
                } else if (this.$route.path.match('workflow/view')) {
                    if (this.isUpdated) this.$store.dispatch('workflow/updateSettings', Date.now());
                }
                this.isUpdated = false;
                this.toggleSiteToolsDialog();
            },
            toggleSiteToolsDialog: function () {
                let parent = this.$parent;
                if (parent.$refs.viewer) {
                    parent.$refs.viewer.toggle(true, this.isUpdated);
                } else if (this.$route.path.match('workflow/view')) {
                    if (this.isUpdated) this.$store.dispatch('workflow/updateSettings', Date.now());
                }
                this.isUpdated = false;
                this.$store.dispatch(
                    'navigation/changeSiteToolsVisibility',
                    !this.siteToolsDialog
                );
            }
        }
    };
</script>

<style>
    .planner {
        display: flex;
        width: 100%;
        height: 100%;
    }

    .btn-remove {
        vertical-align: middle;
        cursor: pointer;
        font-weight: 800;
        color: #c22;
    }

    iframe {
        width: 100%;
        height: 500px;
    }

    .border {
        border: 1px solid #f5f5f5;
        border-radius: 10px;
        margin: 1% 0% 1% 1%;
        min-height: 700px;
    }
</style>
