<template>
    <v-flex xs12 class="py-1">
        <v-card dark fill-height class="px-1 py-0 dark">
            <v-card-title class="px-5 py-0">
                <div class="content">{{title}}(s)</div>
                <v-spacer></v-spacer>
                <v-btn @click="onAddNew()" flat icon class="white--text">
                    <v-icon>add</v-icon>
                </v-btn>
            </v-card-title>
        </v-card>
        <v-dialog v-model="dialogEdit" persistent max-width="500px">
            <v-card>
                <v-card-title>
                    {{tempData.id?'Edit':'Add'}} {{title}}
                </v-card-title>
                <v-card-text>
                    <v-select   :items="users" return-object v-model="tempData.user" item-text="fullName"
                              label="Select User">
                    </v-select>

                    <v-text-field
                            label="Percentage"
                            v-model="tempData.percentage"
                            type="number"
                            name="input-1"
                            min="0"
                            max="100"
                            required
                    ></v-text-field>

                </v-card-text>
                <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn color="primary" flat @click.native="dialogEdit=false">Close</v-btn>
                    <v-btn flat @click.stop="adctItem()">Save</v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>
        <v-dialog v-model="dialogDelete" persistent max-width="590">
            <v-card>
                <v-card-title class="headline">Are you sure you want to delete {{title}}
                    {{this.tempData.user?this.tempData.user.fullName:''}} ?
                </v-card-title>
                <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn color="green darken-1" flat @click.native="dialogDelete=false">Cancel</v-btn>
                    <v-btn color="green darken-1" flat @click.native="deleteItem()">Yes</v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>

        <v-data-table :headers="headers" hide-actions :items="list" item-key="id" class="elevation-1">
            <template slot="items" slot-scope="props">
                <tr>
                    <td class="text-xs-left">{{ props.item.user.fullName }}</td>
                    <td class="text-xs-left">{{ props.item.percentage }}</td>
                    <td class="justify-center layout px-0">
                        <v-btn icon class="mx-0" @click="onSelectToEdit(props.item)">
                            <v-icon dark color="secondary">edit</v-icon>
                        </v-btn>
                        <v-btn icon class="mx-0" @click="selectToDelete(props.item)">
                            <v-icon dark color="pink">delete</v-icon>
                        </v-btn>
                    </td>
                </tr>
            </template>
        </v-data-table>

    </v-flex>
</template>

<script>
    export default {
        name: 'user-state',
        props: ['list', 'category', 'site'],
        data() {
            return {
                dialogEdit: false,
                dialogDelete: false,
                userState: null,
                info: null,
                title: '',
                headers: [
                    {
                        text: 'User',
                        align: 'left',
                        sortable: false,
                        value: 'percentage'
                    },
                    {
                        text: 'Percentage',
                        align: 'left',
                        value: 'percentage'
                    }, {
                        text: 'Actions',
                        sortable: false,
                        align: 'left',
                        value: 'id'
                    }
                ],
                tempData: {}
            };
        },
        mounted() {
            this.$store.dispatch('users/getUsers');
            switch (this.category) {
                case 1: {
                    this.title = 'Estimator';
                    this.info = 'estimator';
                    this.userState = 'constructionSite/estimator/';
                    break;
                }
                default: {
                    this.info = 'projectLeader';
                    this.userState = 'constructionSite/projectLeader/';
                    this.title = 'Project Leader';
                    break;
                }
            }
            this.$store.dispatch(`${this.userState}all`, this.list);
        },
        methods: {
            onAddNew: function () {
                this.tempData = {percentage: parseFloat((100 / (this.list.length + 1)).toFixed(2))};
                this.dialogEdit = true;
            },
            addNew: function () {
                if (this._validate()) return alert('missed required data');
                this.tempData._id = Date.now();
                this.list.push(this.tempData);
                this.updateSiteInfo();
                this.tempData = {};


                this.dialogEdit = false;
            },
            _validate: function () {
                return (!this.tempData.user ||
                    !this.tempData.user.id ||
                    // typeof parseFloat(this.tempData.percentage) != 'number' ||
                    this.tempData.percentage < 0 || this.tempData.percentage > 100);
            },

            adctItem: function () {
                if (this.tempData.id || this.tempData._id) {
                    this.editItem();
                } else {
                    this.addNew();
                }
            },
            selectToDelete: function (item) {
                this.tempData = item;
                this.dialogDelete = true;
            },
            deleteItem: function () {
                this.dialogDelete = false;
                for (let i = 0; i < this.list.length; i++) {
                    if (this.list[i]._id) {
                        if (this.list[i]._id == this.tempData._id) {
                            this.list.splice(i, 1);
                            break;
                        }
                    } else if (this.list[i].id == this.tempData.id) {
                        this.list.splice(i, 1);
                        break;
                    }
                }
                this.updateSiteInfo();
                this.tempData = {};
            },
            onSelectToEdit: function (item) {
                this.tempData = {
                    origin: item
                }
                Object.assign(this.tempData, item);
                this.tempData.user = this.users.filter((el) => {
                    return el.id == this.tempData.user.id
                })[0];
                this.dialogEdit = true;
            },
            editItem: function () {
                if (this._validate()) return alert('incorrect data');
                this.dialogEdit = false;
                for (let i = 0; i < this.list.length; i++) {
                    if (this.list[i]._id) {
                        if (this.list[i]._id == this.tempData._id) {
                            Object.assign(this.list[i], this.tempData);
                            break;
                        }
                    } else if (this.list[i].id == this.tempData.id) {
                        Object.assign(this.list[i], this.tempData);
                        break;
                    }
                }
                this.updateSiteInfo();
                this.tempData = {};
            },
            updateSiteInfo: function () {
                let totalP = parseFloat(this.tempData.percentage),
                    MAX_SIZE = 100,
                    delta = 1,
                    allow = parseFloat(MAX_SIZE / (this.list.length)).toFixed(2);
                if (totalP > allow + delta) {
                    alert("Warning, the percentage is too high");
                } else if (totalP < allow - delta) {
                    alert("Warning, the percentage is too low");
                } else {
                    let totalS = 0;
                    this.list.forEach((el) => {
                        totalS += el.percentage;
                    })
                    if (this.list.length > 0 && (totalS > MAX_SIZE + delta || totalS < MAX_SIZE - delta)) {

                    } else {
                        this.list.forEach((el) => {
                            el.percentage = allow
                        })
                    }

                }
            }
        },
        computed: {
            users() {
                return this.$store.getters['users/getAllUser'];
            }
        }
    };
</script>

<style scoped>
</style>
