<template>
	<div class="main-container container-body">
		<v-layout row wrap class="ma-2 ">
			<span v-for="(contact, index) in getAllContacts" :key="contact.id">
				<v-flex xs12 sm12 md12 class="ma-3">
					<v-card color="teal darken-1" fill-height class="py-1">
						<v-card-title class="px-2 py-5">
							<div class="team_title">{{contact.name}} </div>
						</v-card-title>
					</v-card>

					<router-link :to="'/contacts' + '/' + contact.id + '/' + 'team'">
						<v-card fill-height class="py-0 px-5">
							<v-card-title class="py-2 px-5">
								<div>View teams</div>
							</v-card-title>
						</v-card>
					</router-link>
				</v-flex>
			</span>
		</v-layout>
	</div>
</template>

<script>
	export default {
	  computed: {
	    getAllContacts() {
	      return this.$store.getters['contacts/getAllInternTypeContacts'];
	    }
	  },
	  mounted() {//Teams
	    this.$store.dispatch('contacts/getAllInternTypeContacts');
          this.$parent.title=  'Intern Teams';

	  },
        destroyed(){this.$parent.title= '';}
	};
</script>

<style lang="scss" scoped>
	.team_title {
	  color: #fff;
	  margin-top: 10%;
	  font-size: 14px;
	  position: absolute;
	}
	a {
	  text-decoration: none;
	  color: #666;
	}
</style>
