<template>
	<span>

		<tr class="mainTask  " :class="[item.is_parent?'item-parent-task':'']">
			<td class="px-0 py-0 text-xs-left" style="width: 0.5%">
				<v-flex d-flex>
					<v-btn style="cursor: move" icon class="sortHandle">
						<v-icon>drag_handle</v-icon>
					</v-btn>
					<v-tooltip top v-if="item.children.length">
						<v-btn slot="activator" flat icon dark @click="toggleWrap()">
							<v-icon>{{isTogled?'remove':'add'}}</v-icon>
						</v-btn>
						<span>{{isTogled?'wrap':'unwrap'}}</span>
					</v-tooltip>
					<v-btn v-else flat icon dark style="visibility: hidden"> </v-btn>
				</v-flex>

			</td>
			<td v-for="field in fields" class="text-xs-left">{{item[field]}}</td>

			<td>
				<v-btn flat icon color="secondary lighten-2" dark @click="_parent.onSelectItem(item,2,parentList)">
					<v-icon color="secondary" flat dark>edit</v-icon> &nbsp;
				</v-btn>
				<v-btn flat icon color="secondary lighten-2" dark @click="_parent.onSelectItem(item,3,parentList)">
					<v-icon color="red" flat dark>delete</v-icon>
				</v-btn>
				<v-btn flat icon color="secondary lighten-2" dark @click="_parent.onSelectItem(item,1,parentList)">
					<v-icon color="primary" flat dark>add</v-icon>
				</v-btn>
			</td>
		</tr>
		<item-tree-nested :items="item.children"
                          :_parent="_parent"
                          :parentItem="item"
                          v-if="item.children && isTogled"
                          :fields="fields"></item-tree-nested>
	</span>
</template>


<script>
    import draggable from 'vuedraggable'

    export default {
        components: {
            draggable,
        },
        name: 'item-tree-node-nested',
        props: ['item', "_parent", "parentList", "fields"],
        data() {
            return {
                isTogled: true
            };
        },
        mounted() {
        },
        watch: {
            "$props._parent.wrap": function (pld, newV) {
                this.isTogled = newV;
            }
        },
        methods: {
            toggleWrap() {
                this.isTogled = !this.isTogled;
            }
        },
        computed: {
            group: function () {
                return this.parentList
            }
        }
    };
</script>


<style lang="scss" scoped>
    .mainTask {
        &.item-parent-task {
            background: gray;
        }
    }

    td {
        text-overflow: ellipsis;
        width: 10%;
        text-align: left;
        vertical-align: middle;
		border-bottom: 1px solid #c6c6c6;
    }

</style>
