<template>
    <v-flex xs12 sm12 lg12 xl10 text-xs-left class="px-0 px-1  py-0 card">
        <v-card fill-height class="px-0 py-0  ">
            <v-toolbar dark dense>
                <v-toolbar-title>Entries</v-toolbar-title>
                <v-spacer></v-spacer>
                <v-btn @click="onSelectItem(null,1)" flat icon class="white--text">
                    <v-icon>add</v-icon>
                </v-btn>
            </v-toolbar>
        </v-card>
        <v-flex xs12>
            <v-data-table celled :headers="headers"
                          disable-initial-sort :items="_all" item-key="id" hide-actions class="elevation-1"
                          ref="sortableTable">
                <template slot="items" slot-scope="props" :data-item-id="props.item.id">

                    <tr class="sortableRow" :id="props.item.id">
                        <td v-if="isIncomingInvoice">{{ props.item.site?props.item.site.name:'' }}
                        </td>
                        <td>{{ props.item.name }}</td>
                        <td>{{ props.item.amount }}</td>
                        <td>{{ props.item.vat_percentage }}</td>
                        <td>
                            <v-btn icon class="mx-0" @click="onSelectItem(props.item,3)">
                                <v-icon color="pink">delete</v-icon>
                            </v-btn>
                            <v-btn icon class="mx-0" @click="onSelectItem(props.item,2)">
                                <v-icon dark color="secondary">edit</v-icon>
                            </v-btn>
                        </td>
                    </tr>
                </template>

            </v-data-table>
        </v-flex>


        <v-dialog v-model="dialogEdit" persistent max-width="500px">
            <v-card>
                <v-card-title>
                    <span class="headline">{{tempItem.id?'Edit':"Add"}}  Entry</span>
                </v-card-title>
                <v-card-text>
                    <v-container grid-list-md>
                        <form>
                            <v-layout wrap>
                                <v-flex xs12 sm12 md12>
                                    <v-text-field label="Name" v-model="tempItem.name" required></v-text-field>
                                </v-flex>
                                <v-flex xs12 sm12 md12>
                                    <v-text-field label="Amount" type="number" v-model="tempItem.amount"
                                                  required></v-text-field>
                                </v-flex>
                                <v-flex xs12 sm12 md12>
                                    <v-text-field type="number" label="Vat Percentage" v-model="tempItem.vat_percentage"
                                                  required></v-text-field>
                                </v-flex>
                                <v-flex xs12 sm12 md12 v-if="isIncomingInvoice">
                                    <!--<v-autocomplete :items="sites" v-model="tempItem.site"-->
                                    <!--label="Select Site" return-object item-text="name">-->
                                    <!--</v-autocomplete>-->

                                    <item-select-load :items="sites" :model="tempItem.site"
                                                      :item_label="`Select Construction Site`"
                                                      :item_text="`name`"
                                                      :query_link="`finance/summary/all`"
                                                      @onSelect="onSelectConstructionSite"></item-select-load>
                                </v-flex>
                            </v-layout>
                        </form>
                    </v-container>
                    <small>*indicates required field</small>
                </v-card-text>
                <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn color="blue darken-1" flat @click.native="dialogEdit=false">Close
                    </v-btn>
                    <v-btn color="blue darken-1" flat @click.native="onActionItem(tempItem.id?2:1)">Save Changes
                    </v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>
        <v-dialog v-model="dialogDelete" persistent max-width="590">
            <v-card>
                <v-card-title class="headline">Are you sure you want to delete the Entry {{tempItem.name}} ?
                </v-card-title>
                <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn color="green darken-1" flat @click.native="dialogDelete=false">Cancel
                    </v-btn>
                    <v-btn color="green darken-1" flat @click.native="onActionItem(3)">Yes
                    </v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>
    </v-flex>
</template>

<script>
    export default {
        name: 'entries',
        props: ['item', 'type'],
        components: {},
        data() {
            return {
                isIncomingInvoice: this.type == 1,
                invoice_type: this.type == 1 ? 'incoming' : 'outgoing',
                tempItem: {},
                dialogEdit: false,
                dialogDelete: false,
                headers: [
                    {
                        text: 'Name',
                        align: 'left',
                        value: 'name'
                    },
                    {
                        text: 'Amount',
                        align: 'left',
                        value: 'amount'
                    },
                    {
                        text: 'Vat Percentage',
                        align: 'left',
                        value: 'vat_percentage'
                    },
                    {
                        text: 'Action',
                        align: 'left',
                        sortable: false,
                        value: 'action'
                    }
                ]
            };
        },
        computed: {
            _all: {
                cache: false,
                get() {
                    let list = [];
                    if (this.invoice_type) {
                        try {
                            list = this.$store.getters['finance/invoice/' + this.invoice_type + '/entry/all'];
                        } catch (e) {

                        }
                    }
                    return list;
                }
            },
            sites() {
                return this.$store.getters['finance/summary/all'];
            }
        },
        mounted() {
            if (this.type == 1) {
                this.headers.splice(0, 0,
                    {
                        text: 'Construction Site',
                        sortable: false,
                        align: 'left',
                        value: 'name'
                    });
                this.invoice_type = 'incoming';
                // this.$store.dispatch('finance/summary/all');
            } else {
                this.invoice_type = 'outgoing';
            }
            this.$store.dispatch('finance/invoice/' + this.invoice_type + '/entry/all', this.item);
        },
        methods: {
            onSelectConstructionSite(m) {
                this.tempItem.site = m;
            },
            onSelectItem(item, action) {
                this.tempItem = {};
                if (item) {
                    Object.assign(this.tempItem, item);
                }
                if (this.type == 1) {
                    if (this.tempItem.site) {
                        this.tempItem.site = this.sites.filter((el) => {
                            return el.id == this.tempItem.site.id;
                        })[0];
                    }
                }
                switch (action) {
                    case 2: {//on create new
                        this.dialogEdit = true;
                        break
                    }
                    case 3: {//on create new
                        this.dialogDelete = true;
                        break
                    }
                    default: {
                        this.dialogEdit = true;
                    }
                }
            },
            onActionItem(action) {
                this.tempItem.invoiceId = this.item.id;
                if (this.type == 1) {
                    if (this.tempItem.site) this.tempItem.construction_site_id = this.tempItem.site.id;
                }
                switch (action) {
                    case 1: {//add
                        this.$store.dispatch('finance/invoice/' + this.invoice_type + '/entry/addItem', this.tempItem);
                        break;
                    }
                    case 2: {//edit
                        this.$store.dispatch('finance/invoice/' + this.invoice_type + '/entry/editItem', this.tempItem);
                        break;
                    }
                    case 3: {//delete
                        this.$store.dispatch('finance/invoice/' + this.invoice_type + '/entry/deleteItem', this.tempItem);
                        break;
                    }
                }
                this.dialogDelete = this.dialogEdit = false;
            },
        },
        destroyed() {
        }
    };
</script>
