<template>
    <div>
        <v-card flat tile>
            <v-toolbar dark dense>
                <v-toolbar-title>Accounts</v-toolbar-title>
                <v-spacer></v-spacer>
                <v-btn flat color="white" dark @click="onSelectItem(null,1)">
                    <v-icon>add</v-icon> &nbsp; Add new Invoice Account
                </v-btn>
                <v-btn flat color="white" dark @click="toggleWrapping()">
                    {{wrap?'Unwrap':'Wrap'}} all
                </v-btn>
                <v-dialog justify-right v-model="dialogEdit" persistent max-width="500px">
                    <v-card>
                        <v-toolbar dark class="secondary">
                            <v-toolbar-title class="headline">{{tempItem.isAdd?'Add':'Edit'}}{{tempItem.id &&
                                (tempItem.parent_id||tempItem.isAdd)?' Sub':''}} Account Invoice
                            </v-toolbar-title>
                        </v-toolbar>
                        <v-card-text>
                            <v-container grid-list-md>
                                <v-layout wrap>
                                    <v-flex xs12 sm12 md12>
                                        <v-text-field label="Description" v-model="tempItem.description"
                                                      required></v-text-field>
                                    </v-flex>
                                    <v-flex xs12 sm12 md12>
                                        <v-text-field type="nimber" label="Amount" v-model="tempItem.amount"
                                                      required></v-text-field>
                                    </v-flex>
                                </v-layout>
                            </v-container>
                            <small>*indicates required field</small>
                        </v-card-text>
                        <v-card-actions>
                            <v-spacer></v-spacer>
                            <v-btn color="blue darken-1" flat @click.native="dialogEdit = false">Close</v-btn>
                            <v-btn color="blue darken-1" flat @click="actItem(tempItem.isAdd?1:2)">Save</v-btn>
                        </v-card-actions>
                    </v-card>
                </v-dialog>
                <v-dialog v-model="dialogDelete" persistent max-width="500">
                    <v-card>
                        <v-card-title class="headline">Are you sure you want to delete the Account {{tempItem.name}} ?
                        </v-card-title>
                        <v-card-actions>
                            <v-spacer></v-spacer>
                            <v-btn color="green darken-1" flat @click.native="dialogDelete=false">Cancel
                            </v-btn>
                            <v-btn color="green darken-1" flat @click.native="actItem(3)">Yes
                            </v-btn>
                        </v-card-actions>
                    </v-card>
                </v-dialog>
            </v-toolbar>
        </v-card>
        <div v-show="loading" class="loader mt-5"></div>

        <div style="overflow: auto;height: calc(100vh - 50px);">
            <item-tree-nested :items="all" :parentItem="{}"
                              :_parent="_parent" :fields="fields"></item-tree-nested>
        </div>

    </div>
</template>

<script>
    export default {
        data() {
            return {
                wrap: false,
                loading: true,
                fields: [
                    'amount',
                    'sequence',
                    'description',
                ],
                tempItem: {
                    name: null,
                    description: null,
                },
                dialogEdit: false,
                dialogDelete: false,
            };
        },
        mounted: function () {
            this.$store.dispatch('finance/invoice/accounts/all').then((el) => {
                this.loading = false;
            })

        },
        methods: {
            toggleWrapping() {
                this.wrap = !this.wrap;
            },
            onSelectItem(item, action, parentList = null) {

                this.tempItem = {};
                if (item && action != 1) {
                    Object.assign(this.tempItem, item);
                    this.tempItem._originItem = item;
                }
                switch (action) {
                    case 1: {//on add new one
                        this.tempItem.isAdd = true;
                        if (item) this.tempItem.parent_workflow_task_id = this.tempItem.parent_id = item.id;
                        this.dialogEdit = true;
                        break;
                    }
                    case 2: {//on edit
                        this.dialogEdit = true;
                        break;
                    }
                    case 3: {//on delete
                        this.dialogDelete = true;
                        break;
                    }
                }

            },
            actItem(action, item = null) {
                let _temp = this.tempItem;
                switch (action) {
                    case 1: {//on add new one
                        this.$store.dispatch('finance/invoice/accounts/addItem', this.tempItem);
                        break;
                    }
                    case 2: {//on edit
                        this.$store.dispatch('finance/invoice/accounts/editItem', item || this.tempItem);
                        break;
                    }
                    case 3: {//on delete
                        this.$store.dispatch('finance/invoice/accounts/deleteItem', this.tempItem);
                        break;
                    }
                }
                this.dialogEdit = this.dialogDelete = false;
                this.tempItem = {};

            }


        },
        computed: {
            _parent() {
                return this;
            },
            all() {
                return this.$store.getters['finance/invoice/accounts/all'];
            }
        }
    };
</script>

<style scoped>
    .nested_subtask {
        background-color: #f3f3f3;
    }

    .mainTask {
    }

    .subTask {
        background-color: #d3d3d3;
        font-weight: 600;
    }

    table {
        width: 100%;
    }

    td {
        width: 10%;
    }

    .indent {
        padding-left: 5%;
    }

    .indent1 {
        padding-left: 8%;
    }

    .loader {
        border: 10px solid #f3f3f3;
        border-radius: 50%;
        border-top: 10px solid #3498db;
        width: 60px;
        height: 60px;
        margin: 0 auto;
        -webkit-animation: spin 2s linear infinite; /* Safari */
        animation: spin 2s linear infinite;
    }

    /* Safari */
    @-webkit-keyframes spin {
        0% {
            -webkit-transform: rotate(0deg);
        }
        100% {
            -webkit-transform: rotate(360deg);
        }
    }

    @keyframes spin {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(360deg);
        }
    }
</style>
