<template>
	<div id="app">
		<router-view v-if="$auth.ready()"></router-view>
	</div>
</template>

<script>
    import {Hooks} from './hooks.js';
	export default {
		name: 'app'
	};
</script>
<style lang="scss">
	@import 'global';
	$background: $main-background-color;
	$navy: #000f59;
	$darkgreen: #186600;

	.font-darkgreen {
		color: $darkgreen;
	}

	.font-navy {
		color: $navy;
	}

	html {
		font-size: 62.5%;
	}

	html[lang] {
		overflow: auto;
	}

	body * {
		font-size: $regular-font-size;
	}

	html, body {
		margin: 0;
		padding: 0;
		height: 100vh;
		width: 100vw;
		font-family: Tahoma, Verdana, Arial, serif;
	}

	p, h1, h2, h3, h4, h5, h6  {
		padding: 0;
		margin: 0;
	}

	a.list__tile--link {
		&:focus {
			outline: none;
		}
	}

	#app {
		background-color: $background;
	}
</style>
