/*
	General
*/

$main-color: rgb(234, 234, 234);
$accent-color: #acb0b6;

$allowed-color: rgb(40, 172, 40);
$disallowed-color: rgb(221, 0, 0);

$white: #fff;

/*
	Main
*/

$main-background-color: $main-color;
$regular-font-size: 1rem;

/*
	Titles
*/

$title-color: #000;
$title-background-color: $main-background-color;
$title-font-size: 1.5rem;

/*
	Login
*/

$login-accent-color: #727e99;

/*
	Nav
*/

$nav-background-color: #eee;
$nav-background-color_1: #4F5370;

.navigation__drawer__list--active {
  background-color: #e53936;

}

.navigation__drawer__list:hover {
  background-color: #e53936;
}

.pleft {
  padding-left: 25px;
}

.checkbox > .input-group__details {
  display: none !important;
}

hr {
  opacity: 0.12;
}

.hidden {
  display: none !important;
}

.construction-group {
  div {
    span {
      display: flex !important;
    }
  }
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes conflixt-blink {
  from {
    background-color: red;
  }
  to {
    background-color: yellow;
  }
}

/* Standard syntax */
@keyframes conflixt-blink {
  from {
    background-color: red;
  }
  to {
    background-color: yellow;
  }
}

.conflict {
  animation: conflixt-blink 4s infinite;
}

.summary-member {
  table.v-table thead tr {
    height: min-content !important;
  }
  table.v-table tbody td:first-child,
  table.v-table tbody td:not(:first-child),
  table.v-table tbody th:first-child,
  table.v-table tbody th:not(:first-child),
  table.v-table thead td:first-child,
  table.v-table thead td:not(:first-child),
  table.v-table thead th:first-child,
  table.v-table thead th:not(:first-child),
  table.v-table tbody td,
  table.v-table tbody td:first-child,
  table.v-table tbody td:not(:first-child),
  table.v-table tbody th:first-child,
  table.v-table tbody th:not(:first-child),
  table.v-table thead td:first-child,
  table.v-table thead td:not(:first-child),
  table.v-table thead th:first-child,
  table.v-table thead th:not(:first-child),
  table.v-table thead tr > th,
  .v-datatable.v-table th {
    padding: 2px 24px !important;
    height: auto;
  }

  .container {
    padding: 0;
    .v-toolbar__content {
      height: auto !important;
      padding: 2px 24px !important;
      .v-toolbar__title {
        font-size: 16px;
      }
    }
  }
  p {
    margin: 0;
  }
  .no-planning {
    background: red;
    &.sick-days {
      background: orange;
    }
  }
}

.main-work {
  /* table.v-table thead th{
     background: red;
     padding: 4px !important;
     height: 10px !important;
   }*/

}

.main-container {
  .name-item{
    width: 460px!important;
  }
  .function-group {
    flex-grow: unset !important;
    flex-shrink: unset !important;
  }
  &.container-body {
    overflow: auto;
    max-height: calc(100vh - 48px); //221 hardcoded height
  }
  .fullWidth {
    width: 100% !important;
  }
  &.workflow {
    overflow: hidden;
    .list-table {
      table {
        table-layout: fixed;
        border-collapse: collapse;
        //width: auto;
        tbody {
          width: 100%;
          overflow: auto;
          tr {
            display: flex;
            justify-content: space-between;
            align-items: center;
          }
        }
        thead {
          tr {
            display: flex;
            justify-content: space-between;
            align-items: center;
          }
        }
        thead, tbody {
          th, td {
            .text-info {
              width: 40px;
              text-overflow: ellipsis;
              float: left;
              overflow: hidden;
            }
            //display: flex;
            height: auto;
            width: 140px;
            text-align: center;
            text-overflow: ellipsis;
            overflow: hidden;
            //white-space: nowrap;
          }
          display: block;
        }

        tbody {
          max-height: calc(100vh - 105px); //221 hardcoded height
          overflow-y: auto;
        }
      }
    }
  }
  &.finances {
    overflow: hidden;

    &.summary {
      .summary-member {
        table {
          width: 100%;
          thead, tbody {
            display: contents;
          }
        }
      }
      .list-table {
        table {
          tbody {
            max-height: calc(100vh - 165px);
            overflow-y: auto;
          }
        }
      }
    }
    .list-table {
      table {
        table-layout: fixed;
        border-collapse: collapse;
        width: auto;
        tbody {
          width: 100%;
          overflow: auto;
          tr {
            display: flex;
            justify-content: space-between;
            align-items: center;
          }
        }
        thead {
          tr {
            display: flex;
            justify-content: space-between;
            align-items: center;
          }
        }
        thead, tbody {
          th, td {
            .text-info {
              width: 40px;
              text-overflow: ellipsis;
              float: left;
              overflow: hidden;
            }
            //display: flex;
            height: auto;
            width: 140px;
            text-align: center;
            text-overflow: ellipsis;
            overflow: hidden;
            //white-space: nowrap;
          }
          display: block;
        }

        tbody {
          max-height: calc(100vh - 231px); //221 hardcoded height
          overflow-y: auto;
        }
      }
    }
  }
  &.users {
    overflow: hidden;
    .list-table {
      table {
        table-layout: fixed;
        border-collapse: collapse;
        width: 100%;
        tbody {
          width: 100%;
          overflow: auto;
          tr {
            display: flex;
            justify-content: space-between;
            align-items: center;
          }
        }
        thead {
          tr {
            display: flex;
            justify-content: space-between;
            align-items: center;
          }
        }
        thead, tbody {
          th, td {
            .text-info {
              width: 40px;
              text-overflow: ellipsis;
              float: left;
              overflow: hidden;
            }
            //display: flex;
            height: auto;
            width: 140px;
            text-align: center;
            text-overflow: ellipsis;
            overflow: hidden;
            //white-space: nowrap;
          }
          display: block;
        }

        tbody {
          max-height: calc(100vh - 105px); //221 hardcoded height
          overflow-y: auto;
        }
      }
    }
    &.user-group {
      .list-table {
        table {
          table-layout: fixed;
          border-collapse: collapse;
          width: auto;
          tbody {
            width: 100%;
            overflow: auto;
            tr {
              display: flex;
              justify-content: space-between;
              align-items: center;
            }
          }
          thead {
            tr {
              display: flex;
              justify-content: space-between;
              align-items: center;
            }
          }
          thead, tbody {
            th, td {
              padding: 0;
              .text-info {
                width: 40px;
                text-overflow: ellipsis;
                float: left;
                overflow: hidden;
              }
              //display: flex;
              height: auto;
              width: 140px;
              text-align: center;
              text-overflow: ellipsis;
              overflow: hidden;
              //white-space: nowrap;
            }
            display: block;
          }

          tbody {
            height: calc(100vh - 115px); //221 hardcoded height
            overflow-y: auto;
          }
        }
      }
    }
  }
  &.def-items {
    overflow: hidden;
    .list-table {
      table {
        table-layout: fixed;
        border-collapse: collapse;
        width: 100%;
        tbody {
          width: 100%;
          overflow: auto;
          tr {
            display: flex;
            justify-content: space-between;
            align-items: center;
          }
        }
        thead {
          tr {
            display: flex;
            justify-content: space-between;
            align-items: center;
          }
        }
        thead, tbody {
          th, td {
            .text-info {
              width: 40px;
              text-overflow: ellipsis;
              float: left;
              overflow: hidden;
            }
            //display: flex;
            height: auto;
            width: 140px;
            text-align: center;
            text-overflow: ellipsis;
            overflow: hidden;
            //white-space: nowrap;
          }
          display: block;
        }

        tbody {
          max-height: calc(100vh - 115px); //221 hardcoded height
          overflow-y: auto;
        }
      }
    }
  }
  &.contacts {
    overflow: hidden;
    .list-table {
      table {
        table-layout: fixed;
        border-collapse: collapse;
        width: 100%;
        tbody {
          width: 100%;
          overflow: auto;
          tr {
            display: flex;
            justify-content: space-between;
            align-items: center;
          }
        }
        thead {
          tr {
            display: flex;
            justify-content: space-between;
            align-items: center;
          }
        }
        thead, tbody {
          th, td {
            .text-info {
              width: 40px;
              text-overflow: ellipsis;
              float: left;
              overflow: hidden;
            }
            //display: flex;
            height: auto;
            width: 140px;
            text-align: center;
            text-overflow: ellipsis;
            overflow: hidden;
            //white-space: nowrap;
          }
          display: block;
        }

        tbody {
          max-height: calc(100vh - 195px); //221 hardcoded height
          overflow-y: auto;
        }
      }
    }
  }

  .team-list {
    max-height: calc(100vh - 48px);
    overflow-y: auto;
  }
}

.invoice-details-container {
  max-height: calc(100vh - 96px);
  overflow-y: auto;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $login-accent-color;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  cursor: move;
  background: $nav-background-color_1;
}


