<template>

    <div class="main-container finances summary">

        <div >
            <v-card flat tile>
                <v-toolbar dark dense>
                    <v-toolbar-title>Summary {{child}}</v-toolbar-title>
                    <v-spacer></v-spacer>

                    <v-spacer></v-spacer>
                    <v-toolbar-items>
                        <v-btn :to="{ name: 'summary-details'}" flat ripple>Details</v-btn>
                        <v-btn :to="{ name: 'summary-members'}" flat ripple>Members</v-btn>
                    </v-toolbar-items>


                </v-toolbar>

            </v-card>
            <router-view></router-view>

            <v-data-table  v-if="isVisibe" allow-overflow celled :headers="headers" hide-actions disable-initial-sort
                           disable-initial-sort :items="all" item-key="id" class="elevation-1 list-table"
                           :id="`component_${_uid}`"
                          ref="sortableTable">
                <template slot="items" slot-scope="props" :data-item-id="props.item.id">

                    <tr class="sortableRow" :id="props.item.id">

                        <td>{{ props.item.contact.name }}</td>
                        <td>{{ props.item.date_last_outgoing_invoice }}</td>
                        <td>
                            {{ props.item.total_amount_outgoing_invoices}}
                        </td>
                        <td>{{ props.item.date_last_incoming_invoice}}</td>
                        <td>
                            <span class="text-info">{{ props.item.total_amount_incoming_invoices}}</span>
                            <router-link :to="('/finances/site/'+props.item.id+'/incoming-invoices')">
                                <v-tooltip bottom>
                                    <v-btn slot="activator" icon>
                                        <v-icon>edit</v-icon>
                                    </v-btn>
                                    <span>View Incoming Invoice Details</span>
                                </v-tooltip>
                            </router-link>
                        </td>
                        <td>{{ props.item.date_financial_details }}</td>
                        <td>{{ props.item.total_amount_orders }}</td>
                        <td>{{ props.item.total_amount_processed }}</td>
                        <td>{{ props.item.bk_wn }}</td>
                        <!--<td>{{ props.item.sequence }}</td>-->
                    </tr>
                </template>

            </v-data-table>

        </div>
    </div>

</template>

<script>
    import {PaginateFilter} from '@/services/paginate.filter';
    export default {
        data() {
            return {
                filter: {
                    keys:['name'],//input keys here, so in result quiry will check filter[keyName]
                    name:'',
                    query_link:'finance/summary/all',
                },
                isVisibe: true,
                child: '',
                headers: [
                    {
                        text: 'Contact',
                        align: 'left',
                        value: 'name'
                    },
                    {
                        text: 'Date last outgoing invoice',
                        align: 'left',
                        value: 'date_last_outgoing_invoice'
                    },
                    {
                        text: 'Total Amount(outgoing invoices)',
                        align: 'left',
                        value: 'total_amount_outgoing_invoices'
                    },
                    {
                        text: 'Date last incoming invoice',
                        align: 'left',
                        value: 'date_last_incoming_invoice'
                    },
                    {
                        text: 'Total Amount(incoming invoices)',
                        align: 'left',
                        value: 'total_amount_incoming_invoices'
                    },
                    {
                        text: 'Date Financial Details',
                        align: 'left',
                        value: 'date_financial_details'
                    },
                    {
                        text: 'Total Amount Orders',
                        align: 'left',
                        value: 'total_amount_orders'
                    }, {
                        text: 'Total Amount Processed',
                        align: 'left',
                        value: 'total_amount_processed'
                    },
                    {
                        text: 'BK WN',
                        align: 'left',
                        value: 'bk_wn'
                    }/*,
                    {
                        text: 'Sequence',
                        align: 'left',
                        value: 'sequence'
                    }*/
                ]
            }
        },
        computed: {
            all() {
                return this.$store.getters['finance/summary/all'];
            }
        },
        methods: {},
        mounted() {
            Object.assign(this,new PaginateFilter(this));
        }
    };
</script>


