<template>
    <div class="main-container users">


        <v-dialog v-model="dialogEdit" persistent max-width="500px">
            <v-card>
                <v-card-title>
                    <span class="headline">{{tempItem.id?'Edit':'New'}} User</span>
                </v-card-title>
                <v-card-text>
                    <v-container grid-list-md>
                        <v-form class="__form" ref="updateUser" xs12>
                            <v-layout wrap>

                                <v-flex xs6>
                                    <v-text-field label="First Name" append-icon="person" v-model="tempItem.first_name"
                                                  required></v-text-field>

                                </v-flex>
                                <v-flex xs6>
                                    <v-text-field xs6 label="Last Name" v-model="tempItem.name"
                                                  append-icon="person"
                                                  minLength="4"
                                                  maxLength="20"
                                                  :rules="[rules.required, rules.counterText]"
                                                  required></v-text-field>
                                </v-flex>
                                <v-flex xs12>
                                    <v-text-field label="Username"
                                                  append-icon="person"
                                                  minLength="4"
                                                  maxLength="20"
                                                  :rules="[rules.required, rules.counterText]"
                                                  v-model="tempItem.username" required></v-text-field>
                                </v-flex>

                                <v-flex xs6>
                                    <v-text-field
                                            :append-icon="showPsw ? 'visibility_off' : 'visibility'"
                                            v-model="tempItem.password"
                                            :rules="[  rules.counter, rules.matched]"
                                            label="Password"
                                            counter
                                            @input="onInputPsw"
                                            :type="showPsw ? 'text' : 'password'"
                                            maxlength="20"
                                            minlength="8"
                                            hint="At least 8 characters"
                                            @click:append="showPsw = !showPsw"
                                    ></v-text-field>
                                </v-flex>
                                <v-flex xs6>
                                    <v-text-field
                                            :append-icon="showPswR ? 'visibility_off' : 'visibility'"
                                            v-model="tempItem.passwordRepeat"
                                            :rules="[ rules.counter, rules.matched]"
                                            label="Password"
                                            counter
                                            @input="onInputPsw"
                                            :type="showPswR ? 'text' : 'password'"
                                            maxlength="20"
                                            minlength="8"
                                            hint="At least 8 characters"
                                            @click:append="showPswR = !showPswR"
                                    ></v-text-field>

                                </v-flex>
                                <v-flex xs12>
                                    <v-autocomplete :items="allUserGroups"
                                                    v-model="tempItem.userGroup" return-object item-text="name"
                                                    label="Select User group"></v-autocomplete>
                                </v-flex>

                            </v-layout>
                        </v-form>
                    </v-container>
                    <small>*indicates required field</small>
                </v-card-text>
                <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn color="blue darken-1" flat @click.native="dialogEdit = false">Close</v-btn>
                    <v-btn color="blue darken-1" flat @click.native="actItem()">Save</v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>
        <v-dialog v-model="dialogDelete" persistent max-width="590">
            <v-card>
                <v-card-title class="headline">Are you sure you want to delete the user {{tempItem.name}}? Also
                    will delete all relation user groups and users
                </v-card-title>
                <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn color="green darken-1" flat @click.native="dialogDelete=false;">
                        Cancel
                    </v-btn>
                    <v-btn color="green darken-1" flat @click.native="deleteItem()">Yes</v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>

        <v-data-table celled :headers="headers" :items="AllUsers" item-key="id" hide-actions
                      class="elevation-1 list-table">
            <template slot="items" slot-scope="props">
                <td>{{ props.item.username }}</td>
                <td>{{ props.item.first_name }}</td>
                <td>{{ props.item.name }}</td>
                <td>
                    <v-icon color="secondary" @click="onSelectItem(props.item,1)" flat dark>edit</v-icon>
                    <v-icon color="secondary" @click="onSelectItem(props.item,2)" flat dark>delete</v-icon>
                </td>
            </template>
        </v-data-table>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                showPswR: false,
                showPsw: false,
                dialogEdit: false,
                dialogDelete: false,
                tempItem: {},
                name: null,
                first_name: null,
                username: null,
                userGroup: null,
                password: null,
                rules: {
                    requiredPsw: value => (!!this.tempItem.password  ) || 'Required.',
                    required: value => !!value || 'Required.',
                    counterText: value => value && value.length >= 4 && value.length <= 20 || 'Min 4 characters',
                    counter: value => !value || value && value.length >= 8 && value.length <= 20 || 'Min 8 characters and Max 20 characters',
                    matched: value =>  this.tempItem.password === this.tempItem.passwordRepeat || 'Passwords not matched',
                },
                headers: [
                    {
                        text: 'Username',
                        sortable: false,
                        value: 'username'
                    },
                    {
                        text: 'First Name',
                        sortable: false,
                        value: 'first_name'
                    },
                    {
                        text: 'Name',
                        sortable: false,
                        value: 'name'
                    },
                    {
                        text: 'Actions',
                        sortable: false,
                        value: 'action'
                    }
                ]
            };
        },
        computed: {
            AllUsers() {
                return this.$store.getters['users/getAllUser'];
            },
            allUserGroups() {
                return this.$store.getters['userGroups/all'];
            }
        },
        methods: {
            onInputPsw(){this.forceUpdate();},
            actItem() {

                if (this.tempItem.userGroup) this.tempItem.user_group_id = this.tempItem.userGroup.id;
                if (this.tempItem.id) {
                    this.editItem();
                } else {
                    this.addItem();
                }
            },
            onSelectItem(item, type) {
                this.tempItem = {};
                if (item) Object.assign(this.tempItem, item);
                switch (type) {
                    case 1: {
                        this.tempItem.userGroup = item.group ? this.allUserGroups.filter((el) => {
                            return item.group.id == el.id;
                        })[0] : null;
                        this.dialogEdit = true;
                        break;
                    }
                    case 2: {
                        this.dialogDelete = true;
                        break;
                    }
                    default: {
                        this.dialogEdit = true;
                    }
                }
            },
            addItem() {
                this.$store.dispatch('users/addUser', this.tempItem);
                this.dialogEdit = false;
            },
            editItem() {
                if (this.$refs.updateUser.validate()) {
                    this.$store.dispatch('users/editUser', this.tempItem);
                    this.dialogEdit = false;
                }

            },
            deleteItem() {
                this.$store.dispatch('users/deleteUser', this.tempItem.id);
                this.dialogDelete = false;
            }
        },
        mounted() {
            this.$store.dispatch('users/getUsers');
            this.$store.dispatch('userGroups/all');
            this.$parent.title = 'All Users';
        },
        destroyed() {
            this.$parent.title = '';
        }
    };
</script>
