<template>
	<div id="rights-page">
		<v-card flat tile>
			<v-toolbar dark dense>
				<v-toolbar-title>Outline User Groups</v-toolbar-title>
			</v-toolbar>
		</v-card>
		<v-data-table :headers="headers" :items="rights" hide-actions class="elevation-1">
			<template slot="items" slot-scope="props">
				<td>{{ props.item.name }}</td>
				<td class="text-xs-right">{{ props.item }}</td>
				<td class="text-xs-right">{{ props.item }}</td>
				<td class="text-xs-right">{{ props.item }}</td>
				<td class="text-xs-right">{{ props.item }}</td>
				<td class="text-xs-right">{{ props.item }}</td>
			</template>
		</v-data-table>
	</div>
</template>

<script>
	export default {
	  name: 'Rights',
	  data() {
	    return {
	      headers: [
	        {
	          text: 'id',
	          align: 'left',
	          sortable: true,
	          value: 'id'
	        },
	        {
	          text: 'Project Description',
	          align: 'left',
	          sortable: true,
	          value: 'projectdescription'
	        },
	        {
	          text: 'Super User',
	          align: 'left',
	          sortable: true,
	          value: 'superuser'
	        },
	        {
	          text: 'Manager',
	          align: 'left',
	          sortable: true,
	          value: 'manager'
	        },
	        {
	          text: 'Management Assistant',
	          align: 'left',
	          sortable: true,
	          value: 'managementassistant'
	        },
	        {
	          text: 'Project Leader',
	          align: 'left',
	          sortable: true,
	          value: 'projectleider'
	        },
	        {
	          text: 'Calculator',
	          align: 'left',
	          sortable: true,
	          value: 'calculator'
	        },
	        {
	          text: 'Reserve account',
	          align: 'left',
	          sortable: true,
	          value: 'reserveaccount'
	        },
	        {
	          text: 'Out Of service',
	          align: 'left',
	          sortable: true,
	          value: 'outofservice'
	        }
	      ],
	      rights: []
	    };
	  }
	  //   beforeCreate() {
	  //     this.axios.get(`${process.env.APP_URL}/api/`).then(res => {
	  //       this.rights = res.data;
	  //     });
	  //   }
	};
</script>

<style lang="scss" scoped>
	#rights-page {
	}
</style>
