<template>
    <v-container class="px-1   py-1 invoice-details-container">
        <v-flex xs12 class="px-0   py-0">
            <b> {{item.name}}</b>

        </v-flex>
        <v-divider></v-divider>
        <v-layout row wrap v-if="item && item.id">
            <generalInfo :item="item"></generalInfo>
            <v-flex md9>
                <entries :item="item" :type="1"></entries>
                <br/>
                <invoiceSiteDetails :item="item"></invoiceSiteDetails>
            </v-flex>
        </v-layout>
    </v-container>
</template>

<script>
    import generalInfo from './details/general.info.vue';
    import entries from '../../+entries/index.vue';
    import invoiceSiteDetails from './details/index.vue';

    export default {
        components: {
            invoiceSiteDetails,
            entries,
            generalInfo
        },
        data() {
            return {
                data: {}
            };
        },
        computed: {
            item() {

                let id = this.$route.params.id;
                let items = this.$store.getters['finance/invoice/incoming/all'],
                    item = {};
                if (items) {
                    for (let i = 0; i < items.length; i++) {
                        if (items[i].id == id) {
                            return items[i]
                        }
                    }
                }
                return item;
            }

        },
        methods: {},
        mounted() {
            this.$parent.$parent.showAdd = false;
            this.$parent.canView = false;
            this.$store.dispatch('finance/invoice/incoming/all');
        },
        destroyed() {
            this.$parent.canView = this.$parent.$parent.showAdd = true;
        }
    };
</script>

