<template>
    <div class="summary-member">
        <v-card flat tile>
            <v-toolbar dark dense>
                <v-toolbar-title>Site Member Planning</v-toolbar-title>
            </v-toolbar>
        </v-card>

        <v-container>
            <v-data-table allow-overflow celled :headers="headers" hide-actions
                          disable-initial-sort :items="sites" item-key="id" class="elevation-1 list-table"
                          ref="sortableTable">
                <template slot="items" slot-scope="props" :data-item-id="props.item.id">

                    <tr class="sortableRow " :id="props.item.id"
                        v-bind:class="{ 'no-planning': props.item.hasNoPlanning,'sick-days':props.item.isShouldBeNotPlanning }">

                        <td>{{ props.item.name }}</td>
                        <td v-if="!props.item.isShouldBeNotPlanning">
                            <member-site-planning-item :site="props.item"
                                                       v-if="props.item.plannings.length"></member-site-planning-item>
                            <p v-else>No planning</p>
                        </td>
                        <td v-else>
                            Sick day
                        </td>
                    </tr>
                </template>

            </v-data-table>
        </v-container>

    </div>
</template>

<script>
    import memberSitePlanningItem from './planning';

    export default {
        components: {
            memberSitePlanningItem
        },
        props: ['sites'],
        name: 'member-site-planning',
        data() {
            return {
                valid: true,
                tempItem: {
                    month: null,
                    member: null
                },
                headers: [
                    {
                        text: 'Site',
                        sortable: false,
                        align: 'left',
                        value: 'name'
                    },
                    {
                        text: 'Planning Details',
                        sortable: false,
                        align: 'left',
                        value: 'name'
                    },
                ]
            }
        },
        computed: {},
        methods: {},
        mounted() {
        },
        destroyed() {
        }
    };
</script>
<style lang="scss" scoped>
    .summary-member {
        .no-planning {
            background: red;
            &.sick-days {
                background: orange;
            }
        }
    }


</style>

