<template>
    <div class="main-work">
        <v-card flat tile class="py-0">
            <v-toolbar dark dense class="py-0">
                <v-toolbar-title class="py-0">Member Planning</v-toolbar-title>
            </v-toolbar>
        </v-card>

        <v-container class="py-0">
            <v-data-table allow-overflow celled :headers="headers" hide-actions
                          disable-initial-sort :items="site.plannings" item-key="id" class="elevation-1"
                          ref="sortableTable">
                <template slot="items" slot-scope="props" :data-item-id="props.item.id">

                    <tr class="sortableRow" :id="props.item.id">

                        <td class="py-0">{{ props.item.nameOfWork }}</td>
                        <td class="py-0">
                            <v-flex d-flex class="work-timing">
                                <v-flex xs10>
                                    <v-text-field
                                            v-if="props.item.canEdit"
                                            type="number"
                                            min="0"
                                            v-model="props.item.hours"
                                            label="Working hour"
                                            :disabled="!props.item.canEdit"
                                    ></v-text-field>
                                    <p v-else class="my-0">{{props.item.hours}}</p>
                                </v-flex>
                                <v-flex xs2>
                                    <v-btn icon v-if="!props.item.canEdit" class="mx-0"
                                           @click="onActItem(props.item,1)">
                                        <v-icon small color="green">edit</v-icon>
                                    </v-btn>
                                    <v-btn icon v-else class="mx-0" @click="onActItem(props.item,2)">
                                        <v-icon color="pink">save</v-icon>
                                    </v-btn>
                                </v-flex>
                            </v-flex>
                        </td>
                    </tr>
                </template>

            </v-data-table>
        </v-container>

    </div>
</template>

<script>
    export default {
        props: ['site'],
        name: 'member-site-planning-item',
        data() {
            return {
                valid: true,
                canEdit: null,
                tempItem: {
                    month: null,
                    member: null
                },
                headers: [
                    {
                        text: 'Type',
                        sortable: false,
                        align: 'left',
                        value: 'name'
                    },
                    {
                        text: 'Working hour',
                        sortable: false,
                        align: 'left',
                        value: 'name'
                    },
                ]
            }
        },
        computed: {},
        methods: {
            onActItem(item, action) {
                item.canEdit = !item.canEdit;
                this.$forceUpdate();
                if (action == 1) {

                } else {
                    this.$store.dispatch('planner/site/collaborator/planning/details/editItem', item);
                }
            }
        },
        mounted() {
        }
    };
</script>
<style lang="scss" scoped>
    .main-work {
        .work-timing {
            align-items: center;
            height: 30px;
        }

    }

    .no-planning {
        background: red;
    }

</style>

