<template>
	<div id="sfinx-team">
        <v-card flat tile>
            <v-toolbar dark dense>
                <v-toolbar-title>{{title}}</v-toolbar-title>
                <v-spacer></v-spacer>
                <v-toolbar-items>
                    <v-btn :to="{ name: 'teams-view'}" flat ripple>Teams</v-btn>
                    <v-btn :to="{ name: 'teams-members'}" flat ripple>Members</v-btn>
                </v-toolbar-items>
                <v-btn @click="onSelectItem()" v-if="showAdd" flat icon class="white--text">
                    <v-icon flat dark>add</v-icon>
                </v-btn>

            </v-toolbar>
        </v-card>
		<router-view></router-view>
	</div>
</template>

<script>
	export default {
		name: 'SfinxTeam',
        data() {
            return {
                title:'',
                showAdd:false
            };
        },
        computed: {},
        methods: {
            onSelectItem(){
                this.$children[1].onSelectItem();
            }
        },
	}
</script>

<style lang="scss" scoped>

	#sfinx-team {
		height: 100%;
		width: 100%;
	}

</style>
