<template>
    <v-autocomplete :items="items" v-model="selectedModel"
                    :item-text="item_text"
                    :disabled="disabled"
                    :label="item_label" return-object
                    :search-input.sync="search"
                    :loading="isLoading" item-key="id" ref="selectionItems"
                    :rules="rules.select">
        <div slot="item" slot-scope="item" :id="`select-${_uid}`" class="list-item">
            {{ item.item[item_text]}}
        </div>
    </v-autocomplete>
</template>


<script>
    export default {
        components: {},
        name: 'item-select-load',
        props: [
            'items',
            'onSelect',
            'model',
            'item_text',
            'item_label',
            'not_required',
            'disabled',
            'filters',
            'query_link'
        ],
        event: 'onSelect',
        data() {
            return {
                search: '',
                paginate: null,
                isDestroyed: false,
                isLoading: false,
                rules: {}
            };
        },
        mounted() {
            if (!this.not_required) this.rules = {
                select: [
                    v => !!v || `${this.item_label} is required`,
                ]
            }
            let self = this,
            selectItem = this.$refs.selectionItems;
            selectItem.$refs.input.addEventListener('focus',()=>{
                self.loadMore(true);
            });

            (function addEvns() {
                self.loadMore(true).then(() => {
                    if (self.isDestroyed) return;
                    let el = selectItem.$children[0].$refs.content;

                    if (!el) {
                        return setTimeout(() => {
                            addEvns();
                            console.log(self.query_link);
                        }, 1500)
                    }
                    let handler = (el.addEventListener || el.attachEvent).bind(el);
                    handler('scroll', (e) => {
                        self.onScroll(e);
                    });


                });
            })()

        },
        methods: {

            isSelected(id) {
                console.log(id);
                for (let i = 0; i < this.items.length; i++) {
                    if (this.items[i].id == id) {

                        return true;
                    }
                }
                return false;
            },
            onScroll(e) {
                let _d = e.target;
                let _h = _d.children[0].clientHeight - e.target.clientHeight;
                if (_h <= _d.scrollTop + 10) {
                    this.loadMore();
                }
            },
            async loadMore() {
                this.isLoading = true;
                let queries = `name=${this.search || ''}`,
                    link;

                if (this.filters && !this.filters.match('undefined')&& !this.filters.match('null')){
                    queries += `&${this.filters}`;
                }
                if (this.paginate) {
                    if (!this.paginate.finish) return console.warn('in progress');
                    this.paginate.finish = false;
                    link = this.paginate.next_page_url + '&' + queries;
                }
                this.$forceUpdate();
                if ((this.paginate && !this.paginate.next_page_url)) {
                    if (this.paginate) {
                        this.paginate.finish = true;
                        this.paginate.isAll = true;
                    }
                    return console.warn('No more items');
                }
                this.paginate = {};
                let res = await this.$store.dispatch(`${this.query_link}`, {link, queries});
                this.paginate = res.data;
                this.paginate.finish = true;
                // if(this.onLoadItems)this.onLoadItems(res);
                this.isLoading = false;
            }
        },
        computed: {
            selectedModel: {
                get: function () {
                    return this.model;
                },
                set: function (value) {
                    this.$emit('onSelect', value);
                    this.paginate = null;
                    this.loadMore();
                    // Object.assign(this.model,value);
                    // this.$emit('update:model', value)
                }
            }
        },
        watch: {
            search(val) {
                this.paginate = null;
                this.loadMore();
            },
            filters(val) {
                this.paginate = null;
                if(val)this.loadMore();
            }
        },
        destroyed() {
            this.isDestroyed = true;
        }
    };
</script>


<style lang="scss" scoped>

</style>
