<template>
	<div id="#all-member">
		<v-card flat tile>
			<v-toolbar dark dense>
				<v-toolbar-title>All Members</v-toolbar-title>
				<v-spacer></v-spacer>
				<v-dialog v-model="dialog" persistent max-width="500px">
					<v-btn slot="activator" flat>
						<v-icon>add</v-icon> Add Member</v-btn>
					<v-card>
						<v-card-title>
							<span class="headline">Add Member</span>
						</v-card-title>
						<v-card-text>
							<v-container grid-list-md>
								<v-layout wrap>
									<v-flex xs12 sm12 md12>
										<v-text-field label="First Name" v-model="first_name" required></v-text-field>
									</v-flex>
									<v-flex xs12 sm12 md12>
										<v-text-field label="Last Name" v-model="last_name" required></v-text-field>
									</v-flex>
								</v-layout>
							</v-container>
							<small>*indicates required field</small>
						</v-card-text>
						<v-card-actions>
							<v-spacer></v-spacer>
							<v-btn color="blue darken-1" flat @click.native="dialog = false">Close</v-btn>
							<v-btn color="blue darken-1" flat @click.native="addMember">Add</v-btn>
						</v-card-actions>
					</v-card>
				</v-dialog>
			</v-toolbar>
		</v-card>
		<v-data-table celled :headers="headers" :items="AllMembers" item-key="id" hide-actions class="elevation-1">
			<template slot="items" slot-scope="props">
				<td>{{ props.item.first_name }}</td>
				<td>{{ props.item.last_name }}</td>
				<td>
					<v-dialog v-model="dialog2[props.item.id]" persistent max-width="500px">
						<v-icon slot="activator" color="secondary" @click="selectToEdit(props.item)" flat dark>edit &emsp;</v-icon>
						<v-card>
							<v-card-title>
								<span class="headline">Edit Member</span>
							</v-card-title>
							<v-card-text>
								<v-container grid-list-md>
									<v-layout wrap>
										<v-flex xs12 sm12 md12>
											<v-text-field label="First Name" v-model="first_name" required></v-text-field>
										</v-flex>
										<v-flex xs12 sm12 md12>
											<v-text-field label="Last Name" v-model="last_name" required></v-text-field>
										</v-flex>
									</v-layout>
								</v-container>
								<small>*indicates required field</small>
							</v-card-text>
							<v-card-actions>
								<v-spacer></v-spacer>
								<v-btn color="blue darken-1" flat @click.native="abortedEditing(props.item)">Close</v-btn>
								<v-btn color="blue darken-1" flat @click.native="editAndSaveMember(props.item)">Save Changes</v-btn>
							</v-card-actions>
						</v-card>
					</v-dialog>
					<v-dialog v-model="dialog1[props.item.id]" :key="props.item.id" persistent max-width="590">
						<v-icon slot="activator" color="primary" flat dark>delete</v-icon>
						<v-card>
							<v-card-title class="headline">Are you sure you want to delete the Member {{props.item.first_name}} ?</v-card-title>
							<v-card-actions>
								<v-spacer></v-spacer>
								<v-btn color="green darken-1" flat @click.native="$set(dialog1, props.item.id, false)">Cancel</v-btn>
								<v-btn color="green darken-1" flat @click.native="deleteMember(props.item.id)">Yes</v-btn>
							</v-card-actions>
						</v-card>
					</v-dialog>
				</td>
			</template>
		</v-data-table>
	</div>
</template>

<script>
	export default {
	  data() {
	    return {
	      dialog: false,
	      dialog2: {},
	      dialog1: {},
	      first_name: '',
	      last_name: '',
	      headers: [
	        {
	          text: 'First Name',
	          align: 'left',
	          sortable: false,
	          value: 'firstname'
	        },
	        {
	          text: 'Last Name',
	          align: 'left',
	          sortable: false,
	          value: 'lastname'
	        },
	        {
	          text: 'Action',
	          align: 'left',
	          sortable: false,
	          value: 'action'
	        }
	      ]
	    };
	  },
	  computed: {
	    AllMembers() {
	      return this.$store.getters['members/getAllMembers'];
	    }
	  },
	  mounted() {
	    this.$store.dispatch('members/getMembers');
	  },
	  methods: {
	    addMember() {
	      this.$store
	        .dispatch('members/addMember', {
	          first_name: this.first_name,
	          last_name: this.last_name
	        })
	        .then(() => {
	          this.dialog = false;
	          this.first_name = '';
	          this.last_name = '';
	        });
	    },
	    selectToEdit(item) {
	      this.first_name = item.first_name;
	      this.last_name = item.last_name;
	    },
	    editAndSaveMember(item) {
	      this.$store
	        .dispatch('members/editMember', {
	          first_name: this.first_name,
	          last_name: this.last_name,
	          id: item.id
	        })
	        .then(() => {
	          item.first_name = this.first_name;
	          item.last_name = this.last_name;
	          this.$set(this.dialog2, item.id, false);
	          this.first_name = '';
	          this.last_name = '';
	        });
	    },
	    deleteMember(id) {
	      this.$store.dispatch('members/deleteMember', id).then(() => {
	        this.$set(this.dialog1, id, false);
	      });
	    },
	    abortedEditing(item) {
	      this.first_name = '';
	      this.last_name = '';
	      this.$set(this.dialog2, item.id, false);
	    }
	  }
	};
</script>
