<template>
	<div>
		<div class="form-errors" v-if="Object.keys(formValidationMessages).length">
			<ul>
				<li v-for="error in formValidationMessages">
					<p>{{ error }}</p>
				</li>
			</ul>
		</div>

		<form>
			<div class="grid-left">
				<label for="sequence">Volgorde</label>
				<input v-bind:class="{ 'form-error': formValidationMessages.sequence }" id="sequence" v-model="form.sequence" type="number">
			</div>

		</form>

		<form>
			<div class="grid-left">
				<label for="name">Naam</label>
				<input v-bind:class="{ 'form-error': formValidationMessages.name }" id="name" v-model="form.name">
			</div>

		</form>

		<form>
			<div class="grid-left">
				<label for="fontawesome_tag">
					Font Awesome
					<a href="http://fontawesome.io/icons/" target="_blank" title="voor bvb afbeelding van een bad, vul 'bath' in. klik op om alle mogelijkheden te zien.">
						<i class="fa fa-info-circle"></i>
					</a>
				</label>
				<input v-bind:class="{ 'form-error': formValidationMessages.fontawesome_tag }" id="fontawesome_tag" v-model="form.fontawesome_tag">
			</div>
			<div class="grid-right">
				<p>
					<span v-html="getFontAwesomeIcon( form.fontawesome_tag ,'white')"></span>
				</p>
			</div>
		</form>

		<form>
			<div class="grid-left">
				<label for="state">Zichtbaar?</label>
				<input v-bind:class="{ 'form-error': formValidationMessages.state }" id="state" v-model="form.state" type="checkbox">
			</div>

		</form>

		<form id="form-button">
			<button v-if="!isLoading" v-on:click="onSubmit($event)">Afvinktype aanmaken</button>
			<button v-if="isLoading" disabled>
				<i class="fa fa-spinner fa-spin" aria-hidden="true"></i>
			</button>
		</form>
	</div>
</template>

<script>
	export default {
	  data() {
	    return {
	      form: {
	        sequence: '125',
	        name: 'enve opend oen',
	        fontawesome_tag: 'envelope-open-o',
	        state: true
	      }
	    }
	  },

	  computed: {
	    formValidationMessages: function() {
	      return this.$store.getters.getCheckoffTypeValidationMessages
	    },
	    isLoading: function() {
	      return this.$store.getters.getCheckoffTypeAddLoading
	    }
	  },

	  methods: {
	    getFontAwesomeIcon: function(fa_icon, fa_color) {
	      return (
	        '<i class="fa fa-' +
	        fa_icon +
	        ' fa-2x" style="color:' +
	        fa_color +
	        '" aria-hidden="true"></i>'
	      )
	    },
	    onSubmit(e) {
	      e.preventDefault()

	      const data = {
	        sequence: this.form.sequence,
	        name: this.form.name,
	        fontawesome_tag: this.form.fontawesome_tag,
	        state: this.form.state
	      }

	      this.$emit('checkofftype-add-submit', data)
	    }
	  }
	}
</script>

<style lang="scss" scoped>
	@import '../../../../../../../global';

	.form-errors {
	  margin: 20px;
	  padding: 10px;
	  background-color: lighten(red, 30%);

	  line-height: 20px;

	  ul {
	    display: grid;
	    grid-template-columns: 1fr;
	    grid-template-rows: repeat(auto-fill, 20px);
	    grid-gap: 10px;
	  }
	}

	a {
	  color: inherit;
	}

	form {
	  color: #fff;
	  margin: 20px;
	  padding: 20px;
	  background-color: lighten($main-background-color, 5%);
	  display: grid;
	  grid-template-columns: repeat(2, 1fr);
	  grid-template-rows: repeat(auto-fill, 20px);
	  line-height: 20px;
	  grid-gap: 30px 0;

	  .form-error {
	    outline: 2px solid red;
	  }

	  &#form-button {
	    grid-template-columns: auto 200px;
	    grid-template-rows: 35px;
	    button {
	      grid-column: 2 / 3;
	      width: 100%;
	      background-color: $accent-color;
	      color: #fff;
	      border: none;
	      &:hover {
	        cursor: pointer;
	      }
	    }
	  }

	  .grid-left {
	    grid-column: 1 / 2;
	  }

	  .grid-right {
	    grid-column: 2 / 3;
	  }

	  .grid-full-width {
	    grid-column: 1 / 3;
	    display: grid;
	    grid-template-columns: repeat(3, 1fr);
	    section {
	      display: grid;
	      grid-template-columns: 1.5fr 2fr;
	    }
	  }

	  div {
	    display: grid;
	    grid-template-columns: 200px 3fr;
	  }

	  p {
	    text-align: right;
	    padding: 0 30px;
	  }

	  label {
	    grid-column: 1 / 2;
	    padding: 0 30px;
	    text-align: right;
	  }

	  input {
	    grid-column: 2 / 3;
	    transition: 0.2s all;
	  }
	}
</style>


