<template>
    <router-view></router-view>
</template>

<script>
    export default {
        data() {
            return {}
        },
        computed: {},
        methods: {},
        mounted() {
        }
    };
</script>
<style lang="scss" scoped>

</style>

