<template>
	<div id="incoming-invoices-content">
		<iframe
			v-bind:src="`${LEGACY_URL}/login.php?token=${auth_token}&redirect=${LEGACY_URL + encodeURIComponent('/index.php?onderdeel=facturen&item=financieeloverzicht')}`"
			frameborder="0">
		</iframe>
	</div>
</template>

<script>

	export default {
		dependencies: '',
		data: function () {
			return {
				auth_token: localStorage.getItem('default_auth_token'),
				LEGACY_URL: process.env.LEGACY_URL
			}
		},
	}
</script>

<style lang="scss" scoped>
	#incoming-invoices-content {
		width: 100%;
		height: 98vh;
		iframe {
			width: 100%;
			height: 100%;
		}
	}
</style>
