<template>
    <v-flex xs12 sm12 lg12 xl10 text-xs-left class="px-0 px-1  py-0 card">
        <v-card fill-height class="px-0 py-0  ">
            <v-toolbar dark dense>
                <v-toolbar-title>Payments</v-toolbar-title>
                <v-spacer></v-spacer>
                <v-btn @click="onSelectItem(null,1)" flat icon class="white--text">
                    <v-icon>add</v-icon>
                </v-btn>
            </v-toolbar>
        </v-card>
        <v-flex xs12>
            <v-data-table celled :headers="headers"
                          disable-initial-sort :items="_all" item-key="id" hide-actions class="elevation-1"
                          ref="sortableTable">
                <template slot="items" slot-scope="props" :data-item-id="props.item.id">

                    <tr class="sortableRow" :id="props.item.id">
                        <td>{{ props.item.amount }}</td>
                        <td>{{ props.item.date }}</td>
                        <td>
                            <v-btn icon class="mx-0" @click="onSelectItem(props.item,3)">
                                <v-icon color="pink">delete</v-icon>
                            </v-btn>
                            <v-btn icon class="mx-0" @click="onSelectItem(props.item,2)">
                                <v-icon dark color="secondary">edit</v-icon>
                            </v-btn>
                        </td>
                    </tr>
                </template>
            </v-data-table>
        </v-flex>


        <v-dialog v-model="dialogEdit" persistent max-width="500px">
            <v-card>
                <v-card-title>
                    <span class="headline">{{tempItem.id?'Edit':"Add"}}  Payment</span>
                </v-card-title>
                <v-card-text>
                    <v-container grid-list-md>
                        <form>
                            <v-layout wrap>
                                <v-flex xs12 sm12 md12>
                                    <v-text-field label="Amount" type="number" v-model="tempItem.amount"
                                                  required></v-text-field>
                                </v-flex>
                                <v-flex xs12 sm12 md12>
                                    <v-dialog ref="dataStartMenu" v-model="dataStartMenu" persistent lazy full-width
                                              width="290px">
                                        <v-text-field slot="activator" label="Start Date"
                                                      v-model="tempItem.date" prepend-icon="event"
                                                      readonly></v-text-field>
                                        <v-date-picker v-model="tempItem.date" scrollable>
                                            <v-spacer></v-spacer>
                                            <v-btn flat color="primary" @click="dataStartMenu = false">Cancel
                                            </v-btn>
                                            <v-btn flat color="primary"
                                                   @click="$refs.dataStartMenu.save(tempItem.date)">OK
                                            </v-btn>
                                        </v-date-picker>
                                    </v-dialog>
                                </v-flex>
                            </v-layout>
                        </form>
                    </v-container>
                    <small>*indicates required field</small>
                </v-card-text>
                <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn color="blue darken-1" flat @click.native="dialogEdit=false">Close
                    </v-btn>
                    <v-btn color="blue darken-1" flat @click.native="onActionItem(tempItem.id?2:1)">Save Changes
                    </v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>
        <v-dialog v-model="dialogDelete" persistent max-width="590">
            <v-card>
                <v-card-title class="headline">Are you sure you want to delete the Payment  ?
                </v-card-title>
                <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn color="green darken-1" flat @click.native="dialogDelete=false">Cancel
                    </v-btn>
                    <v-btn color="green darken-1" flat @click.native="onActionItem(3)">Yes
                    </v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>
    </v-flex>
</template>

<script>
    export default {
        name: 'payments',
        props: ['item'],
        components: {},
        data() {
            return {
                dataStartMenu: null,
                tempItem: {},
                dialogEdit: false,
                dialogDelete: false,
                headers: [
                    {
                        text: 'Amount',
                        align: 'left',
                        value: 'amount'
                    },
                    {
                        text: 'Date',
                        align: 'left',
                        value: 'date'
                    },
                    {
                        text: 'Action',
                        align: 'left',
                        sortable: false,
                        value: 'action'
                    }
                ]
            };
        },
        computed: {
            _all: {
                cache: false,
                get() {
                    return this.$store.getters['finance/invoice/outgoing/payment/all'];
                }
            }
        },
        mounted() {
            this.$store.dispatch('finance/invoice/outgoing/payment/all', this.item);
        },
        methods: {
            onSelectItem(item, action) {
                this.tempItem = {};
                if (item) {
                    Object.assign(this.tempItem, item);
                }
                switch (action) {
                    case 2: {//on create new
                        this.dialogEdit = true;
                        break
                    }
                    case 3: {//on create new
                        this.dialogDelete = true;
                        break
                    }
                    default: {
                        this.dialogEdit = true;
                    }
                }
            },
            onActionItem(action) {
                this.tempItem.invoiceId = this.item.id;
                switch (action) {
                    case 1: {//add
                        this.$store.dispatch('finance/invoice/outgoing/payment/addItem', this.tempItem);
                        break;
                    }
                    case 2: {//edit
                        this.$store.dispatch('finance/invoice/outgoing/payment/editItem', this.tempItem);
                        break;
                    }
                    case 3: {//delete
                        this.$store.dispatch('finance/invoice/outgoing/payment/deleteItem', this.tempItem);
                        break;
                    }
                }
                this.dialogDelete = this.dialogEdit = false;
            },
        }
    };
</script>
