<template>
    <div class="main-block-invoice">
        <v-card flat tile>
            <v-toolbar dark dense>
                <v-toolbar-title>All Invoices</v-toolbar-title>
                <v-spacer></v-spacer>
                <v-toolbar-items>
                    <v-btn :to="{ name: 'incoming-invoices'}" flat ripple>Incoming Invoices</v-btn>
                    <v-btn :to="{ name: 'outgoing-invoices'}" flat ripple>Outgoing Invoices</v-btn>
                </v-toolbar-items>
                <v-btn v-if="showAdd" @click="onSelectItem()" flat icon class="white--text">
                    <v-icon flat dark>add</v-icon>
                </v-btn>

            </v-toolbar>
        </v-card>
        <router-view></router-view>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                showAdd:true
            }
        },
        computed: {},
        methods: {
            onSelectItem() {
                this.$children[1].onSelectItem()
            }
        },
        mounted() {
        }
    };
</script>