<template>
    <div >
        <v-container>
            <v-form ref="form" v-model="valid" lazy-validation>

                <item-select-load :items="sites" :model="tempItem.site"
                                  :item_label="`Select Site`"
                                  :item_text="`name`"
                                  :query_link="`finance/summary/all`"
                                  @onSelect="onSelectItem"  >
                </item-select-load>
                <v-dialog ref="dataStartMenu" v-model="dataStartMenu" persistent lazy full-width
                          :disabled="!tempItem.site"
                          width="290px">
                    <v-text-field slot="activator" label="Date Financial Details" :rules="rules.date_financial_details"
                                  v-model="tempItem.date_financial_details" prepend-icon="event"
                                  :disabled="!tempItem.site"
                                  readonly></v-text-field>
                    <v-date-picker v-model="tempItem.date_financial_details" scrollable>
                        <v-spacer></v-spacer>
                        <v-btn flat color="primary" @click="dataStartMenu = false">Cancel
                        </v-btn>
                        <v-btn flat color="primary"
                               @click="$refs.dataStartMenu.save(tempItem.date_financial_details)">OK
                        </v-btn>
                    </v-date-picker>
                </v-dialog>

                <v-text-field
                        v-model="tempItem.total_amount_orders"
                        :rules="rules.total_amount_orders"
                        type="number"
                        min="0"
                        :disabled="!tempItem.site"
                        label="Total amount orders"
                        required
                ></v-text-field>

                <v-text-field
                        v-model="tempItem.total_amount_processed"
                        :rules="rules.total_amount_processed"
                        type="number"
                        min="0"
                        :disabled="!tempItem.site"
                        label="Total amount processed"
                        required
                ></v-text-field>

                <v-btn :disabled="!valid" @click="submit">
                    Save
                </v-btn>
                <v-btn @click="clear">clear</v-btn>
            </v-form>
        </v-container>

        <v-dialog v-model="dialogNotify" persistent max-width="500">
            <v-card>
                <v-card-title class="headline">{{dialogNotifyData.body}}
                </v-card-title>
                <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn color="green darken-1" flat @click.native="actItem(3)">OK</v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                dialogNotifyData: {
                    title: "Site Update Success",
                    body: "Site Update Success"
                },
                dialogNotify: false,
                dataStartMenu: false,
                valid: true,
                tempItem: {
                    date_financial_details: null,
                    total_amount_orders: null,
                    total_amount_processed: null
                },
                rules: {
                    total_amount_orders: [
                        v => {
                            if (typeof v == 'number') v = parseFloat(v);
                            return !isNaN(v) || 'Total amount orders is required'
                        },
                    ],
                    total_amount_processed: [
                        v => {
                            if (typeof v == 'number') v = parseFloat(v);
                            return !isNaN(v) || 'Total amount orders is processed'
                        },
                    ],
                    date_financial_details: [
                        v => !!v || 'Date Financial Details is required',
                    ],
                    site: [
                        v => !!v || 'Select some site to edit',
                    ]
                }
            }
        },
        computed: {
            sites() {
                return this.$store.getters['finance/summary/all'];
            }
        },
        methods: {
            actItem(action) {
                this.dialogNotify = false;
                this.clear();
            },
            onSelectItem(model) {
                this.tempItem.site = model;
            },
            submit() {
                if (this.$refs.form.validate()) {
                    this.$store.dispatch('finance/summary/editSite', this.tempItem).then(() => {
                        this.dialogNotify = true;
                    });
                }
            },
            clear() {
                this.tempItem = {};
                this.$refs.form.reset()
            }
        },
        mounted() {
            this.$parent.isVisibe = false;
            this.$parent.child = 'Details';
            // this.$store.dispatch('finance/summary/all');
        },
        destroyed() {
            this.$parent.isVisibe = true;
            this.$parent.child = '';
        }
    };
</script>
<style lang="scss" scoped>

    .elevation-1 {
        width: auto;
        overflow: auto;
        height: calc(100vh - 100px);
    }

</style>

