<template>
	<div id="sfinx-checkofftype">
		<router-view></router-view>
		<v-bottom-sheet inset v-model="toolsVisibility" persistent>
			<v-list>
				<v-subheader>Tools</v-subheader>
			</v-list>
		</v-bottom-sheet>
	</div>
</template>

<script>

	export default {
		name: 'SfinxCheckoffType',
		computed: {
			toolsVisibility: function() {
				return this.$store.getters['navigation/toolsVisibility'];
			}
		},
	}
</script>

<style lang="scss" scoped>

	#sfinx-checkofftype {
		height: calc(100% - 64px);
	}

</style>
