<template>
    <v-container fluid pa-3 style="overflow: auto;">
        <v-layout>
            <v-flex>
                <h1 class="text-lg-left headline">
                    {{title}}
                </h1>


            </v-flex>
            <v-flex v-if="cell">
                <v-tooltip bottom>
                    <v-btn @click="loadPDF(2)" id="teamplanner-back-button" flat icon color="red lighten-2"
                           class="white--text" slot="activator">
                        <v-icon large>cloud_download</v-icon>
                    </v-btn>
                    <span>Download PDF</span>
                </v-tooltip>
                <v-tooltip bottom>
                    <v-checkbox v-if="cell"
                                :label="`Plane for entire period(${cell._daysHelpInfoPlanning})`"
                                v-model="etirePeriod" slot="activator"
                    ></v-checkbox>
                    <span>Plane for entire period({{cell._daysHelpInfoPlanning}})</span>
                </v-tooltip>

            </v-flex>
        </v-layout>

        <v-layout>
            <v-flex v-if="teams.length > 0" xs8>
                <v-layout row wrap v-for="team in teams" :key="team.name">
                    <v-flex>
                        <v-card>
                            <v-card-title class="title">
                                {{team.name}}
                            </v-card-title>
                            <v-card-text>
                                <v-layout row wrap v-for="member in team.teamMembers" :key="member.id"
                                          :class="{'red white--text conflict':member.selectedPart && member.selectedPart.isConflict}">
                                    <v-flex xs4 xl3 pt-4>
                                        {{member.first_name}} {{member.last_name}}
                                    </v-flex>
                                    <v-flex xs4 d-flex>
                                        <!--<v-autocomplete :items="member.listOfParts"
                                                        v-model="member.selectedPart"
                                                        label="Select Day Part" item-text="name" item-value=":item"
                                                        @change="onSelectDaypart(team,member)"
                                                        return-object
                                                        :disabled="member._noPlanned"
                                                        single-line></v-autocomplete>-->

                                        <v-checkbox v-for="partOfWork in member.listOfParts"
                                                    :key="`a-${partOfWork.__id}`"
                                                    :label="`  ${partOfWork.name}`"
                                                    :disabled="member._noPlanned && !partOfWork._isPlannedWork"
                                                    v-model="partOfWork._isPlannedWork"
                                                    @change="onPlanningWork(team,member,partOfWork)"
                                        ></v-checkbox>
                                    </v-flex>
                                    <v-flex v-if="member._noPlanned" class="grey--text lighten-1 text-lg-center" pt-4>
                                        Sick leave
                                    </v-flex>
                                    <!-- <v-flex v-if="member.selectedPart">
                                         <v-btn xs1 flat icon
                                                @click="onSelectItem({team,member},3)">
                                             <v-icon>delete</v-icon>
                                         </v-btn>
                                     </v-flex>-->
                                </v-layout>
                            </v-card-text>
                        </v-card>
                    </v-flex>
                </v-layout>
            </v-flex>
            <v-flex>
                <v-card pa-0>
                    <v-card-title class="dark darken-4 white--text px-3 py-1 text-lg-left">
                        Period Materials
                    </v-card-title>
                    <v-card-text class="pa-0">
                        <v-textarea class="pa-3" hide-details no-resize
                                    placeholder="Materials message for Period"
                                    v-model="descriptions.descriptionPeriod"
                                    v-on:blur="updateDescription(1)"></v-textarea>
                    </v-card-text>
                </v-card>
                <v-card pa-0>
                    <v-card-title class="dark darken-4 white--text px-3 py-1 text-lg-left">
                        Period To Do
                    </v-card-title>
                    <v-card-text class="pa-0">
                        <v-textarea class="pa-3" hide-details no-resize
                                    placeholder="To Do message for Period"
                                    v-model="descriptions.descriptionPeriodToDo"
                                    v-on:blur="updateDescription(1)"></v-textarea>
                    </v-card-text>
                </v-card>

                <v-card pa-0>
                    <v-card-title class="dark darken-4 white--text px-3 py-1 text-lg-left">
                        Day Materials
                    </v-card-title>
                    <v-card-text class="pa-0">
                        <v-textarea class="pa-3" hide-details no-resize clearable
                                    placeholder="Materials Message for Day"
                                    v-model="descriptions.descriptionDay"
                                    v-on:blur="updateDescription(2)"></v-textarea>
                    </v-card-text>
                </v-card>
                <v-card pa-0>
                    <v-card-title class="dark darken-4 white--text px-3 py-1 text-lg-left">
                        Day To Do
                    </v-card-title>
                    <v-card-text class="pa-0">
                        <v-textarea class="pa-3" hide-details no-resize clearable
                                    placeholder="To Do Message for Day"
                                    v-model="descriptions.descriptionDayToDo"
                                    v-on:blur="updateDescription(2)"></v-textarea>
                    </v-card-text>
                </v-card>
            </v-flex>
            <v-dialog v-model="dialogDelete" persistent max-width="590">
                <v-card>
                    <v-card-title class="headline">Are you sure you want to delete Planning?
                    </v-card-title>
                    <v-card-actions>
                        <v-spacer></v-spacer>
                        <v-btn color="green darken-1" flat
                               @click.native="dialogDelete=false">Cancel
                        </v-btn>
                        <v-btn color="green darken-1" flat
                               @click.native="onActionItem(3)">Yes
                        </v-btn>
                    </v-card-actions>
                </v-card>
            </v-dialog>
        </v-layout>
    </v-container>
</template>

<script>
    import {VUtils} from '../VUtils';
    import {DaysMemberPlanning} from '../utils/DaysMemberPlanning';

    export default {
        name: 'Teamplanner',
        data() {
            self = this;
            return {
                auth_token: localStorage.getItem('default_auth_token'),
                LEGACY_URL: process.env.LEGACY_URL,

                tempItem: {},
                etirePeriod: true,
                dialogDelete: false,
                title: '',
                teams: [],
                isdescriptionPeriodEdit: false,
                isdescriptionDayEdit: false,
                descriptions: {
                    descriptionPeriod: null,
                    descriptionPeriodToDo: null,
                    descriptionDay: null,
                    descriptionDayToDo: null,
                },
                dayParts: [],
                cell: {},
                partsSequence: VUtils.PLANNING_MEMBER_SEQUENCE.concat([]),
                rowsPerPageItems: [4, 6, 12],
                pagination: {
                    rowsPerPage: 4
                }
            };
        },
        computed: {},
        methods: {
            onPlanningWork(team, teamMember, partOfWork) {
                setTimeout(() => {
                    // console.log(this.teams);

                    let dayUtc = this.cell._daysUTC[this.cell._currentItemHor],
                        requestData = {
                            day: Date._toCustomDate(dayUtc),
                            sequence: partOfWork.value,
                            teamId: team.id,
                            teamPeriodId: teamMember.periodId,
                            teamMemberId: teamMember.id
                        };
                    for (let i = 0; i < teamMember.plannings.length; i++) {
                        if (teamMember.plannings[i].sequence == partOfWork.value) {
                            requestData = teamMember.plannings[i];
                        }
                    }
                    this.updatePlanning(team, teamMember, requestData).then((res) => {

                        if (res.error) {
                            partOfWork._isPlannedWork = false;
                        } else {
                            if (self.etirePeriod) {
                                teamMember.etirePeriod = self.etirePeriod;
                                self.toggleEntirePeriodPlanning(team, teamMember, requestData.id ? requestData : res.res.data, requestData.id ? 1 : 2).then(() => {
                                });
                            }
                        }
                    });
                })

            },
            onActionItem(action) {
                switch (action) {
                    case  3: {
                        this.updateMemberPlanningState(this.tempItem.team, this.tempItem.member, this.tempItem.member.selectedPart).then(() => {
                            this.$parent.updateConflictsState();
                        });
                        break;
                    }
                }
                this.dialogDelete = false;
            },
            onSelectItem(opt, action) {
                this.tempItem = {};
                switch (action) {
                    case  3: {
                        this.dialogDelete = true;
                        Object.assign(this.tempItem, opt);
                        break;
                    }
                }
            },
            url() {
                if (!this.cell || !this.cell.parent) return '';
                let cell = this.cell;
                return `${process.env.API_URL}/api/v1/planner/construction-site/${
                    cell.parent.siteId
                    }/collaborator/${cell.parent.branchId}/planning/${
                    cell._periodContainer.id
                    }/details`;
            },
            loadPDF: function () {
                this.axios({
                    method: 'post',
                    url: `${this.url()}/pdf`,
                    responseType: 'blob'
                }).then((response) => {
                    let url = window.URL.createObjectURL(new Blob([response.data])),
                        link = document.createElement('a');
                    link.href = url;
                    link.setAttribute('download', 'file.pdf');
                    document.body.appendChild(link);
                    link.click();

                })
            },
            updateDescription: function (type) {
                let requestData = {
                    description: this.descriptions.descriptionPeriod,
                    description_to_do: this.descriptions.descriptionPeriodToDo
                };
                switch (type) {
                    case 2: {
                        requestData.description = this.descriptions.descriptionDay;
                        requestData.description_to_do = this.descriptions.descriptionDayToDo;
                        requestData.date = Date._toCustomDate(this.cell._daysUTC[this.cell._currentItemHor]);
                        if (self.descriptions.message)
                            requestData.id = self.descriptions.message.id;
                        break;
                    }
                }
                this.descriptions.isdescriptionDayEdit = this.descriptions.isdescriptionPeriodEdit = false;
                this.axios.post(`${this.url()}/message`, requestData).then(function (res) {
                    switch (type) {
                        case 2: {
                            self.descriptions.message = res.data;
                            break;
                        }
                    }
                    self.cell.onComment(type, res.data);
                }, (res) => {
                    alert(res.response.data.message);
                });
            },
            onSelectDaypart: function (team, teammember) {
                setTimeout(() => {
                    this.updateMemberPlanningState(team, teammember, teammember.selectedPart, true);
                });

            },
            updateTeams(viewer) {
                let self = this,
                    cell;
                self.viewer = viewer;
                self.cell = cell = this.$parent.$refs.plannerCntxMenu.cell;//viewer._events.mouse._lastHover;


                let dayUtc = cell._daysUTC[cell._currentItemHor],
                    startGroup = cell._daysUTC[cell._periodContainer._elements[0]._currentItemHor],
                    endGroup = startGroup + VUtils.DAY_IN_UTC * (cell._periodContainer._elements.length - 1),
                    startT = dayUtc;//new Date(new Date(0).setUTCSeconds(dayUtc)).getTime() ;

                self.descriptions = {
                    descriptionPeriod: cell._periodContainer.description,
                    descriptionPeriodToDo: cell._periodContainer.description_to_do,
                    descriptionDay: cell._description ? cell._description.description : null,
                    descriptionDayToDo: cell._description ? cell._description.description_to_do : null,
                    message: cell._description ? cell._description : null,
                };
                self.title = `${cell._currentItemType._info.info.title}(${
                    cell._currentItemBranch.info.abbreviation
                    }): ${new Date(new Date(0).setUTCSeconds(dayUtc)).formatDate()}`;


                let teams = cell._currentItemBranch.teams.customClone,
                    noTamsMembe = 0,
                    exeptDay = cell._daysUTC[cell._currentItemHor];

                cell._isFullPlanned = teams.length > 0;
                cell._daysHelpInfoPlanning = `${Date._formatDate(cell._daysUTC[cell._periodContainer._elements[0]._currentItemHor])}/
                ${Date._formatDate(cell._daysUTC[cell._periodContainer._elements[cell._periodContainer._elements.length - 1]._currentItemHor])}`;

                for (let i = 0; i < teams.length; i++) {
                    let team = teams[i];
                    for (let j = 0, memberPlanningIds = 0; j < team.teamMembers.length; j++) {
                        let teamM = team.teamMembers[j];
                        teamM._planned = teamM.plannings.length > 0;
                        teamM._noPlanned = false;


                        DaysMemberPlanning.checkMemberHollidayConflict(teamM, startT);

                        let plannings = teamM.plannings.filter((planning) => {
                            return planning.collaborator_planning_entry_id == cell._periodContainer.id;
                        });
                        teamM.plannings = plannings.filter((planning) => {
                            return planning.date == dayUtc;
                        })

                        teamM.listOfParts = self.partsSequence.map((el) => {
                            let _c = el.customClone;
                            _c.__id = memberPlanningIds++;
                            for (let k = 0; k < teamM.plannings.length; k++) {
                                if (teamM.plannings[k].sequence == _c.value) {
                                    _c._isPlannedWork = true;
                                }
                            }
                            return _c;
                        });


                        teamM.etirePeriod = false;


                        if (teamM.plannings.length > 0) {
                            teamM.selectedPart = teamM.oldSelectedPart = teamM.listOfParts.filter((el) => {
                                let _e = el.value == teamM.plannings[0].sequence;
                                if (_e) el.id = teamM.plannings[0].id;
                                return _e;
                            })[0];

                            if (teamM.selectedPart && teamM._noPlanned) teamM.selectedPart.isConflict = true;
                            for (let _d = startGroup; _d <= endGroup; _d += VUtils.DAY_IN_UTC) {
                                for (let t = 0; t < plannings.length; t++) {
                                    if (teamM.plannings[0].sequence == plannings[t].sequence &&
                                        (plannings[t].date == _d)) {
                                        if (!teamM.etirePeriods) teamM.etirePeriods = 0;
                                        teamM.etirePeriods++;
                                        teamM.etirePeriod = teamM.etirePeriods >= cell._periodContainer._elements.length;
                                        break;
                                    }
                                }
                            }
                        }
                    }
                }
                self.teams = teams.concat([]);

            },

            updateMemberPlanningState(team, teamMember, itemSelected, isEdit) {
                return new Promise((resolve) => {
                    let self = this,
                        requestData = {},
                        dayUtc = this.cell._daysUTC[this.cell._currentItemHor],
                        updatePlanned = function (requestData, next) {
                            teamMember.oldSelectedPart = null;
                            self.updatePlanning(team, teamMember, requestData, false, isEdit).then((resp) => {
                                let res = resp.res,
                                    type = resp.type,
                                    onFinish = () => {
                                        switch (type) {
                                            case 1: {

                                                if (itemSelected.id == teamMember.selectedPart.id) teamMember.selectedPart = teamMember.etirePeriod = null;
                                                break;
                                            }
                                            case 2: {

                                                break;
                                            }
                                        }


                                        if (next) {
                                            next(res);
                                        }
                                        resolve();
                                    };


                                if (self.etirePeriod) {
                                    self.toggleEntirePeriodPlanning(team, teamMember, requestData.id ? requestData : res.data, requestData.id ? (isEdit ? 3 : 1) : 2).then(() => {
                                        onFinish();
                                    });
                                } else {
                                    onFinish()
                                }

                            });

                        };
                    teamMember.etirePeriod = self.etirePeriod;
                    if (teamMember.oldSelectedPart) {
                        if (itemSelected) {
                            // if (itemSelected.id == teamMember.oldSelectedPart.id) return console.warn('no need to refresh');
                        } else if (teamMember.selectedPart && teamMember.selectedPart.id == teamMember.oldSelectedPart.id) {
                            return console.warn('no need to refresh');
                        } else {
                            let _k = teamMember.oldSelectedPart;
                            teamMember.oldSelectedPart = null;
                            return this.updateMemberPlanningState(team, teamMember, _k, isEdit);

                        }
                    }

                    if (itemSelected && teamMember.oldSelectedPart) {
                        let isEditPart = typeof itemSelected.value == 'undefined';
                        requestData.id = !isEditPart && isEdit ? teamMember.oldSelectedPart.id : itemSelected.id;
                        requestData.day = isEditPart ? Date._toCustomDate(itemSelected.day) : Date._toCustomDate(dayUtc);
                        requestData.teamId = team.id;
                        requestData.teamPeriodId = teamMember.periodId;
                        requestData.sequence = isEditPart ? itemSelected.sequence : itemSelected.value;
                    } else {
                        if (!teamMember.selectedPart) return console.warn("If you see it report your action");
                        requestData = {
                            day: Date._toCustomDate(dayUtc),
                            sequence: teamMember.selectedPart.value,
                            teamId: team.id,
                            teamPeriodId: teamMember.periodId,
                            teamMemberId: teamMember.id
                        };
                    }

                    updatePlanned(requestData, function (res) {
                        if (res.status === 200) {
                            if (requestData.id) {
                                teamMember.plannings = [];
                            } else {
                                teamMember.plannings = [(res.data)];
                            }
                            self.teams = self.teams.concat([]);
                        }
                    });
                })

            },
            updatePlanning(team, teamMember, requestData, isNotuserAct = false, isEdit = false) {
                let self = this;
                return new Promise((resolve) => {
                    if (requestData.id) {
                        if (isEdit) {
                            self.axios.put(`${self.url()}/${requestData.id}`, requestData)
                                .then(function (res) {

                                    if (res.status == 200 || res.status == 201) {
                                        let _planning = res.data.data;
                                        if (!isNotuserAct) {
                                            if (!teamMember.selectedPart) {
                                                teamMember.selectedPart = _planning;
                                            }
                                            teamMember.selectedPart.id = _planning.id;
                                            teamMember.oldSelectedPart = _planning;
                                        }
                                    }
                                    requestData.teamMemberId = teamMember.id;
                                    self.viewer.opt.conflicts._planning.updatePlannedDayState({
                                        teamMember,
                                        teamId: team.id,
                                        cell: self.cell,
                                        type: VUtils.PLANNING_ACTIONS.EDIT_MEMBER,
                                        planning: requestData
                                    });
                                    resolve({res: res, type: 3});
                                });
                        } else {
                            self.axios.delete(`${self.url()}/${requestData.id}?teamId=${team.id}`)
                                .then(function (res) {
                                    requestData.teamMemberId = teamMember.id;
                                    self.viewer.opt.conflicts._planning.updatePlannedDayState({
                                        teamMember,
                                        teamId: team.id,
                                        cell: self.cell,
                                        type: VUtils.PLANNING_ACTIONS.DELETE_MEMBER,
                                        planning: requestData
                                    });
                                    resolve({res: res, type: 1});
                                }).catch(() => {
                                resolve({res: {}, type: 1})
                            });
                        }

                    } else {
                        self.axios.post(`${self.url()}`, requestData).then(function (res) {
                            let _d = res.data.data;
                            if (res.data.state == 2 || res.data.state == 3) {
                                if (res.data.msg && !isNotuserAct) alert(res.data.msg);

                                if (isNotuserAct) {
                                    return resolve({res: res.data, type: 2});
                                } else {
                                    teamMember.selectedPart = null;
                                    teamMember.etirePeriod = false;
                                }
                                return resolve({error: true});
                            }

                            let _planning;
                            if (res.status == 200 || res.status == 201) {
                                _planning = _d;
                                if (!isNotuserAct) {
                                    if (!teamMember.selectedPart) {
                                        teamMember.selectedPart = _planning;
                                    }
                                    teamMember.selectedPart.id = _planning.id;
                                    teamMember.oldSelectedPart = _planning;
                                }

                                _planning.teamMemberId = teamMember.id;
                                self.viewer.opt.conflicts._planning.updatePlannedDayState({
                                    teamMember,
                                    cell: self.cell,
                                    teamId: team.id,
                                    type: VUtils.PLANNING_ACTIONS.CREATE,
                                    planning: _planning
                                });
                            }
                            resolve({res: res.data, type: 2});
                        });
                    }
                });

            },
            toggleEntirePeriodPlanning(_team, _teamMember, requestData, type) {
                return new Promise((resolve) => {
                    let self = this,
                        cell = self.cell,
                        teams = cell._currentItemBranch.teams.customClone,
                        start = cell._periodContainer.firstDay(),
                        end = cell._periodContainer.lastDay(),
                        periodTeamMemberPlanning = {},
                        exeptDay = cell._daysUTC[cell._currentItemHor];

                    for (let i = 0; i < teams.length; i++) {
                        let team = teams[i];
                        if (team.id == _team.id) {
                            for (let j = 0; j < team.teamMembers.length; j++) {
                                let teamM = team.teamMembers[j],
                                    plannings = teamM.plannings.filter((planning) => {
                                        return planning.collaborator_planning_entry_id == cell._periodContainer.id;
                                    });

                                if (teamM.id == _teamMember.id) {
                                    for (let _d = start; _d <= end; _d += VUtils.DAY_IN_UTC) {
                                        if (/*exeptDay == _d ||*/ cell.daysWeekEndUTC.indexOf(_d) > -1) {
                                        } else {
                                            periodTeamMemberPlanning[_d] = {
                                                plannings: [
                                                    {
                                                        day: Date._toCustomDate(_d),
                                                        sequence: _teamMember.selectedPart.value,
                                                        teamId: team.id,
                                                        teamPeriodId: teamM.periodId,
                                                        teamMemberId: teamM.id
                                                    }
                                                ]
                                            };
                                            for (let t = 0, s = false; t < plannings.length; t++) {
                                                if (plannings[t].date == _d &&
                                                    requestData.sequence == plannings[t].sequence &&
                                                    requestData.id != plannings[t].id) {
                                                    if (!s) {
                                                        s = true;
                                                        periodTeamMemberPlanning[_d].plannings = [];
                                                    }
                                                    periodTeamMemberPlanning[_d].plannings.push(plannings[t]);
                                                    // break;
                                                }
                                            }
                                        }

                                    }

                                }

                            }
                        }

                    }


                    (function updatePlannings(keys) {
                        if (keys.length) {
                            let _list = periodTeamMemberPlanning[keys.shift()].plannings,
                                dayPlanning = _list[0];
                            if (_teamMember.etirePeriod) {
                                if (type == 1) {//on delete
                                    if (!dayPlanning.id || dayPlanning.id && requestData.sequence != dayPlanning.sequence) return updatePlannings(keys);//already have, no need to add
                                } else if (type == 3) {
                                    dayPlanning.teamId = _team.id;
                                    dayPlanning.sequence = requestData.sequence;
                                    dayPlanning.day = Date._toCustomDate(dayPlanning.date || dayPlanning.day);
                                    dayPlanning.teamPeriodId = _teamMember.periodId;
                                    dayPlanning.teamMemberId = _teamMember.id;
                                } else {
                                    if (dayPlanning.id) {
                                        return updatePlannings(keys);
                                    }//on create, already have, no need to add
                                }

                            } else {
                                if (!dayPlanning.id || true) return updatePlannings(keys);//don`t have any
                            }
                            self.updatePlanning(_team, _teamMember, dayPlanning, true, type == 3 && dayPlanning.id).then((res) => {
                                updatePlannings(keys);
                            });
                        } else {
                            console.log("finish update");
                            resolve();
                        }
                    })(Object.keys(periodTeamMemberPlanning))
                });

            }
        }
    };
</script>

<style scoped>

    td {
        /*border: 0.7px solid gray;*/
        padding: 0;
    }

    p {
        margin: 0;
    }

    .messages .card {
        border-radius: 0;
    }

    .card-msg {
        align-items: center;
        min-height: 150px;
        height: calc(50vh - 70px);
        justify-content: center;
        align-self: center;
        -webkit-box-align: center;
        display: flex;
    }

</style>
