<template>
    <div >
        <task-tree-cell-node v-for="(task, index) in tasks " :key="task.name"
                      :task="task" :functionGroups="functionGroups":_parent="_parent"
                      :constructionSites="constructionSites"></task-tree-cell-node>
    </div>
</template>


<script>
    export default {
        name: 'task-tree-cell',
        props: ['tasks', 'functionGroups', 'constructionSites' , '_parent' ],
        data() {
            return {
            };
        },
        mounted() {
        },
        methods: {},
        computed: {}
    };
</script>


<style lang="scss" scoped>

</style>
