<template>
    <div ref="mainContainer"  class="main-container">
        <v-flex xs12 d-flex v-if="!task.is_parent" v-bind:style="leftColStyles">
            <div class="task-row-items function-group" v-if="_parent.show_workflow_func_group">
                <v-btn d-flex class="cell text-center" style="display: flex" v-for="(group, index) in functionGroups"
                       :key="group.name">
                    <v-icon v-if="groupHasTask(group)">fiber_manual_record</v-icon>
                </v-btn>
            </div>

            <div class=" construction-group " ref="cellsContainer" :class="[_parent.show_workflow_func_group?' pleft':'no-pleft',isFlex?'task-row-items':'']">
                <!--<div :class="[ _parent.show_workflow_func_group ||isFlex?'task-row-items ':'']"    >-->
                <!--<div   class=" task-row-items">-->
                    <!--<v-flex :class="[ _parent.show_workflow_func_group ||isFlex?'task-row-items ':'']" class="group-site-item mx-1 "></v-flex>-->
                    <v-flex   class="group-site-item mx-1  " :class="[ isFlex?'task-row-items ':'']"
                            v-for="(group, index) in constructionSites"
                            :key="`site-group-b-${index}`">
                        <v-flex d-inline-block class="cell-item mx-1" v-for="(site, index) in group" :key="site.id">
                            <v-tooltip top>
                                <v-btn @click="_parent.onSelectConstructionSiteTaskCell(task, site)"
                                       slot="activator"
                                       class="cell task-status"
                                       v-bind:color="checkTaskStatus(task,site)">
                                </v-btn>
                                <div contenteditable="true"
                                     v-html="checkTaskStatusValue(task,site)"></div>
                            </v-tooltip>
                        </v-flex>
                    </v-flex>
                <!--</div>-->
            </div>
        </v-flex>
        <v-flex xs12 d-flex v-else class="parent-task" v-bind:style="leftColStyles">
            <div></div>
        </v-flex>

        <task-tree-cell v-if="task.children" :tasks="task.children" :_parent="_parent"
                        :functionGroups="functionGroups"
                        :constructionSites="constructionSites"></task-tree-cell>
    </div>
</template>


<script>
    import Vue from 'vue';

    export default {
        name: 'task-tree-cell-node',
        props: ['task', 'functionGroups', 'constructionSites', '_parent'],
        data() {
            return {
                events:[],
                updates:null,
                // isFlex:false,
                height: 48
            };
        },
        mounted() {
            let checkEl = () => {
                let el = document.getElementById(`task_cell_${this.task.id}`);
                if (!el) {
                    setTimeout(() => {
                        checkEl()
                    }, 100);
                } else {
                    this.height = el.clientHeight;
                }
            }
            checkEl();
           this.onResize();

           this.events =[{
               cntx:window,
               name:'resize',
               callback:()=>this.onResize()
           }];
            this.events.forEach((el)=>{
                el.cntx.addEventListener(el.name,el.callback);
            })
        },
        methods: {
            onResize(){
                this.updates = Date.now();
                /*if(this.$refs.cellsContainer){
                    let maxWidth = this.$refs.mainContainer.clientWidth,
                        totalWidth=0;
                    for (let i = 0; i < this.$refs.cellsContainer.children.length; i++) {
                        for (let di = 0; di < this.$refs.cellsContainer.children[i].children.length; di++) {
                            totalWidth +=this.$refs.cellsContainer.children[i].children[di].clientWidth;
                        }
                    }
                    this.isFlex = totalWidth>maxWidth;
                    this.$forceUpdate();
                }*/
            },
            checkTaskStatus(task, site) {
                for (let i = 0; i < site.tasks.length; i++) {
                    if (site.tasks[i].task_id == task.id) {
                        return this.checkStatus(site.tasks[i].task_status);
                    }
                }
                return this.checkStatus(-1);
            },
            checkTaskStatusValue(task, site) {
                for (let i = 0; i < site.tasks.length; i++) {
                    if (site.tasks[i].task_id == task.id) {
                        return this.checkStatusValue(site.tasks[i]);
                    }
                }
                return '<p><b>Status:</b>Not Started</p><p>';
            },
            checkStatus(status) {
                status = parseInt(status);
                switch (status) {
                    case 1: {
                        return 'gray';//'not-started';
                    }
                    case 2: {
                        return 'yellow';//'in-progress';
                    }
                    case 3:
                    case 4: {
                        return 'green';
                    }
                    default: {
                        return 'gray';
                    }
                }
            },
            checkStatusValue(task) {
                let status = '',
                    _status = parseInt(task.task_status);
                switch (_status) {
                    case 1: {
                        status = 'Not Started';//'not-started';
                        break;
                    }
                    case 2: {
                        status = 'In Progress';//'in-progress';
                        break;
                    }
                    case 3:
                    case 4: {
                        status = 'Ready';
                        break;
                    }
                    default: {
                        status = 'Not Started';
                    }
                }

                let res='<p><b>Status:</b>' + status + '</p>';
                if(task.description){
                    res+= (this._parent.show_workflow_description ? '<p><b>Comment:</b>' + task.description + '</p>' : '');
                }
                if(task.start){
                    res+= '<p><b>Date Start:</b>' + task.start + '</p>';
                }
                if(task.end){
                    res+= '<p><b>Date End:</b>' + task.end + '</p>';
                }
                return res ;

            },
            groupHasTask(group) {
                for (let i = 0; i < group.tasks.length; i++) {
                    if (group.tasks[i].task_id == this.task.id) {
                        return true
                    }
                }
                return false;
            },
        },
        watch: {
            "_parent.show_workflow_description"(old, newV) {

                let el = document.getElementById(`task_cell_${this.task.id}`);
                if('task_cell_21' ==`task_cell_${this.task.id}`){
                    console.log(el.clientHeight);
                }
                this.height = el.clientHeight;
            }
        },
        computed: {
            isFlex(){
                let u = this.updates;
                if(this.$refs.cellsContainer){
                    let maxWidth = this.$refs.mainContainer.clientWidth,
                        totalWidth=0;
                    for (let i = 0; i < this.$refs.cellsContainer.children.length; i++) {
                        for (let di = 0; di < this.$refs.cellsContainer.children[i].children.length; di++) {
                            totalWidth +=this.$refs.cellsContainer.children[i].children[di].clientWidth;
                        }
                    }
                    return  this._parent.show_workflow_func_group && totalWidth>maxWidth || totalWidth>maxWidth;
                    // this.$forceUpdate();
                }
                return false;
            },
            leftColStyles() {
                let styles = {};
                Vue.set(styles, 'height', `${this.height}px`);
                return styles;
            }
        },
        destroyed(){
            this.events.forEach((el)=>{
                el.cntx.removeEventListener(el.name,el.callback);
            })
        }
    };
</script>


<style lang="scss" scoped>
    .task-row-items {
        display: flex;
        align-items: center;
    }

    .construction-group {
        margin-left: -17px !important;
        &.no-pleft {
            /*margin-left: 0px !important;*/
        }
        .group-site-item {
            float: left;
            padding-left: 17px;
            .cell-item {
                max-width: 51px;
            }
        }
    }

    .no-pleft > .cell-item {
        float: left;
    }

    .sub-task {
        margin-left: 5px;
    }

    .parent-task {
        div {
            align-self: center;
            background: #00b0ff;
            height: 48px;
        }

    }

    .cell1 {
        width: 45px;
        min-width: 45px;
        height: 43px;
        min-height: 43px;
        margin: 2.5px 3px;
        background-color: red;
        visibility: hidden;
    }

    .cell {
        width: 45px;
        min-width: 45px;
        max-width: 45px;
        height: 43px;
        min-height: 43px;
        margin: 2.5px 3px;
        background-color: red;
        display: inline-block;
        &.task-status {
            &.not-started {
                background: gray;
            }
            &.in-progress {
                background: yellow;
            }
            &.ready {
                background: green;
            }
            &.n-a {
                background: green;
            }
        }
    }

    .main-task {
        padding: 0px;
        /*<!--margin: -5px;-->*/
    }

    .text-vertical {
        writing-mode: vertical-lr;
        width: 100%;
    }

    .celled {
        border: 0.5px solid #d3d3d3;
        border-radius: 5px;
    }

    .celled-list {
        border: 0.6px solid #f5f5f5;
    }

    @media only screen and (min-width: 1800px) {
        .small_box {
            width: 3.1vw;
        }
    }

    .celled:nth-child(2) {
        background-color: green;
        color: white;
    }

    .celled:nth-child(3) {
        background-color: orange;
        color: white;
    }

    .celled:nth-child(4) {
        background-color: red;
        color: white;
    }

    .celled:hover {
        cursor: pointer;
    }

    .small_box:hover {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }

    .background-list {
        background-color: #d3d3d3;
        border-radius: 4px;
        cursor: pointer;
    }

    .write {
        writing-mode: vertical-rl;
    }

    .task_toolbar {
        margin-top: 3%;
    }
</style>
