<template>
	<div id="sfinx-constructionsitetodo">
		<router-view></router-view>
	</div>
</template>

<script>
	export default {
		name: 'SfinxConstructionsiteTodo',
	}
</script>

<style lang="scss" scoped>

	#sfinx-constructionsitetodo {
		height: 100%;
	}

</style>
