<template>
    <v-container id="contacts-overview__container" class="main-container contacts">
        <v-layout row>
            <v-flex text-xs-center>
                <v-toolbar dark dense>
                    <v-toolbar-title>Contacts</v-toolbar-title>
                    <v-spacer></v-spacer>
                    <v-text-field solo hide-details prepend-inner-icon="search" v-model="filter.name"
                                  @change="onChangeFilter" label="Search"></v-text-field>
                    <v-dialog justify-right v-model="dialog" persistent max-width="500px">
                        <v-btn slot="activator" flat color="white" dark>
                            <v-icon>add</v-icon>
                        </v-btn>
                        <v-card>
                            <v-card-title>
                                <h2>New Contact</h2>
                            </v-card-title>
                            <v-card-text>
                                <v-text-field label="First Name*" v-model="dialogState.first_name"
                                              required></v-text-field>
                                <v-text-field label="Last Name*" v-model="dialogState.last_name"></v-text-field>
                                <v-autocomplete :items="allContactTypes" return-object v-model="dialogState.type"
                                                item-value="id"
                                                item-text="type" label="Type*"></v-autocomplete>
                                <v-text-field label="Address" v-model="dialogState.address"></v-text-field>
                                <v-textarea hide-details placeholder="Comment"
                                            v-model="dialogState.comment"></v-textarea>
                                <small>*indicates required field</small>
                            </v-card-text>
                            <v-card-actions>
                                <v-spacer></v-spacer>
                                <v-btn color="blue darken-1" flat @click.native="dialog = false">Close</v-btn>
                                <v-btn color="blue darken-1" flat @click.native="addContact">Save</v-btn>
                            </v-card-actions>
                        </v-card>
                    </v-dialog>
                </v-toolbar>
            </v-flex>
        </v-layout>
        <v-layout id="contacts-overview__content" pa-3 row>
            <v-flex xs10 pr-3 text-xs-left class="scroll-y pr-3">
                <v-data-table ref="contactItems" :id="`component_${_uid}`" :headers="headers" :items="contacts"
                              :search="filter.name" hide-actions v-model="selected" disable-initial-sort item-key="id"
                              select-all class="list-table">
                    <template slot="headers" slot-scope="props">
                        <tr>
                            <td class="text-xs-center" v-for="column in props.headers" :key="column.value">
                                {{column.text}}
                            </td>
                        </tr>
                    </template>
                    <template slot="items" slot-scope="props">
                        <td class="text-xs-center">
                            <v-checkbox primary hide-details v-model="props.selected"></v-checkbox>
                        </td>
                        <td class="text-xs-center">
                            <p>{{ props.item.name }}</p>
                        </td>
                        <td class="text-xs-center">{{ props.item.typeName }}</td>
                        <td class="text-xs-center">{{ props.item.address }}</td>
                        <td class="text-xs-center">{{ props.item.comment }}</td>
                        <td class="text-xs-center">{{ props.item.projectLead }}</td>
                        <td class="text-xs-center">
                            <router-link v-if="props.item.contact_types_indexes.indexOf(3)>-1"
                                         :to="(props.item.contact_types_indexes.indexOf(3)>-1?'/client':'contact')+'/'+props.item.id+'/details'">
                                <v-tooltip bottom>
                                    <v-btn slot="activator" icon>
                                        <v-icon>edit</v-icon>
                                    </v-btn>
                                    <span>View Details</span>
                                </v-tooltip>
                            </router-link>

                            <router-link v-if="props.item.contact_types_indexes.indexOf(9)>-1"
                                         :to="'/contacts' + '/' + props.item.id+ '/' + 'team'">
                                <v-tooltip bottom>
                                    <v-btn slot="activator" icon>
                                        <v-icon>
                                            people
                                        </v-icon>

                                    </v-btn>
                                    <span>View Teams</span>
                                </v-tooltip>
                            </router-link>
                        </td>
                    </template>

                    <template slot="footer">
                        <tr v-if="paginate && !paginate.finish  ">
                            <td class="text-md-center">
                                <v-progress-circular class="text-md-center" align-center
                                                     :indeterminate="true"></v-progress-circular>
                            </td>
                        </tr>
                        <tr v-if="paginate && paginate.isAll">
                            <td class="text-md-center">
                                All Contacts loaded
                            </td>
                        </tr>
                        <!--<span ref="data-table__end"></span>-->
                    </template>
                    <template slot="no-results">
                        <tr class="fullWidth">
                            <td class="text-md-center fullWidth">
                                <v-alert :value="true" color="error" icon="warning">
                                    Your search for "{{ filter.name }}" found no results.
                                </v-alert>
                            </td>
                        </tr>
                    </template>

                </v-data-table>
            </v-flex>
            <v-flex xs2 text-xs-left>
                <v-container fluid pa-0 ma-0 elevation-2>
                    <v-layout dark pa-0 ma-0>
                        <v-flex>
                            <v-subheader dark>Filter</v-subheader>
                        </v-flex>
                    </v-layout>
                    <v-layout>
                        <v-flex xs12 text-xs-left>
                            <v-list>
                                <v-subheader>Type</v-subheader>
                                <v-list-tile v-for="(item, index) in allContactTypes" :key="`a-${item.id}`">
                                    <v-list-tile-avatar>
                                        <v-checkbox hide-details color="red darken-1 " @change="filterContact(true)"
                                                    v-model="item.selected"></v-checkbox>
                                    </v-list-tile-avatar>
                                    <v-list-tile-title>
                                        {{ item.type }}
                                    </v-list-tile-title>
                                </v-list-tile>
                            </v-list>
                        </v-flex>
                    </v-layout>
                </v-container>
            </v-flex>
        </v-layout>
    </v-container>
</template>

<script>
    import {PaginateFilter} from '@/services/paginate.filter';

    export default {
        name: 'index',
        data() {
            return {
                dialog: false,
                dialogState: {
                    firstName: '',
                    lastName: '',
                    type: undefined,
                    address: ''
                },
                offsetTop: 0,
                paginate: null,
                filter: {
                    keys: ['name', 'type'],
                    query_link: 'contacts/all',
                    name: '',
                    all: false,
                    types: {},
                    list: []
                },
                search: '',
                selected: [],
                headers: [],
                _contacts: [],
                contacts: []

            };
        },
        computed: {
            allContactTypes: function () {
                return this.$store.getters['contacts/getMainContactsTypes'];
            }
        },
        mounted() {
            this._contacts = this.$store.getters['contacts/all'];
            this.$store.dispatch('contacts/getAllContactsTypes');
            this.filterContact();
            Object.assign(this, new PaginateFilter(this));
        },
        methods: {
            async addContact() {
                this.dialogState.types =[this.dialogState.type];
                await this.$store.dispatch('contacts/create', {...this.dialogState});
                this.dialog = false;
                this.dialogState = {};
            },
            onChangeFilter() {
            },//required if you want filter by keys
            onLoadItems(res) {
                res.data.data.forEach(el => {
                    el._selected = false;
                    // el.typeName = el.type.type;
                    // el.name = el.first_name + ' ' + el.last_name;
                    for (let i = 0; i < this._contacts.length; i++) {
                        if (this._contacts[i].id == el.id) return;
                    }
                    this._contacts.push(el);
                });
                // this._contacts.sort((a, b) => a.id > b.id ? 1 : -1);
                this.filterContact();
            },
            addTab(tab) {
                const removed = this.tabs.splice(0, 1);
                this.tabs.push(...this.more.splice(this.more.indexOf(tab), 1));
                this.more.push(...removed);
                this.$nextTick(() => {
                    this.currentItem = 'tab-' + tab;
                });
            },
            filterContact(refreshFilter) {
                if (refreshFilter) this.onChangeFilter();
                let isFilter = false, headers = [
                    {
                        text: 'Select',
                        align: 'center',
                        value: 'select',
                        sortable: false
                    },
                    {
                        text: 'Name',
                        align: 'center',
                        value: 'name',
                        sortable: false,
                        onCheckShowName: true
                    },
                    {
                        text: 'Type',
                        value: 'typeName',
                        align: 'center',
                        onCheckShowType: true
                    },
                    {
                        text: 'Address',
                        value: 'address',
                        align: 'center',
                        onCheckShowAddress: true
                    }, {
                        text: 'Comment',
                        value: 'comment',
                        align: 'center'
                    },
                    {
                        text: 'Project Lead',
                        value: 'projectLead',
                        align: 'center',
                        onCheckShow: true
                    },
                    {
                        text: 'Actions',
                        align: 'center',
                        onCheckShow: false,
                        sortable: false
                    }
                ];
                for (let i = 0; i < this.allContactTypes.length; i++) {
                    if (this.allContactTypes[i].selected) {
                        isFilter = true;
                        break;
                    }
                }
                if (!isFilter) {
                    this.contacts = this._contacts;
                    this.headers = headers;
                } else {
                    let isProjLeaderColumnAvailable = false;
                    let isAddressColumnAvailable = false;
                    let isNameAvailable = false;
                    let isTypeColumnAvailable = false;

                    this.contacts = this._contacts.filter(el => {
                        // console.log(el);
                        let isAvailable = false;
                        for (let i = 0; i < this.allContactTypes.length; i++) {
                            let _c = this.allContactTypes[i];
                            if(_c.selected){
                                for (let di = 0; di < el.contact_types.length; di++) {
                                    if (el.contact_types[di].id == _c.id ) {
                                        isAvailable = true;
                                        if (el.projectLead) isProjLeaderColumnAvailable = true;
                                        if (el.address) isAddressColumnAvailable = true;
                                        if (el.first_name) isNameAvailable = true;
                                        if (el.typeName) isTypeColumnAvailable = true;
                                        // break;
                                    }
                                }
                            }

                        }
                        return isAvailable;
                    });

                    // this.headers = headers.filter(el => {
                    //     return el.onCheckShow ? isProjLeaderColumnAvailable : true && el.onCheckShowAddress ? isAddressColumnAvailable : true && el.onCheckShowType ? isTypeColumnAvailable : true && (el.onCheckShowName || el.onCheckShowSelect) ? isNameAvailable : true;
                    // });
                }
            }
        }
    };
</script>

<style lang="scss" scoped>
    a {
        text-decoration: none;
        color: inherit;
        font-weight: 600;
    }
</style>
