<template>
    <v-container class="px-1   py-1 invoice-details-container">
        <v-flex xs12 class="px-0   py-0 " >
            <b> {{item.name}}</b>

        </v-flex>
        <v-divider></v-divider>
        <v-layout row wrap    v-if="item && item.id"  >
            <generalInfo :item="item"></generalInfo>
            <v-flex md9>
                <entries :item="item"></entries>
                <br/>
                <payments :item="item"></payments>
                <br/>
            </v-flex>
        </v-layout>
    </v-container>
</template>

<script>
    import generalInfo from './details/general.info.vue';
    import entries from '../../+entries/index.vue';
    import payments from './+payment/index.vue';

    export default {
        components: {
            generalInfo,
            payments,
            entries
        },
        data() {
            return {
                data:{}
            };
        },
        computed: {
            item(){

                let id = location.pathname.split("/");
                id=id[id.length-1];
                // if(!this.$router.params)return {};//TODO why it`s emty

                let items = this.$store.getters['finance/invoice/outgoing/all'],
                item={};
                if(items){
                    for(let i=0;i<items.length;i++){
                        if(items[i].id ==id){
                            return items[i]
                        }
                    }
                }
                return item;
            }

        },
        methods: {
        },
        mounted() {

            this.$parent.$parent.showAdd = false;//TODO: need to find better way to manage parent state
            this.$parent.canView = false;
            this.$store.dispatch('finance/invoice/outgoing/all');
            this.$store.dispatch('finance/type/all');
        },
        destroyed(){
            this.$parent.canView = this.$parent.$parent.showAdd = true;
        }
    };
</script>
