<template>
    <div class="main-container users user-group">
        <v-dialog v-model="dialogEdit" persistent max-width="500px">
            <v-card>
                <v-card-title>
                    <span class="headline">{{tempGroup.id?'Edit':'New'}} User Group</span>
                </v-card-title>
                <v-card-text>
                    <v-container grid-list-md>
                        <v-layout wrap>
                            <v-flex xs12 sm6 md6>
                                <v-text-field label="Name" v-model="tempGroup.name" required></v-text-field>
                            </v-flex>
                            <v-flex xs12 sm6 md6>
                                <v-text-field label="Description"
                                              v-model="tempGroup.description"></v-text-field>
                            </v-flex>
                            <v-flex xs12>
                                <v-text-field label="Sequence" type="number" min="0"
                                              v-model="tempGroup.sequence"></v-text-field>
                            </v-flex>
                            <v-flex xs12>
                            </v-flex>
                        </v-layout>
                    </v-container>
                    <small>*indicates required field</small>
                </v-card-text>
                <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn color="blue darken-1" flat @click.native="dialogEdit = false">Close</v-btn>
                    <v-btn color="blue darken-1" flat @click.native="actUserGroup()">Save</v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>
        <v-dialog v-model="dialogDelete" persistent max-width="590">
            <v-card>
                <v-card-title class="headline">Are you sure you want to delete the user {{tempGroup.name}}?
                </v-card-title>
                <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn color="green darken-1" flat @click.native="dialogDelete=false;">
                        Cancel
                    </v-btn>
                    <v-btn color="green darken-1" flat @click.native="deleteUserGroup()">Yes</v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>

        <v-data-table :headers="headers" :items="allRights" hide-actions item-key="id" class="elevation-1 list-table">
            <template slot="headers" slot-scope="item" >
                <th v-for="(group,indx) in headers" :key="`a-c-header-${indx}`" :class="[group.isDesc?'':'name-item']">
                    <v-flex v-if="group.isDesc">
                        <v-tooltip bottom>
                            <v-flex slot="activator" >
                                <span class="header-btn"  >{{group.text}}</span>
                            </v-flex>

                            <v-flex>
                                <div>{{group.text}}</div>
                                <div>{{group.desc}}</div>
                            </v-flex>

                        </v-tooltip>

                        <v-btn flat small icon class=" px-0 mx-0" @click="onSelectItem(group,1)">
                            <v-icon color="secondary" flat dark>edit</v-icon>
                        </v-btn>
                        <v-btn flat small icon class=" px-0 mx-0" @click="onSelectItem(group,2)">
                            <v-icon color="secondary" flat dark>delete</v-icon>
                        </v-btn>
                    </v-flex>
                    <v-flex v-else >
                        {{group.text}}
                    </v-flex>
                </th>
            </template>
            <template slot="items" slot-scope="props">
                <td class="name-item">{{ props.item.name }}</td>
                <td v-for="group in all" :key="`a-${props.item.id}-b-${group.id}`"
                    class="text-xs-center mx-0 px-0">
                    <v-btn flat icon class=" px-0  mx-0 text-xs-center" @click="toggleUserGroupRight(props.item,group)">
                        <v-icon v-if="groupHasRights(props.item,group)" class="el-right active" :color=" 'green' "
                                v-text="'add_circle_out'">
                        </v-icon>
                        <v-icon v-else class="el-right active" :color="'pink'"
                                v-text="'remove_circle_out'">
                        </v-icon>


                    </v-btn>

                </td>

            </template>
        </v-data-table>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                dialogEdit: false,
                dialogDelete: false,
                tempGroup: {
                    id: null,
                    name: null,
                    description: null,
                },
                name: null,
                first_name: null,
                username: null,
                userGroup: null,
                password: null,
                headers: [
                    {
                        text: 'Name',
                        value: 'name'
                    },
                ]
            };
        },
        computed: {

            all() {
                let list = this.$store.getters['userGroups/all'];
                this.headers = this.headers.splice(0, 1);
                this.headers.push(...list.map((el) => {
                    return {
                        text: el.name,
                        desc: el.description,
                        isDesc: true,
                        sortable: false,
                        align: 'left',
                        classes: 'px-0',
                        value: 'name',
                    }
                }));
                return list;
                return this.$store.getters['userGroups/all'];
            },
            allRights() {
                return this.$store.getters['rights/all'];
            }
        },
        methods: {
            groupHasRights(right, group) {
                right.isSelected = false;
                for (let i = 0; i < group.rights.length; i++) {
                    group.rights[i].isSelected = false;
                    if (group.rights[i].id == right.id) {
                        right.isSelected = true;
                        return true;
                    }
                }

                return false;
            },
            toggleUserGroupRight(right, group) {
                this.$store.dispatch('userGroups/toggleRight', {right, group});

                // this.groupHasRights(right, group);
                this.$forceUpdate();
            },
            actUserGroup() {
                this.dialogEdit = false;
                if (this.tempGroup.id) {
                    this.editUserGroup();
                } else {
                    this.addUserGroup();
                }
            },
            onSelectItem(item, type) {
                this.tempGroup = {};
                if (item) Object.assign(this.tempGroup, item);
                switch (type) {
                    case 1: {
                        this.dialogEdit = true;
                        break;
                    }
                    case 2: {
                        this.dialogDelete = true;
                        break;
                    }
                    default: {
                        this.dialogEdit = true;
                    }
                }
            },
            addUserGroup() {
                this.$store.dispatch('userGroups/add', this.tempGroup);
            },
            editUserGroup() {
                this.$store.dispatch('userGroups/edit', this.tempGroup);
            },
            deleteUserGroup() {
                this.$store.dispatch('userGroups/deleteItem', this.tempGroup);
                this.dialogEdit = false;
            },

        },
        mounted() {
            this.$store.dispatch('userGroups/all').then(() => {
                this.$store.dispatch('rights/all').then(() => {
                    for (let di = 0; di < this.all.length; di++) {
                        for (let i = 0; i < this.allRights.length; i++) {
                            this.groupHasRights(this.allRights[i], this.all[di]);
                        }
                    }

                })

            });

            this.$parent.title = 'All Users Groups';
        },
        destroyed() {
            this.$parent.title = '';
        }
    };
</script>

<style lang="scss" scoped>
    .el-right {
        display: none;
        transform: translateX(48px);
        &.active {
            display: block;
        }
    }
    .header-btn{
        font-size: 12px;
        text-transform: lowercase;
        padding: 0;
        text-overflow: ellipsis;
        overflow: hidden;
        max-width: 50%;
    }



</style>
