<template>
	<v-app id="login">
		<v-layout row wrap>
			<v-flex xs0 sm12>
				<div class="__background">
					<v-layout align-center justify-center class="__logo">
						<img src='../../../../static/img/logo/logo.png' height="70px" />
					</v-layout>
					<v-layout align-center justify-center>
						<h1>The Page you requested is not found :(</h1>
					</v-layout>
				</div>
			</v-flex>
		</v-layout>
	</v-app>
</template>

<script>
	import { Auth } from '@/services/AuthService';

	export default {
	  name: 'SfinxError'
	};
</script>

<style lang="scss" scoped>
	@import '../../../global';
	.__background {
	  background-repeat: no-repeat;
	  background-size: cover;
	  width: 100%;
	  height: 80%;
	}
	.__layer {
	  position: relative;
	  width: 100%;
	  height: 100%;
	  background-image: linear-gradient(
	    127deg,
	    $nav-background_color,
	    $nav-background_color
	  );
	}
	.__logo {
	  margin-top: 5%;
	}
	h1 {
	  font-size: 48px;
	  color: cadetblue;
	  padding-top: 3em;
	}
	h3 {
	  font-size: 22px;
	  color: cadetblue;
	}
	a {
	  font-size: 22px;
	  color: cadetblue;
	  text-decoration: none;
	}
</style>
