<template>
    <v-app id="home">
        <v-navigation-drawer :width="200" permanent class="main-nav dark" app dark>
            <PopupAlert ref="popupAlert"/>

            <v-list subheader id="nav-middle" class="pt-0  nav-items" color="white" dense>
                <img src="../../../../static/img/logo/logo.png" style="width: 100%">
                <template v-for="item in itemsMiddle" v-if="item.route">
                    <v-list-tile class="navigation__drawer__list" active-class="navigation__drawer__list--active"
                                 :to="item.route" v-bind:key="item.title"  @click="item.onClick ? item.onClick() : undefined">
                        <v-list-tile-action>
                            <v-icon v-if="item.icon">{{ item.icon }}</v-icon>
                        </v-list-tile-action>
                        <v-list-tile-content>
                            <v-list-tile-title v-text="item.title"></v-list-tile-title>
                        </v-list-tile-content>
                    </v-list-tile>
                </template>
                <!--				<template v-for="item in itemsMiddle" v-if="!item.route">
                    <v-list-group :key="item.title" :prepend-icon="item.icon" v-show='userRights ? userRights[item.right] : false'>
                        <v-list-tile slot="activator">
                            <v-list-tile-content>
                                <v-list-tile-title>{{ item.title }}</v-list-tile-title>
                            </v-list-tile-content>
                        </v-list-tile>
                        <v-divider v-if="item.items"></v-divider>
                        <v-list-tile v-if="item.items" v-for="subItem in item.items" v-bind:key="subItem.title" :to='subItem.route'>
                            <v-list-tile-content>
                                <v-list-tile-title>{{ subItem.title }}</v-list-tile-title>
                            </v-list-tile-content>
                            <v-list-tile-action>
                                <v-icon>{{ subItem.icon }}</v-icon>
                            </v-list-tile-action>
                        </v-list-tile>
                    </v-list-group>
                </template>-->
            </v-list>
            <v-list   class="pt-0 nav-items">
                <v-subheader>Tools</v-subheader>
                <template v-for="item in itemsBottom"
                          v-if='userRights && item.showOnRoute ? ((item.showOnRoute === path ||path.match(item.showOnRoute)) && showBtn(item.title))  : true'>
                    <v-list-tile :to="item.route" v-bind:key="item.title"
                                 v-bind:class="{ 'no-editable': !editableBtn(item.title) }"
                                 @click="item.onClick ? item.onClick() : undefined">
                        <v-list-tile-action>
                            <v-badge color="red">
                                <span v-if="item.slot" slot="badge">!</span>
                                <v-icon v-if="item.icon">{{ item.icon }}</v-icon>
                            </v-badge>
                        </v-list-tile-action>
                        <v-list-tile-content>
                            <v-list-tile-title v-text="item.title"></v-list-tile-title>
                        </v-list-tile-content>
                    </v-list-tile>
                </template>
            </v-list>
        </v-navigation-drawer>
        <v-content class="fullHeight">
            <v-container fluid class="fullHeight">
				<span class="fullHeight">
					<router-view></router-view>
				</span>
            </v-container>
        </v-content>
    </v-app>
</template>

<script>
    import {Auth} from '@/services/AuthService';
    import PopupAlert from './views/+planner/popups/alert';
    export default {
        data() {
            self = this;
            return {
                itemsMiddle: [
                    {
                        title: 'Home',
                        icon: 'dashboard',
                        route: '/dashboard',
                        right: 1
                    },

                    {
                        title: 'Planning',
                        icon: 'event',
                        route: '/planner',
                        right: 1,
                        onClick: () => {
                            self.$store.dispatch('planner/showMainPage',Date.now());
                        }
                    },
                    {
                        title: 'Contacts',
                        icon: 'import_contacts',
                        route: '/contacts',
                        right: 1
                    },
                    {
                        title: 'Contractor types',
                        icon: 'group_work',
                        route: '/contractorbranches',
                        right: 1
                    },
                    {
                        title: 'Finances',
                        icon: 'group_work',
                        route: '/finances/summary',
                        right: 1
                    },
                    {
                        title: 'Workflow',
                        icon: 'work',
                        route: '/workflow',
                        right: 1
                    },
                    {
                        title: 'Teams',
                        icon: 'people',
                        route: '/teams',
                        right: 1
                    },
                    {
                        title: 'Settings',
                        icon: 'supervised_user_circle',
                        route: '/settings',
                        right: 1
                    },
                    {
                        title: 'Collective Holidays',
                        icon: 'event_available',
                        route: '/holidays',
                        right: 1
                    }
                    /*					{
                                                                                                                                                title: 'Facturen',
                                                                                                                                                icon: 'insert_drive_file',
                                                                                                                                                right: 1,
                                                                                                                                                items: [
                                                                                                                                                    {
                                                                                                                                                        title: 'Inkomsten',
                                                                                                                                                        icon: 'file_download',
                                                                                                                                                        route: '/invoices/incoming',
                                                                                                                                                        right: 1
                                                                                                                                                    },
                                                                                                                                                    {
                                                                                                                                                        title: 'Uitgaven',
                                                                                                                                                        icon: 'file_upload',
                                                                                                                                                        route: '/invoices/outgoing',
                                                                                                                                                        right: 1
                                                                                                                                                    },
                                                                                                                                                    {
                                                                                                                                                        title: 'Overzicht',
                                                                                                                                                        icon: 'folder',
                                                                                                                                                        route: '/invoices/overview',
                                                                                                                                                        right: 1
                                                                                                                                                    }
                                                                                                                                                ]
                                                                                                                                            },*/
                    /*					{
                                                                                                                                                title: 'Teams',
                                                                                                                                                icon: 'group',
                                                                                                                                                right: 1,
                                                                                                                                                items: [
                                                                                                                                                    {
                                                                                                                                                        title: 'Overzicht',
                                                                                                                                                        icon: 'group',
                                                                                                                                                        route: '/team'
                                                                                                                                                    },
                                                                                                                                                    {
                                                                                                                                                        title: 'Toevoegen',
                                                                                                                                                        icon: 'group_add',
                                                                                                                                                        route: '/team/add',
                                                                                                                                                        right: 1
                                                                                                                                                    },
                                                                                                                                                    {
                                                                                                                                                        title: 'Evaluatie',
                                                                                                                                                        icon: 'playlist_add_check',
                                                                                                                                                        route: '/dashboard',
                                                                                                                                                        right: 1
                                                                                                                                                    }
                                                                                                                                                ]
                                                                                                                                            },*/
                    /*					{
                                                                                                                                                title: 'Instellingen',
                                                                                                                                                icon: 'settings',
                                                                                                                                                right: 1,
                                                                                                                                                items: [
                                                                                                                                                    {
                                                                                                                                                        title: 'Aannemingstakken',
                                                                                                                                                        icon: 'perm_contact_calendar',
                                                                                                                                                        route: '/contractorbranches',
                                                                                                                                                        right: 1
                                                                                                                                                    },
                                                                                                                                                    {
                                                                                                                                                        title: 'Afvinktypes',
                                                                                                                                                        icon: 'perm_contact_calendar',
                                                                                                                                                        route: '/checkofftype',
                                                                                                                                                        right: 1
                                                                                                                                                    },
                                                                                                                                                    {
                                                                                                                                                        title: 'Collectief verlof',
                                                                                                                                                        icon: 'perm_contact_calendar',
                                                                                                                                                        route: '/dashboard',
                                                                                                                                                        right: 1
                                                                                                                                                    },
                                                                                                                                                    {
                                                                                                                                                        title: 'Rechten',
                                                                                                                                                        icon: 'settings_input_component',
                                                                                                                                                        route: '/rights',
                                                                                                                                                        right: 1
                                                                                                                                                    }
                                                                                                                                                ]
                                                                                                                                            }*/
                ],
                itemsBottom: [
                    {
                        title: 'empty lines',
                        icon: 'menu',
                        right: 1,
                        showOnRoute: '/planner',
                        onClick: () => {
                            self.$store.dispatch('planner/toggleEmptyRowsFromAllSites');
                        }
                    },
                    {
                        title: 'undo',
                        icon: 'undo',
                        right: 1,
                        showOnRoute: '/planner',
                        onClick: () => {
                            self.$store.dispatch('planner/historyUndo');
                        }
                    },
                    {
                        title: 'redo',
                        icon: 'redo',
                        right: 1,
                        showOnRoute: '/planner',
                        onClick: () => {
                            self.$store.dispatch('planner/historyRedo');
                        }
                    },
                    {
                        title: 'kennisgeving',
                        icon: 'info',
                        slot: true,
                        right: 1,
                        showOnRoute: '/planner',
                        onClick: this.showAlert
                    },
                    {
                        title: 'Begin',
                        icon: 'fast_rewind',
                        right: 1,
                        showOnRoute: '/planner',
                        onClick() {
                            self.axios.post(`${process.env.API_URL}/api/v1/planner/daterange`, {
                                action: 'EARLIEST'
                            }).then(res => {
                                self.$store.dispatch(
                                    'navigation/changePLanerViewer',
                                    res.data
                                );
                            });
                        }
                    },
                    {
                        title: 'Vandaag (+3m)',
                        icon: 'today',
                        right: 1,
                        showOnRoute: '/planner',
                        onClick() {
                            self.axios
                                .post(`${process.env.API_URL}/api/v1/planner/daterange`, {
                                    action: 'LATER3MONTHS'
                                })
                                .then(res => {
                                    self.$store.dispatch(
                                        'navigation/changePLanerViewer',
                                        res.data
                                    );
                                });
                        }
                    },
                    {
                        title: 'Einde',
                        icon: 'fast_forward',
                        right: 1,
                        showOnRoute: '/planner',
                        onClick() {
                            self.axios
                                .post(`${process.env.API_URL}/api/v1/planner/daterange`, {
                                    action: 'LATEST'
                                })
                                .then(res => {
                                    self.$store.dispatch(
                                        'navigation/changePLanerViewer',
                                        res.data
                                    );
                                });
                        }
                    },
                    /* {
                                                                                                                               title: 'Toon lege lijnen',
                                                                                                                               icon: 'view_headline',
                                                                                                                               right: 1,
                                                                                                                               showOnRoute: '/planner'
                                                                                                                             },*/
                    {
                        title: 'Selectie werven',
                        icon: 'assignment_ind',
                        right: 1,
                        onClick: this.showSiteTools,
                        showOnRoute: '/planner'
                    },
                    {
                        title: 'Selectie werven',
                        icon: 'assignment_ind',
                        right: 1,
                        onClick: this.showSiteTools,
                        showOnRoute: '/workflow'
                    },
                    {
                        title: 'My Sites',
                        icon: 'undo',
                        right: 1,
                        onClick: () => {
                            self.axios
                                .post(`${process.env.API_URL}/api/v1/user/construction-site/reset`, {})
                                .then(res => {
                                    self.$store.dispatch(
                                        'workflow/updateSettings',
                                        Date.now()
                                    );
                                });
                        },
                        showOnRoute: '/workflow'
                    },
                    /*{
                        title: 'Members',
                        icon: 'supervised_user_circle',
                        route: '/workflow/members',
                        right: 1,
                        showOnRoute: 'workflow'
                    },*/
                    {
                        title: 'Tasks',
                        icon: 'group_work',
                        route: '/workflow/tasks',
                        right: 1,
                        showOnRoute: 'workflow'
                    },{
                        title: 'Groups',
                        icon: 'group_work',
                        route: '/workflow/function-groups',
                        right: 1,
                        showOnRoute: 'workflow'
                    }





                    ,{
                        title: 'Accounts',
                        icon: 'group_work',
                        right: 1 ,
                        showOnRoute: '/finances',
                        route: '/finances/accounts',

                    }




                    ,{
                        title: 'Afmelden',
                        icon: 'power_settings_new',
                        right: 1,
                        onClick: this.logout
                    }
                ]
            };
        },
        components: {
            PopupAlert
        },
        computed: {
            userData: function () {
                // return this.$auth.user()['profile']
                return [];
            },
            userRights: function () {
                // return this.$auth.user()['rights']
                return [];
            },
            mini: {
                get: function () {
                    return this.$store.getters['navigation/mini'];
                },
                set: function (value) {
                    this.$store.dispatch('navigation/changeMini', value);
                }
            },
            siteToolsVisibility: function () {
                return this.$store.getters['navigation/siteToolsVisibility'];
            },
            addContactsDialogVisibility: function () {
                return this.$store.getters['navigation/addContactsDialogVisibility'];
            },
            path: function () {
                return this.$route.path;
            }
        },
        methods: {
            showAlert: function () {
                if (this.$store.getters['planner/warnings'].conflicts.length) {
                    this.$refs.popupAlert.show(
                        this.$store.getters['planner/warnings'].conflicts
                    );
                }
            },
            showBtn: function (title) {
                switch (title) {
                    case 'kennisgeving': {
                        return this.$store.getters['planner/warnings'].conflicts.length > 0;
                    }
                }
                /*switch (title) {
                    case 'undo': {
                        return this.$store.getters['planner/history'].pool.length > 0;
                    }
                }*/
                return true;
            },
            editableBtn: function (title) {
                let _history = this.$store.getters['planner/history'];
                switch (title) {
                    case 'undo': {
                        return _history.isUndo;
                    }
                    case 'redo': {
                        return _history.isRedo;
                    }
                }
                return true;
            },
            logout: function () {
                Auth.logout(this);
            },
            showSiteTools: function () {
                this.$store.dispatch('navigation/changeMini', true);
                this.$store.dispatch(
                    'navigation/changeSiteToolsVisibility',
                    !this.siteToolsVisibility
                );
            },
            showAddContactsDialog: function () {
                this.$store.dispatch(
                    'navigation/changeAddContactsDialogVisibility',
                    true
                );
            },
            checkUserRight: function (right) {
                return this.userRights[right];
            },
            toggleMini: function (value) {
                this.$store.dispatch('navigation/changeMini', value ? value : !this.mini);
            }
        },
        mounted() {
            if (this.$auth.check()) {
                this.$auth.fetch({
                    success: function (res) {
                        if(res.data.shouldRefreshPsw){

                        }
                        this.$auth.user(res.data);
                    },
                    error: function (res) {
                        console.log('Something went wrong');
                    }
                });
            }

        }
    };
</script>

<style lang="scss" scoped>
    @import '../../../global';

    .nav-items{

    }
    .fullHeight {
        height: 100%;
    }

    .container {
        margin: 0;
        padding: 0;
    }

    #nav-bottom {
        position: absolute;
        bottom: 0;
        width: 100%;
    }

    .no-editable {
        pointer-events: none;
        cursor: default;
        opacity: 0.5;
        color: gray;
    }
</style>
