<template>
    <div id="sfinx-dashboard">
        <v-card tile>
            <v-toolbar dark dense>
                <v-toolbar-title>Dashboard</v-toolbar-title>
                <v-spacer></v-spacer>
                <v-select :items="items"   @change="swapComponent" solo v-model="e1"
                          label="Select type"></v-select>
            </v-toolbar>
        </v-card>
        <component :is="currentComponent" :swap-component="swapComponent"></component>
    </div>
</template>

<script>
    import Estimator from './estimatorDashboard';
    import ProjectLeader from './ProjectLeaderDashboard';

    export default {
        data: function () {
            return {
                auth_token: localStorage.getItem('default_auth_token'),
                LEGACY_URL: process.env.LEGACY_URL,
                currentComponent: 'Estimator',
                items: [
                    {
                        text: 'Estimator'
                    },
                    {
                        text: 'ProjectLeader'
                    }
                ],
                e1: null
            };
        },
        components: {
            toolbar,
            Estimator,
            ProjectLeader
        },
        methods: {
            swapComponent(e) {
                this.currentComponent = e.text;
            }
        }
    };
</script>

<style lang="scss" scoped>
    #sfinx-dashboard {
        background-color: #fff;
        width: 100%;
        height: 100%;
        iframe {
            width: 100%;
            height: 100%;
        }
    }
</style>
