<template>

    <table ref="sortableTable" class="task-node-tree" :data-parent-id="parentTask.id">
        <draggable v-model="group"  class="dragArea" @end="onEnd"  >
			<span v-for="item in list" :key="`list-i-workflow-tasks${item.id}`" :id="item.id" class="sortableRow">
				<task-tree-node-nested :item="item" :_parent="_parent" :parentList="list"></task-tree-node-nested>
			</span>
        </draggable>
    </table>
</template>


<script>
    import draggable from 'vuedraggable'

    export default {
        components: {
            draggable,
        },
        name: 'invoice.account.nested',
        props: ['list', '_parent', 'parentTask'],
        data() {
            return {
            };
        },
        mounted() {
        },
        methods: {
            onEnd: function ({item, oldIndex, newIndex}) {
                let _parentNodeId = parseInt(item.parentNode.parentNode.dataset.parentId);
                for (let i = 0; i < this.tasks.length; i++) {
                    let editItem = this.tasks[i];
                    if (editItem.id == item.id) {
                        if (oldIndex == newIndex && _parentNodeId == editItem.parent_workflow_task_id) return console.warn('No changes');
                        editItem.oldSequence = editItem.sequence;
                        editItem.sequence = newIndex + 1;
                        if (!isNaN(_parentNodeId) && typeof _parentNodeId == 'number') editItem.parent_workflow_task_id = _parentNodeId;
                        this.$store.dispatch('workflow/task/editItem', editItem);
                    }
                }
            }
        },
        computed: {
            group: {
                get: function () {
                    return this.tasks
                },
                set: function (newValue) {
                    while (this.tasks.length) this.tasks.shift();
                    newValue.forEach((el) => {
                        this.tasks.push(el);
                    });
                }
            }
        }
    };
</script>


<style lang="scss" scoped>
    .task-node-tree {
        margin-left: 25px;
        .mainTask {
            &.task-parent-task {
                background: gray;
            }
        }
    }

    .nested_subtask {
        background-color: #f3f3f3;
    }

    .mainTask {
    }

    .subTask {
        background-color: #d3d3d3;
        font-weight: 600;
    }

    table {
        width: 100%;
    }

    td {
        text-overflow: ellipsis;
        width: 10%;
        text-align: left;
        vertical-align: middle;
    }

    .indent {
        padding-left: 5%;
    }

    .indent1 {
        padding-left: 8%;
    }

    /* Safari */
    @-webkit-keyframes spin {
        0% {
            -webkit-transform: rotate(0deg);
        }
        100% {
            -webkit-transform: rotate(360deg);
        }
    }

    @keyframes spin {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(360deg);
        }
    }
</style>
