<template>
	<span>

		<tr class="mainTask  " :class="[task.is_parent?'task-parent-task':'']"  >
			<td class="px-0 py-0 text-xs-left" style="width: 0.5%">
				<v-flex d-flex>
					<v-btn style="cursor: move" icon class="sortHandle">
						<v-icon>drag_handle</v-icon>
					</v-btn>
					<v-tooltip top v-if="task.sub_tasks.length">
						<v-btn  slot="activator" flat icon dark @click="toggleWrap()">
							<v-icon>{{isTogled?'remove':'add'}}</v-icon>
						</v-btn>
						<span>{{isTogled?'wrap':'unwrap'}}</span>
					</v-tooltip>
					<v-btn v-else flat icon dark  style="visibility: hidden"> </v-btn>
				</v-flex>

			</td>
			<td hidden>{{task.id}}</td>
			<td class="text-xs-left">{{ task.name }}</td>
			<td class="text-xs-left">{{ task.description }}</td>
			<td class="sequence text-xs-left">{{task.sequence}}</td>
			<td>
				<v-btn flat icon color="secondary lighten-2" dark @click="_parent.onSelectItem(task,2,this.parentList)">
					<v-icon color="secondary" flat dark>edit</v-icon> &nbsp;
				</v-btn>
				<v-btn flat icon color="secondary lighten-2" dark @click="_parent.onSelectItem(task,3,this.parentList)">
					<v-icon color="red" flat dark>delete</v-icon>
				</v-btn>
				<v-btn flat icon color="secondary lighten-2" dark @click="_parent.onSelectItem(task,1,this.parentList)">
					<v-icon color="primary" flat dark>add</v-icon>
				</v-btn>
			</td>
		</tr>
		<task-tree-nested :tasks="task.sub_tasks" :_parent="_parent" :parentTask="task" v-if="task.sub_tasks && isTogled"></task-tree-nested>
	</span>
</template>


<script>
    import draggable from 'vuedraggable'
    export default {
        components: {
            draggable,
        },
        name: 'task-tree-node-nested',
        props: ['task', "_parent", "parentList"],
        data() {
            return {
                isTogled: true
            };
        },
        mounted() {
        },
		watch:{
            "$props._parent.wrap":function(pld,newV) {
                this.isTogled =newV;
            }
		},
        methods: {
            toggleWrap() {
                this.isTogled = !this.isTogled;
            }
        },
        computed: {
            group: function(){return this.parentList}
		}
    };
</script>


<style lang="scss" scoped>
    .mainTask {
        &.task-parent-task {
            background: gray;
        }
    }

    td {
        text-overflow: ellipsis;
        width: 10%;
        text-align: left;
        vertical-align: middle;
    }

</style>
