<template>
    <div class="main-block">
        <v-card flat tile>
            <v-toolbar dark dense>
                <v-toolbar-title>Fincance</v-toolbar-title>

                <v-spacer></v-spacer>
                <v-toolbar-items>
                    <v-btn :to="{ name: 'fincance-summary'}" flat ripple>Summary</v-btn>
                    <v-btn :to="{ name: 'fincance-invoices'}" flat ripple>Invoices</v-btn>
                </v-toolbar-items>
            </v-toolbar>
        </v-card>
        <router-view></router-view>
    </div>
</template>

<script>
    export default {
        data() {
            return {}
        },
        computed: {},
        methods: {},
        mounted() {
        }
    };
</script>
<style>
    .main-block{
        overflow: hidden;
        height: 100vh;
    }
</style>
