<template>
    <div id="aannemingstak-all" class="main-container users  ">
        <v-card flat tile>
            <v-toolbar dark dense>
                <v-toolbar-title>Contracting branches</v-toolbar-title>
                <v-spacer></v-spacer>
                <v-dialog justify-right v-model="dialog" persistent max-width="500px">
                    <v-btn slot="activator" flat color="white" dark>
                        <v-icon>add</v-icon> &nbsp; Add Contractor Type
                    </v-btn>
                    <v-card>
                        <v-card-title>
                            <span class="headline">New contractor type</span>
                        </v-card-title>
                        <v-card-text>
                            <v-container grid-list-md>
                                <v-layout wrap>
                                    <v-flex xs12 sm12 md12>
                                        <v-text-field label="Name" v-model="name" required></v-text-field>
                                    </v-flex>
                                    <v-flex xs12 sm12 md12>
                                        <v-text-field label="Abbreviation" v-model="abbreviation"
                                                      required></v-text-field>
                                    </v-flex>
                                </v-layout>
                            </v-container>
                            <small>*indicates required field</small>
                        </v-card-text>
                        <v-card-actions>
                            <v-spacer></v-spacer>
                            <v-btn color="blue darken-1" flat @click.native="dialog = false">Close</v-btn>
                            <v-btn color="blue darken-1" flat @click.native="addContractorType">Save</v-btn>
                        </v-card-actions>
                    </v-card>
                </v-dialog>
            </v-toolbar>
        </v-card>
        <v-data-table :headers="headers" :items="AllContractorType"
                      overflow
                      ref="sortableTable" hide-actions item-key="name" class="elevation-1 body-container list-table ">
            <template slot="items" slot-scope="props">

                <tr class="sortableRow" :data-item-id="props.item.id">
                    <td class="px-1"  >
                        <v-btn style="cursor: move" icon class="sortHandle">
                            <v-icon>drag_handle</v-icon>
                        </v-btn>
                    </td>
                    <td>{{props.item.id}}</td>
                    <td>{{ props.item.abbreviation }}</td>
                    <td>{{ props.item.name }}</td>
                    <td class="sequence">{{props.item.sequence}}</td>
                    <td>
                        <v-dialog v-model="dialog2[props.item.id]" persistent max-width="500px">
                            <v-icon slot="activator" color="secondary" flat dark @click="selectToEdit(props.item)">edit
                                &emsp;
                            </v-icon>
                            <v-card>
                                <v-card-title>
                                    <span class="headline">Edit Contractor Type</span>
                                </v-card-title>
                                <v-card-text>
                                    <v-container grid-list-md>
                                        <v-layout wrap>
                                            <v-flex xs12 sm6 md6>
                                                <v-text-field label="name" v-model="name" required></v-text-field>
                                            </v-flex>
                                            <v-flex xs12 sm6 md6>
                                                <v-text-field label="Abbreviation" v-model="abbreviation"
                                                              required></v-text-field>
                                            </v-flex>
                                        </v-layout>
                                    </v-container>
                                    <small>*indicates required field</small>
                                </v-card-text>
                                <v-card-actions>
                                    <v-spacer></v-spacer>
                                    <v-btn color="blue darken-1" flat @click.native="abortedEditing(props.item)">Close
                                    </v-btn>
                                    <v-btn color="blue darken-1" flat
                                           @click.native="editAndSaveContractorType(props.item)">Save Changes
                                    </v-btn>
                                </v-card-actions>
                            </v-card>
                        </v-dialog>
                        <v-dialog v-model="dialog1[props.item.id]" :key="props.item.id" persistent max-width="590">
                            <v-icon slot="activator" color="primary" flat dark>delete</v-icon>
                            <v-card>
                                <v-card-title class="headline">Are you sure you want to delete the Contractor Type
                                    {{props.item.name}} ?
                                </v-card-title>
                                <v-card-actions>
                                    <v-spacer></v-spacer>
                                    <v-btn color="green darken-1" flat
                                           @click.native="$set(dialog1, props.item.id, false)">Cancel
                                    </v-btn>
                                    <v-btn color="green darken-1" flat
                                           @click.native="deleteContractorType(props.item.id)">Yes
                                    </v-btn>
                                </v-card-actions>
                            </v-card>
                        </v-dialog>
                    </td>
                </tr>
            </template>
        </v-data-table>

    </div>
</template>

<script>
    import Sortable from 'sortablejs';

    export default {
        data() {
            return {
                dialog: false,
                dialog2: {},
                dialog1: {},
                headers: [
                    {
                        sortable: false
                    },
                    {
                        text: 'ID',
                        align: 'left',
                        value: 'id',
                        sortable: false
                    },
                    {
                        text: 'Abbreviation',
                        align: 'left',
                        value: 'abbreviation',
                        sortable: false
                    },
                    {
                        text: 'Name',
                        align: 'left',
                        value: 'name',
                        sortable: false
                    },
                    {
                        text: 'Sequence',
                        align: 'left',
                        value: 'sequence',
                        sortable: false
                    },
                    {
                        text: 'Action',
                        align: 'left',
                        value: 'action',
                        sortable: false
                    }
                ],
                name: '',
                abbreviation: ''
            };
        },
        mounted() {
            this.$store.dispatch('contractorBranches/getAllContractorType');
            new Sortable(
                this.$refs.sortableTable.$el.childNodes[0].querySelector('tbody'),
                {
                    draggable: '.sortableRow',
                    handle: '.sortHandle',
                    onEnd: this.dragReorder
                }
            );
        },
        methods: {
            onScroll(e) {
                console.log((window.pageYOffset || document.documentElement.scrollTop, e.scrollTop));
            },
            dragReorder({item, oldIndex, newIndex}) {
                const getSequenceValue = document.getElementsByClassName('sequence');
                const getSequenceArray = [...getSequenceValue];
                const a = [];
                for (let i = 0; i < getSequenceArray.length; i++) {
                    getSequenceArray[i].innerText = i + 1;
                }
                if (oldIndex != newIndex)
                    this.$store
                        .dispatch('contractorBranches/editContractorType', {
                            id: item.dataset.itemId,
                            sequence: newIndex + 1
                        })
                        .then(res => {
                        });
            },
            addContractorType() {
                this.$store
                    .dispatch('contractorBranches/addContractorType', {
                        name: this.name,
                        abbreviation: this.abbreviation
                    })
                    .then(() => {
                        this.dialog = false;
                        this.name = '';
                        this.abbreviation = '';
                    });
            },
            selectToEdit(item) {
                this.name = item.name;
                this.abbreviation = item.abbreviation;
            },
            editAndSaveContractorType(item) {
                this.$store
                    .dispatch('contractorBranches/editContractorType', {
                        name: this.name,
                        abbreviation: this.abbreviation,
                        id: item.id
                    })
                    .then(() => {
                        item.name = this.name;
                        item.abbreviation = this.abbreviation;
                        this.$set(this.dialog2, item.id, false);
                        this.name = '';
                        this.abbreviation = '';
                    });
            },
            deleteContractorType(id) {
                this.$store
                    .dispatch('contractorBranches/deleteContractorType', id)
                    .then(() => {
                        this.$set(this.dialog1, id, false);
                    });
            },
            abortedEditing(item) {
                this.name = '';
                this.abbreviation = '';
                this.$set(this.dialog2, item.id, false);
            }
        },
        computed: {
            AllContractorType() {
                return this.$store.getters[
                    'contractorBranches/getAllContractorType'
                    ].sort((a, b) => (a.sequence > b.sequence ? 1 : -1));
            }
        }
    };
</script>
<style lang="scss" scoped>
    .main-container {

    }
</style>
