<template>
    <v-flex xs12 md3 lg3 class="card">
        <v-card dark fill-height class="dark">
            <v-card-title class="pa-3">
                <h2>General Information</h2>
                <v-dialog v-model="dialogEdit" persistent max-width="500px">
                    <v-btn id="general-information__edit" slot="activator" @click="onSelectItem(user,1)" flat icon
                           color="white lighten-2"
                           class="white--text">
                        <v-icon large medium>edit</v-icon>
                    </v-btn>
                    <v-card>
                        <v-card-title>
                            Edit Profile Information
                        </v-card-title>
                        <v-card-text>
                            <v-container grid-list-md>
                                <v-form class="__form" ref="updateUser" xs12>
                                    <v-layout wrap>

                                        <v-flex xs6>
                                            <v-text-field label="First Name" append-icon="person"
                                                          v-model="tempItem.first_name"
                                                          required></v-text-field>

                                        </v-flex>
                                        <v-flex xs6>
                                            <v-text-field xs6 label="Last Name" v-model="tempItem.name"
                                                          append-icon="person"
                                                          minLength="4"
                                                          maxLength="20"
                                                          :rules="[rules.required, rules.counterText]"
                                                          required></v-text-field>
                                        </v-flex>
                                        <v-flex xs12>
                                            <v-text-field label="Username"
                                                          append-icon="person"
                                                          minLength="4"
                                                          maxLength="20"
                                                          :rules="[rules.required, rules.counterText]"
                                                          v-model="tempItem.username" required></v-text-field>
                                        </v-flex>

                                        <v-flex xs6>
                                            <v-text-field
                                                    :append-icon="showPsw ? 'visibility_off' : 'visibility'"
                                                    v-model="tempItem.password"
                                                    :rules="[  rules.counter, rules.matched]"
                                                    label="Password"
                                                    counter
                                                    :type="showPsw ? 'text' : 'password'"
                                                    maxlength="20"
                                                    minlength="8"
                                                    hint="At least 8 characters"
                                                    @click:append="showPsw = !showPsw"
                                            ></v-text-field>
                                        </v-flex>
                                        <v-flex xs6>
                                            <v-text-field
                                                    :append-icon="showPswR ? 'visibility_off' : 'visibility'"
                                                    v-model="tempItem.passwordRepeat"
                                                    :rules="[  rules.counter, rules.matched]"
                                                    label="Password"
                                                    counter
                                                    :type="showPswR ? 'text' : 'password'"
                                                    maxlength="20"
                                                    minlength="8"
                                                    hint="At least 8 characters"
                                                    @click:append="showPswR = !showPswR"
                                            ></v-text-field>

                                        </v-flex>
                                    </v-layout>
                                </v-form>
                            </v-container>
                        </v-card-text>
                        <v-card-actions>
                            <v-spacer></v-spacer>
                            <v-btn color="primary" flat @click="dialogEdit =false">Close</v-btn>
                            <v-btn flat @click="actItem()">Save</v-btn>
                        </v-card-actions>
                    </v-card>
                </v-dialog>
            </v-card-title>
        </v-card>
        <v-flex elevation-2 xs12 class="px-2 pt-3 pb-1">
            <v-layout row wrap class="py-2">
                <v-flex xs12 sm6 class="body-2">
                    Name
                </v-flex>
                <v-flex xs12 sm6 class="body-1">
                    {{user.name}}
                </v-flex>
            </v-layout>
            <hr>
            <v-layout row wrap class="py-2">
                <v-flex xs12 sm6 class="body-2">
                    First Name
                </v-flex>
                <v-flex xs12 sm6 class="body-1">
                    {{user.first_name}}
                </v-flex>
            </v-layout>
            <hr>
            <v-layout row wrap class="py-2">
                <v-flex xs12 sm6 class="body-2">
                    UserName
                </v-flex>
                <v-flex xs12 sm6 class="body-1">
                    {{user.username}}
                </v-flex>
            </v-layout>

        </v-flex>
    </v-flex>
</template>

<script>
    export default {
        data() {
            return {
                showPswR: false,
                showPsw: false,
                dialogEdit: false,
                dialogDelete: false,
                user: {},
                rules: {
                    requiredPsw: value => (!!this.tempItem.password) || 'Required.',
                    required: value => !!value || 'Required.',
                    counterText: value => value && value.length >= 4 && value.length <= 20 || 'Min 4 characters',
                    counter: value => !value || value && value.length >= 8 && value.length <= 20 || 'Min 8 characters and Max 20 characters',
                    matched: value => this.tempItem.password === this.tempItem.passwordRepeat || 'Passwords not matched',
                },
                tempItem: {
                    id: null,
                    name: null,
                    description: null,
                },
            };
        },
        computed: {},
        methods: {
            actItem() {

                this.editItem();
            },
            onSelectItem(item, type) {
                this.tempItem = {};
                if (item) Object.assign(this.tempItem, item);
                switch (type) {
                    case 1: {
                        this.dialogEdit = true;
                        break;
                    }
                    case 2: {
                        this.dialogDelete = true;
                        break;
                    }
                    default: {
                        this.dialogEdit = true;
                    }
                }
            },

            editItem() {
                if (this.$refs.updateUser.validate()) {
                    this.$store.dispatch('users/editSelf', this.tempItem).then((res) => {
                        if (res.data) this.user = res.data.data;
                    });
                    this.dialogEdit = false;
                }
            },

        },
        mounted() {
            let self = this;
            this.$auth.fetch({
                success: function (res) {
                    self.user = res.data.data;
                }
            });
        },
    };
</script>
