<template>
    <v-flex xs12 sm12 lg12 xl10 text-xs-left class="px-0 ml-5 mt-3 py-0 card">
        <v-card dark fill-height class="px-1 py-0 dark">
            <v-card-title class="px-5 py-2">
                <div class="content">Team period</div>
                <v-spacer></v-spacer>
                <v-btn @click="onSelectItem(null,1)" flat icon class="white--text">
                    <v-icon>add</v-icon>
                </v-btn>
            </v-card-title>
        </v-card>
        <v-flex xs12>
            <v-data-table v-model="selected" :headers="headers" hide-actions :items="team.tempPeriods" select-all
                          item-key="_externals_id"
                          class="elevation-1">
                <template slot="items" slot-scope="props">
                    <tr :active="props.selected">
                        <td>
                            <v-checkbox v-model="props.selected" primary hide-details></v-checkbox>
                        </td>
                        <td class="text-xs-left">{{ props.item.name }}</td>
                        <td class="text-xs-left">{{ props.item.start }}</td>
                        <td class="text-xs-left">{{ props.item.end }}</td>
                        <td class="text-xs-left">{{ props.item._members }}</td>
                        <td class="justify-center layout px-0">
                            <v-btn icon class="mx-0" @click="onSelectItem(props.item,3)">
                                <v-icon color="pink">delete</v-icon>
                            </v-btn>
                            <v-btn icon class="mx-0" @click="onSelectItem(props.item,2)">
                                <v-icon dark color="secondary">edit</v-icon>
                            </v-btn>
                        </td>
                    </tr>
                </template>
            </v-data-table>
        </v-flex>
        <v-dialog v-model="dialogEdit" max-width="700px">
            <v-card>
                <v-card-title>
                    {{tempItem_.id||tempItem_._id?`Edit`:`Add new`}} Team period
                </v-card-title>
                <v-card-text>
                    <v-container grid-list-md>
                        <v-layout wrap>
                            <v-flex d-flex>
                                <v-text-field
                                        label="Name"
                                        v-model="tempItem_.name"
                                ></v-text-field>
                            </v-flex>
                            <v-flex d-flex>
                                <v-subheader>Datum</v-subheader>
                                <v-layout row wrap>
                                    <v-flex xs6>

                                        <v-dialog ref="dataStartMenu" v-model="dataStartMenu" persistent lazy full-width
                                                  width="290px">
                                            <v-text-field slot="activator" label="Start Date"
                                                          v-model="tempItem_.start" prepend-icon="event"
                                                          readonly></v-text-field>
                                            <v-date-picker v-model="tempItem_.start"
                                                           :allowed-dates="allowedStartDate" scrollable>
                                                <v-spacer></v-spacer>
                                                <v-btn flat color="primary" @click="dataStartMenu = false">Cancel
                                                </v-btn>
                                                <v-btn flat color="primary"
                                                       @click="$refs.dataStartMenu.save(tempItem_.start)">OK
                                                </v-btn>
                                            </v-date-picker>
                                        </v-dialog>
                                    </v-flex>
                                    <v-flex xs6>
                                        <v-dialog ref="dataEndtMenu" v-model="dataEndtMenu" persistent lazy full-width
                                                  width="290px">
                                            <v-text-field slot="activator" label="Start Date"
                                                          v-model="tempItem_.end" prepend-icon="event"
                                                          readonly></v-text-field>
                                            <v-date-picker v-model="tempItem_.end"
                                                           :allowed-dates="allowedEndDate" scrollable>
                                                <v-spacer></v-spacer>
                                                <v-btn flat color="primary" @click="dataEndtMenu = false">Cancel</v-btn>
                                                <v-btn flat color="primary"
                                                       @click="$refs.dataEndtMenu.save(tempItem_.start)">OK
                                                </v-btn>
                                            </v-date-picker>
                                        </v-dialog>


                                    </v-flex>
                                </v-layout>
                            </v-flex>
                            <v-flex d-flex>
                                <!--<v-combobox
                                        v-model="tempItem_.tempMembers"
                                        :items="allMembers"
                                        label="Members"
                                        chips
                                        clearable
                                        return-object
                                        item-text="name"
                                        prepend-icon="filter_list"
                                        solo
                                        multiple>
                                    <template slot="selection" slot-scope="data">
                                        <v-chip :selected="data.item.selected" close
                                                @input="removeMember(data.item)">
                                            <strong>{{ data.item.name }}</strong>&nbsp;
                                        </v-chip>
                                    </template>
                                </v-combobox>-->
                                <team-period-member v-if="tempItem_.tempMembers"
                                                    :period="tempItem_"></team-period-member>
                            </v-flex>
                        </v-layout>
                    </v-container>
                </v-card-text>
                <v-card-actions>
                    <v-btn color="primary" flat @click.stop="dialogEdit=false">Close</v-btn>
                    <v-btn flat @click.stop="onActionItem(tempItem_.id||tempItem_._id?2:1)">
                        {{tempItem_.id||tempItem_._id?`Edit`:`Add`}}
                    </v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>
        <v-dialog v-model="dialogDelete" persistent max-width="590">
            <v-card>
                <v-card-title class="headline">Are you sure you want to delete the Team period
                    {{tempItem_.name}} ?
                </v-card-title>
                <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn color="green darken-1" flat
                           @click.native="dialogDelete=false">Cancel
                    </v-btn>
                    <v-btn color="green darken-1" flat
                           @click.native="onActionItem(3)">Yes
                    </v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>
        <v-dialog v-model="dialogInform" persistent max-width="590">
            <v-card>
                <v-card-title class="headline">
                    Warning!!! {{inforM}}
                </v-card-title>
                <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn color="green darken-1" flat
                           @click.native="dialogInform=false">OK
                    </v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>
    </v-flex>
</template>

<script>
    import teamPeriodMember from "./member";

    export default {
        name: 'team-period',
        props: ['team'],
        components: {
            teamPeriodMember
        },
        data() {
            return {
                dataStartMenu: false,
                dataEndtMenu: false,
                dialogInform: false,
                inforM: '',
                dialogEdit: null,
                dialogDelete: null,
                tempItem_: {},
                selected: [],
                list: [],
                headers: [
                    {
                        text: 'Name',
                        align: 'left',
                        value: 'comment'
                    },
                    {
                        text: 'Start Date',
                        align: 'left',
                        value: 'start'
                    }, {
                        text: 'End Date',
                        align: 'left',
                        value: 'end'
                    },
                    {
                        text: 'Members',
                        align: 'left',
                        value: '_members'
                    },
                    {
                        text: 'Actions',
                        sortable: false,
                        align: 'left',
                        value: 'name'
                    }
                ]
            };
        },
        methods: {
            allowedEndDate(val) {
                return val >= this.tempItem_.start;
            },
            allowedStartDate(val) {
                return val <= this.tempItem_.end;
            },
            removeMember(item) {
                for (let i = 0; i < this.tempItem_.tempMembers.length; i++) {
                    if (item.id == this.tempItem_.tempMembers[i].id) {
                        return this.tempItem_.tempMembers.splice(i, 1);
                    }
                }
            },
            onSelectItem(item, action) {
                let _item = this.tempItem_ = {};
                if (item) {
                    this.tempItem_.originItem = item;
                    Object.assign(this.tempItem_, item);

                }
                ['start', 'end'].forEach((el) => {
                    _item[el] = new Date(_item[el] || Date.now());
                    _item[el] = _item[el].format('yyyy-mm-dd');
                })
                switch (action) {
                    case 1: {//on create new
                        this.tempItem_.tempMembers = [];
                        this.tempItem_.membersId = [];
                        this.dialogEdit = true;
                        break
                    }
                    case 2: {//on edit new
                        let
                            period = item,
                            __members = this.$store.getters['common/member/all'],
                            _c = period.members;
                        period.tempMembers = this.tempItem_.tempMembers = [];
                        period.membersId = this.tempItem_.membersId = [];
                        for (let di = 0; di < _c.length; di++) {
                            for (let i = 0; i < __members.length; i++) {
                                if (__members[i].id == _c[di].id) {
                                    period.tempMembers.push({
                                        member: __members[i],
                                        member_price: _c[di].member_price || 0
                                    });
                                    period.membersId.push({
                                        id: __members[i].id,
                                        member_price: _c[di].member_price
                                    });
                                    break;
                                }
                            }
                        }
                        this.dialogEdit = true;
                        break
                    }
                    case 3: {//on delete new
                        this.dialogDelete = true;
                        break
                    }
                }
            },
            onActionItem(action) {


                switch (action) {
                    case 1:
                    case 2: {//edit
                        if (this.isPeriodIntersects()) {
                            this.dialogInform = true;
                            return this.inforM = `Can\`t ${action == 1 ? 'add' : 'edit'} period, it seem\`s like you already have same date interval period, make sure they are not intersect`;
                        }
                        this.tempItem_.membersId = this.tempItem_.tempMembers.map((el) => {
                            return {
                                id: el.member.id,
                                member_price: el.member_price
                            }
                        }).filter((el) => el.id > -1);
                        this.tempItem_._members = "";
                        for (let di = 0; di < this.tempItem_.tempMembers.length; di++) {
                            this.tempItem_._members += (this.tempItem_._members.length ? ", " : "") + this.tempItem_.tempMembers[di].member.name;
                        }
                        if (action == 2) {
                            Object.assign(this.tempItem_.originItem, this.tempItem_);
                        } else {
                            this.tempItem_._id = Date.now();
                            this.team.tempPeriods.push(this.tempItem_);
                        }
                        break;
                    }
                    case 3: {
                        for (let i = 0; i < this.team.tempPeriods.length; i++) {
                            if (this.team.tempPeriods[i]._id == this.tempItem_._id ||
                                (this.team.tempPeriods[i].id && this.team.tempPeriods[i].id == this.tempItem_.id)) {
                                this.team.tempPeriods.splice(i, 1);
                                break;
                            }
                        }
                    }
                }
                this.team.tempPeriods = this.team.tempPeriods.concat([]);
                this.tempItem_.originItem = null;
                delete this.tempItem_.originItem;
                this.dialogDelete = this.dialogEdit = false;
            },
            isPeriodIntersects() {
                let _start = (new Date(this.tempItem_.start)).getTime(),
                    _end = (new Date(this.tempItem_.end)).getTime();

                for (let i = 0, _periods = this.team.tempPeriods; i < _periods.length; i++) {
                    let _startP = (new Date(_periods[i].start)).getTime(),
                        _endP = (new Date(_periods[i].end)).getTime();
                    if (
                        this.tempItem_.id != _periods[i].id && (
                            (_start >= _startP && _start <= _endP) ||
                            (_end >= _startP && _end <= _endP)
                        )

                    ) {
                        return true;
                    }
                }
                return false
            },
        },
        mounted() {
        },
        computed: {
            allMembers() {
                return this.$store.getters['common/member/all'].filter((el) => el.id > -1);
            }
        }
    };
</script>
