<template>
    <v-flex xs12 sm12 lg12 xl10 text-xs-left class="px-0 ml-5 py-0 card">
        <v-card dark fill-height class="px-1 py-0 dark">
            <v-card-title class="px-5 py-0">
                <div class="content">Offers</div>
                <v-spacer></v-spacer>
                <v-btn @click="moreCollaborators=true" flat icon class="white--text">
                    <v-icon>add</v-icon>
                </v-btn>
            </v-card-title>
        </v-card>
        <v-flex xs12>
            <v-data-table v-model="selected" :headers="headers" hide-actions :items="allCollaborators"
                          item-key="_offered_id"
                          class="elevation-1">
                <template slot="items" slot-scope="props">
                    <tr>
                        <td>
                            <v-tooltip bottom>
                                <v-btn slot="activator" icon>
                                    <v-icon @click="editCollaboratorItem(props.item,1)"
                                            :color="props.item.is_contractor_type_ordered===1 ? 'green' : 'pink' && props.item.is_contractor_type_assigned===1 ? 'green' : 'pink'">
                                        assignment_ind
                                    </v-icon>

                                </v-btn>
                                <span>Assign Temporarely</span>
                            </v-tooltip>
                            <v-tooltip bottom>
                                <v-btn slot="activator" icon>
                                    <v-icon @click="editCollaboratorItem(props.item,2)"
                                            :color="props.item.is_contractor_type_ordered === 1 ?  'green' : 'pink'">
                                        assignment_turned_in
                                    </v-icon>
                                </v-btn>
                                <span>Order</span>
                            </v-tooltip>
                        </td>
                        <td class="text-xs-left">{{ props.item.abbreviation }}</td>
                        <td class="text-xs-left">{{ props.item.name }}</td>
                        <td class="text-xs-left">{{props.item.request_date}}</td>
                        <td class="text-xs-left">
                            <v-tooltip bottom>
                                <v-btn slot="activator" icon>

                                    <v-icon @click="editCollaboratorItem(props.item,3)"
                                            :color="allCollaborators[props.index].is_ordered === 1 ?  'green' : 'pink' && allCollaborators[props.index].is_assigned === 1 ?  'green' : 'pink'">
                                        assignment_ind
                                    </v-icon>
                                </v-btn>
                                <span>Assign Temporarely</span>
                            </v-tooltip>
                            <v-tooltip bottom>
                                <v-btn slot="activator" icon>
                                    <v-icon @click="editCollaboratorItem(props.item,4)"
                                            :color="allCollaborators[props.index].is_ordered === 1 ?  'green' : 'pink'">
                                        assignment_turned_in
                                    </v-icon>

                                </v-btn>
                                <span>Order</span>
                            </v-tooltip>
                        </td>
                        <td class="justify-center layout px-0">
                            <v-btn icon class="mx-0" flat icon dark @click="selectToEdit(props.item,2)">
                                <v-icon dark color="red">delete</v-icon>
                            </v-btn>
                            <v-btn icon class="mx-0" flat icon dark @click="selectToEdit(props.item,1)">
                                <v-icon dark color="secondary">edit</v-icon>
                            </v-btn>
                        </td>
                    </tr>
                </template>
            </v-data-table>
        </v-flex>

        <v-dialog v-model="moreCollaborators" max-width="500px">
            <v-card>
                <v-card-title>
                    Add new Collaborator
                </v-card-title>
                <v-card-text>
                    <v-autocomplete :items="allContractorType" v-model="contractorType"
                              label="Select Contractor Type" return-object item-text="name">
                    </v-autocomplete>

                    <item-select-load :items="allContractors" :model="collaborator"
                                      :item_label="`Select Collaborator`"
                                      :item_text="`name`"
                                      :not_required="true"
                                      :filters="filters.contactFilter"
                                      :query_link="`contacts/all`" :disabled="!contractorType"
                                      @onSelect="onSelectItemContactNoClient"></item-select-load>

                </v-card-text>
                <v-card-actions>
                    <v-btn color="primary" flat @click.stop="moreCollaborators=false">Close</v-btn>
                    <v-btn flat @click.stop="addCollaborator()">Add</v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>
        <v-dialog v-model="dialogEdit" persistent
                  max-width="500px">
            <v-card>
                <v-card-title>
                    Edit Collaborator
                </v-card-title>
                <v-card-text>

                    <v-select :items="allContractorType" v-model="contractorType"
                              label="Select Contractor Type" return-object item-text="name">
                    </v-select>
                    <v-select :items="allContractors" label="Select Collaborator"
                              v-model="collaborator" :disabled="!contractorType" return-object item-text="name">
                    </v-select>

                    <v-layout wrap>
                        <v-flex xs12 sm12 md12>
                            <v-dialog ref="dialog3" v-model="menu" persistent lazy full-width
                                      width="290px">
                                <v-text-field slot="activator" label="Request Date"
                                              v-model="request_date" prepend-icon="event"
                                              readonly></v-text-field>
                                <v-date-picker v-model="request_date" scrollable>
                                    <v-spacer></v-spacer>
                                    <v-btn flat color="primary" @click="menu = false">Cancel</v-btn>
                                    <v-btn flat color="primary"
                                           @click="$refs.dialog3.save(request_date)">OK
                                    </v-btn>
                                </v-date-picker>
                            </v-dialog>
                        </v-flex>
                    </v-layout>
                </v-card-text>
                <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn color="primary" flat @click.native="dialogEdit=false;">
                        Close
                    </v-btn>
                    <v-btn flat @click.stop="actItem(1)">Save</v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>
        <v-dialog v-model="dialogDelete" persistent max-width="590">
            <v-card>
                <v-card-title>Are you sure you want to delete the Member
                    {{tempItem.name}} ?
                </v-card-title>
                <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn color="green darken-1" flat
                           @click.native="dialogDelete=false">Cancel
                    </v-btn>
                    <v-btn color="green darken-1" flat
                           @click.native="deleteCollaborator()">Yes
                    </v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>
    </v-flex>
</template>

<script>
    export default {
        name: 'client-collaborator',
        props: ['sites'],
        data() {
            return {
                filters:{
                    contactFilter:''
                },
                dialog1: {},
                dialog2: {},
                dialog3: {},
                dialog4: {},
                menu: false,
                tempItem: {},
                contractorTypeError: [],
                collaborator: null,
                contractorType: null,
                dialogDelete: false,
                dialogEdit: false,
                moreCollaborators: false,
                selected: [],
                request_date: null,
                headers: [
                    {
                        text: 'AT actions',
                        align: 'left',
                        value: 'atactions'
                    },
                    {
                        text: 'Abbreviation',
                        align: 'left',
                        value: 'abbreviation'
                    },
                    {
                        text: 'Name',
                        align: 'left',
                        value: 'name'
                    },
                    {
                        text: 'Request Date',
                        align: 'left',
                        value: 'request_date'
                    },
                    {
                        text: 'Col. Actions',
                        align: 'left',
                        value: 'col_actions'
                    },
                    {
                        text: 'Actions',
                        sortable: false,
                        align: 'left',
                        value: 'name'
                    }
                ]
            };
        },
        mounted() {
            this.$store.dispatch(
                'constructionSite/collaborator/all',
                this.sites[0].branches
            );
            this.$store.dispatch('contractorBranches/getAllContractorType');
            // this.$store.dispatch('contacts/getAllContacts');
        },
        methods: {
            onSelectItemContactNoClient(m){
                this.collaborator = m;
            },
            selectToEdit(item, action) {
                this.tempItem = {};
                Object.assign(this.tempItem, item);
                this.request_date = item.request_date;
                this.contractorType = this.allContractorType.filter(el => {
                    return el.id === item.info.id;
                })[0];
                this.collaborator = this.allContractors.filter(el => {
                    return el.id == item.contact.id;
                })[0];

                switch (action) {
                    case 1: {
                        this.dialogEdit = true;
                        break;
                    }
                    case 2: {
                        this.dialogDelete = true;
                        break;
                    }
                }
            },
            actItem(action) {
                switch (action) {
                    case 1: {
                        this.editCollaborator(this.tempItem);
                        break;
                    }
                    case 2: {
                        this.deleteCollaborator(this.tempItem);
                        break;
                    }
                }
                this.dialogDelete = this.dialogEdit = false;
                this.tempItem = {};
            },
            editCollaborator(item) {
                let self = this;
                this.$store
                    .dispatch('constructionSite/collaborator/editItem', {
                        clientId: this.$route.params.id,
                        siteId: this.sites[0].id,
                        id: item.id,
                        contact_id: this.collaborator && this.collaborator.id > 0 ? this.collaborator.id : null,
                        contractor_type_id: this.contractorType.id,
                        request_date: this.request_date
                    })
                    .then(() => {
                        item.contact = self.collaborator;
                        item.info = self.contractorType;
                        this.$set(this.dialog2, item.id, false);
                        this.request_date = '';
                        this.contact_id = '';
                        this.contractor_type_id = '';
                    });
            },
            addCollaborator(item) {
                this.$store
                    .dispatch('constructionSite/collaborator/addItem', {
                        clientId: this.$route.params.id,
                        siteId: this.sites[0].id,
                        contact_id: this.collaborator ? this.collaborator.id : null,
                        contractor_type_id: this.contractorType.id,
                        id: this.sites[0].id
                    })
                    .then(() => {
                        this.moreCollaborators = false;
                        this.collaborator = '';
                        this.contractorType = '';
                    });
            },
            deleteCollaborator(item, index) {
                this.$store
                    .dispatch('constructionSite/collaborator/deleteItem', {
                        clientId: this.$route.params.id,
                        siteId: this.sites[0].id,
                        id: item.id
                    });
                this.$set(this.dialog1, item.id, false);
            },

            editCollaboratorItem(item, type) {

                let _editData = {
                    siteId: this.sites[0].id,
                    clientId: this.$route.params.id,
                    id: item.id
                };
                switch (type) {
                    case 1: {//TemporarilyAtActions
                        _editData.is_contractor_type_assigned = (item.is_contractor_type_ordered
                            ? item.is_contractor_type_assigned
                            : !item.is_contractor_type_assigned)
                            ? 1
                            : 0;
                        break;
                    }
                    case 2: {//orderATActions
                        _editData.is_contractor_type_assigned = (item.is_contractor_type_assigned
                            ? item.is_contractor_type_assigned
                            : !item.is_contractor_type_assigned)
                            ? 1
                            : 0;
                        _editData.is_contractor_type_ordered = !item.is_contractor_type_ordered ? 1 : 0;
                        break;
                    }
                    case 3: {//assignTemporarilyColActions
                        _editData.is_assigned = !item.is_assigned ? 1 : 0;
                        break;
                    }
                    case 4: {//orderColActions
                        _editData.is_ordered = !item.is_ordered ? 1 : 0
                        break;
                    }
                }
                this.$store.dispatch('constructionSite/collaborator/editItem', _editData);
            }
        },
        computed: {
            allContractorType() {
                return this.$store.getters['contractorBranches/getAllContractorType'];
            },
            allContractors() {
                return this.$store.getters['contacts/getAllCollaborators'];
            },
            allCollaborators() {
                return this.$store.getters['constructionSite/collaborator/all'];
            }
        }
    };
</script>

<style scoped>
</style>
