<template>
    <v-flex xs12 sm12 lg12 xl10 text-xs-left class="px-0 ml-5 mt-3 py-0 card">
        <v-card dark fill-height class="px-1 py-0 dark">
            <v-card-title class="px-5 py-2">
                <div class="content">External</div>
                <v-spacer></v-spacer>
                <v-btn @click="addNew()" flat icon class="white--text">
                    <v-icon>add</v-icon>
                </v-btn>
            </v-card-title>
        </v-card>
        <v-flex xs12>
            <v-data-table v-model="selected" :headers="headers" hide-actions :items="all" select-all
                          item-key="_externals_id"
                          class="elevation-1">
                <template slot="items" slot-scope="props">
                    <tr :active="props.selected">
                        <td>
                            <v-checkbox v-model="props.selected" primary hide-details></v-checkbox>
                        </td>
                        <td class="text-xs-left">{{ props.item.comment }}</td>
                        <td class="text-xs-left">{{ props.item.contactName }}</td>

                        <td class="text-xs-left">
                            <v-checkbox v-model="props.item.ordered" primary hide-details
                                        @change="editExternal(props.item)"></v-checkbox>
                        </td>
                        <td class="text-xs-left">
                            <v-checkbox v-model="props.item.visible" primary hide-details
                                        @change="editExternal(props.item)"></v-checkbox>
                        </td>
                        <td class="text-xs-left">
                            <v-checkbox v-model="props.item.is_assign" primary hide-details
                                        @change="editExternal(props.item)"></v-checkbox>
                        </td>
                        <td class="text-xs-left">
                            <v-checkbox v-model="props.item.is_ordered" primary hide-details
                                        @change="editExternal(props.item)"></v-checkbox>
                        </td>


                        <td class="justify-center layout px-0">
                            <v-btn icon class="mx-0" @click="deleteExternal(props.item)">
                                <v-icon color="pink">delete</v-icon>
                            </v-btn>
                            <v-btn icon class="mx-0" @click="selectToEdit(props.item)">
                                <v-icon dark color="secondary">edit</v-icon>
                            </v-btn>
                        </td>
                    </tr>
                </template>
            </v-data-table>
        </v-flex>
        <v-dialog v-model="moreExternals" max-width="500px">
            <v-card>
                <v-card-title>
                    {{tempExternal.id?`Edit`:`Add new`}} External
                </v-card-title>
                <v-card-text>
                    <v-autocomplete :items="contactsType" v-model="tempExternal.contact_type"
                              label="Select Contact Type" return-object item-text="type">
                    </v-autocomplete>

                    <item-select-load :items="contacts" :model="tempExternal.contact"
                                      :item_label="`Select Contact`"
                                      :item_text="`name`"
                                      :not_required="true"
                                      :filters="filters.contactFilter"
                                      :query_link="`contacts/all`" :disabled="!tempExternal.contact_type"
                                      @onSelect="onSelectItemContact"></item-select-load>
                    <v-text-field
                            label="Comment"
                            v-model="tempExternal.comment"
                    ></v-text-field>
                    <v-checkbox v-model="tempExternal.visible" primary hide-details label="Visible"></v-checkbox>
                    <v-checkbox v-model="tempExternal.is_assign" primary hide-details label="Assigned"></v-checkbox>
                    <v-checkbox v-model="tempExternal.is_ordered" primary hide-details label="Ordered"></v-checkbox>
                    <v-checkbox v-model="tempExternal.ordered" primary hide-details label="Ordered by SFINX"></v-checkbox>
                </v-card-text>
                <v-card-actions>
                    <v-btn color="primary" flat @click.stop="moreExternals=false">Close</v-btn>
                    <v-btn flat @click.stop="actExternal()">{{tempExternal.id?`Edit`:`Add`}}</v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>
    </v-flex>
</template>

<script>
    export default {
        name: 'external',
        props: ['sites'],
        data() {
            return {
                filters:{
                    contactFilter:''
                },
                moreExternals: null,
                tempExternal: {
                    id: null,
                    comment: null,
                    ordered: null,
                    visible: null,
                    contact: null,
                    contact_type: null,
                },
                selected: [],
                list: [],
                headers: [
                    {
                        text: 'Comment',
                        align: 'left',
                        value: 'comment'
                    },{
                        text: 'Contact',
                        align: 'left',
                        value: 'contactName'
                    },
                    {
                        text: 'Ordered by SFINX',
                        align: 'left',
                        value: 'ordered'
                    }, {
                        text: 'Visible',
                        align: 'left',
                        value: 'visible'
                    }, {
                        text: 'Assigned',
                        align: 'left',
                        value: 'is_assign'
                    },{
                        text: 'Ordered',
                        align: 'left',
                        value: 'is_ordered'
                    },
                    {
                        text: 'Actions',
                        sortable: false,
                        align: 'left',
                        value: 'name'
                    }
                ]
            };
        },
        methods: {
            onSelectItemContact: function (m) {
                this.tempExternal.contact = m;
            },
            addNew: function () {
                this.tempExternal = {};
                this.moreExternals = true;
            },
            actExternal: function () {
                if (this.tempExternal.id) {
                    this.editExternal();
                } else {
                    this.addExternal();
                }
            },
            deleteExternal: function (item) {
                if (confirm("are you sure to drop external?")) {
                    this.$store.dispatch(
                        'constructionSite/external/deleteItem',
                        {
                            clientId: this.$route.params.id,
                            siteId: this.sites[0].id,
                            ...item
                        }
                    );
                }
            },
            selectToEdit: function (item) {
                this.moreExternals = true;
                this.tempExternal = {
                    ...item,
                    contact_type: item.contact ? this.contactsType.filter((contact) => {
                        return item.contact.type_id == contact.id;
                    })[0] : null,
                    contact: item.contact ? this.contacts.filter((contact) => {
                        return contact.id == item.contact.id
                    })[0] : null
                }
            },
            editExternal: function (item) {
                this.moreExternals = false;
                if (!item) item = this.tempExternal;
                setTimeout(() => {
                    this.$store.dispatch(
                        'constructionSite/external/editItem',
                        {
                            clientId: this.$route.params.id,
                            siteId: this.sites[0].id,
                            contact_id: item.contact ? item.contact.id : null,
                            ...item
                        }
                    );
                })

            },
            addExternal: function () {
                this.moreExternals = false;
                let item = this.tempExternal;
                this.$store.dispatch(
                    'constructionSite/external/addItem',
                    {
                        clientId: this.$route.params.id,
                        siteId: this.sites[0].id,
                        contact_id: item.contact ? item.contact.id : null,
                        ...item
                    }
                );
            }
        },
        mounted() {
            this.$store.dispatch(
                'constructionSite/external/all',
                this.sites[0].externals
            );
            // this.$store.dispatch('contacts/getAllContacts');
            this.$store.dispatch('contacts/getAllContactsTypes').then(() => {
                // this.tempExternal.contact_type
            });
        },
        computed: {
            all() {
                return this.$store.getters['constructionSite/external/all'];
            },
            contacts() {
                let contactType= this.tempExternal.contact_type;
                if(!contactType)contactType = this.contactsType[0];
                this.filters.contactFilter='';
                if(contactType){
                    this.filters.contactFilter = `type=${contactType.id}`;
                }

                return contactType ? this.$store.getters['contacts/all'].filter((el) => {
                    return el.contact_types_indexes.indexOf(contactType.id)>-1;
                }) : [];
            },
            contactsType() {
                return this.$store.getters['contacts/getAllContactsTypes'];
            }
        }
    };
</script>
