<template>
	<v-flex xs12 md3 lg3 class="card">
		<v-card dark fill-height class="dark">
			<v-card-title class="pa-3">
				<h2>General Information</h2>
				<v-dialog v-model="dialogEdit" persistent max-width="500px">
					<v-btn id="general-information__edit" slot="activator" @click="onSelectToEdit()" flat icon
						   color="white lighten-2"
						   class="white--text">
						<v-icon large medium>edit</v-icon>
					</v-btn>
					<v-card>
						<v-card-title>
							Edit General Information
						</v-card-title>
						<v-card-text>

							<userState :site="tempData" :list="tempData.estimatorItems" :category="1"></userState>
							<userState :site="tempData" :list="tempData.projectLeaderItems"></userState>

							<v-flex xs12 class="py-1">
								<v-text-field label="Presented Price" v-model="tempData.presented_price" type="number"
											  name="input-1" required></v-text-field>
							</v-flex>
							<v-flex xs12 class="py-1">
								<v-autocomplete :items="allStatus" return-object item-text="name" label="Select Status"
										  v-model="tempData.status"></v-autocomplete>
							</v-flex>
						</v-card-text>
						<v-card-actions>
							<v-spacer></v-spacer>
							<v-btn color="primary" flat @click="dialogEdit =false">Close</v-btn>
							<v-btn flat @click="onUpdate()">Save</v-btn>
						</v-card-actions>
					</v-card>
				</v-dialog>
			</v-card-title>
		</v-card>
		<v-flex elevation-2 xs12 class="px-2 pt-3 pb-1" v-if="sites.length ">
			<v-layout row wrap class="py-2">
				<v-flex xs12 sm6 class="body-2">
					Project Leader(s)
				</v-flex>
				<v-flex xs12 sm6 class="body-1">
					{{sites[0].projectLeader}}
				</v-flex>
			</v-layout>
			<hr>
			<v-layout row wrap class="py-2">
				<v-flex xs12 sm6 class="body-2">
					Estimator(s)
				</v-flex>
				<v-flex xs12 sm6 class="body-1">
					{{sites[0].estimator}}
				</v-flex>
			</v-layout>
			<hr>
			<v-layout row wrap class="py-2">
				<v-flex xs12 sm6 class="body-2">
					Presented Price
				</v-flex>
				<v-flex xs12 sm6 class="body-1">
					{{sites[0].presented_price}}
				</v-flex>
			</v-layout>
			<v-layout row wrap class="py-2">
				<v-flex xs12 sm6 class="body-2">
					Status
				</v-flex>
				<v-flex xs12 sm6 class="body-1">
					{{sites[0].status?sites[0].status.name:'No Status'}}
				</v-flex>
			</v-layout>
		</v-flex>


	</v-flex>
</template>

<script>
	import userState from './user.state/index.vue';

	export default {
		components: {
			userState
		},
		name: 'general-info',
		props: ['sites'],
		data() {
			return {
				dialogEdit: false,
				tempData: {
					presented_price: null,
					estimator: null,
					projectLeader: null,
					projectLeaderItem: null,
					estimatorItem: null,
					estimatorItems: [],
					projectLeaderItems: []
				}
			};
		},
		mounted() {
			this.$store.dispatch('constructionSite/status/all');
		},
		methods: {
			onSelectToEdit: function () {
				let _site = this.sites[0], _projLead = _site.projectLeaders[0], _estimator = _site.estimators[0];
				this.tempData = {
					status: _site.status?this.allStatus.filter((el) => el.id == _site.status.id)[0]:null,
					estimatorItems: _site.estimators.map(el => ({
						id: el.id,
						user: el.user,
						percentage: el.percentage
					})),
					projectLeaderItems: _site.projectLeaders.map(el => ({
						id: el.id,
						user: el.user,
						percentage: el.percentage
					})),
					presented_price: _site.presented_price
				};
			},
			onUpdate: function () {
				this.dialogEdit = false;
				this.$store.dispatch('constructionSite/editItem', {
					id: this.sites[0].id,
					clientId: this.$route.params.id,
					status_id: this.tempData.status?this.tempData.status.id:null,
					new_estimators: this.tempData.estimatorItems.map(el => ({
						id: el.id,
						user_id: el.user.id,
						percentage: el.percentage
					})),
					new_projectLeaders: this.tempData.projectLeaderItems.map(el => ({
						id: el.id,
						user_id: el.user.id,
						percentage: el.percentage
					})),
					presented_price: this.tempData.presented_price
				}).then((res) => {
					Object.assign(this.sites[0], res.data);
				});
			}
		},
		computed: {
			allStatus() {
				return this.$store.getters['constructionSite/status/all'].filter((el) => {
					return  this.sites[0].contact.contact_types_indexes.indexOf(el.contactType.id)>-1;
				});
			}
		}
	};
</script>

<style lang="scss">
	#general-information__edit {
		position: absolute;
		right: 0;
		top: 0;
	}
</style>