<template>
    <v-flex xs12 sm12 lg12 xl10 text-xs-left class="px-0 mt-3 ml-5 py-0 card">
        <v-card dark fill-height class="px-1 py-0 dark">
            <v-card-title class="px-5 py-2">
                <div class="content">Orders and temporary assignments</div>
                <v-spacer></v-spacer>
                <!--<v-icon>add</v-icon> &emsp;-->
                <!--<v-icon>more_vert</v-icon>-->
                <v-dialog v-model="dialogEdit" persistent
                          max-width="500px">
                    <v-card>
                        <v-card-title>
                            Edit Collaborator
                        </v-card-title>
                        <v-card-text>
                            <v-autocomplete dense v-model="contractorType" :items="allContractorType"
                                       label="Select Contractor Type" return-object item-text="name">
                            </v-autocomplete>

                            <v-autocomplete dense :items="allContractors" label="Select Collaborator"
                                        v-model="collaborator" return-object item-text="name"
                                      :disabled="!contractorType">
                            </v-autocomplete>
                            <v-layout wrap>
                                <v-flex xs12 sm6 md6>
                                    <v-text-field  label="Start Date" disabled
                                                  v-model="start_date" prepend-icon="event"
                                                  readonly></v-text-field>
                                </v-flex>
                                <v-flex xs12 sm6 md6>
                                    <v-text-field slot="activator" label="End Date" v-model="end_date"
                                                  prepend-icon="event" disabled readonly></v-text-field>
                                </v-flex>
                            </v-layout>
                        </v-card-text>
                        <v-card-actions>
                            <v-spacer></v-spacer>
                            <v-btn color="primary" flat @click.native="dialogEdit=false">
                                Close
                            </v-btn>
                            <v-btn flat @click.stop="actItem(1)">Save</v-btn>
                        </v-card-actions>
                    </v-card>
                </v-dialog>
                <v-dialog v-model="dialogDelete" persistent max-width="590">
                    <v-card>
                        <v-card-title class="headline">Are you sure you want to delete the Member
                            {{tempItem.name}} ?
                        </v-card-title>
                        <v-card-actions>
                            <v-spacer></v-spacer>
                            <v-btn color="green darken-1" flat
                                   @click.native="dialogDelete=false">Cancel
                            </v-btn>
                            <v-btn color="green darken-1" flat
                                   @click.native="actItem(2)">Yes
                            </v-btn>
                        </v-card-actions>
                    </v-card>
                </v-dialog>
            </v-card-title>
        </v-card>
        <v-flex xs12>
            <v-data-table v-model="selected" :headers="headers" hide-actions :items="allCollaborators" item-key="id"
                          class="elevation-1">
                <template slot="items" slot-scope="props">
                    <tr>
                        <td>
                            <v-btn icon class="mx-0">
                                <v-tooltip bottom>
                                    <v-icon @click="editCollaboratorItem(props.item,1)" slot="activator"
                                            :color="allCollaborators[props.index].is_contractor_type_ordered===1 ? 'green' : 'pink' && allCollaborators[props.index].is_contractor_type_assigned===1 ? 'green' : 'pink'">
                                        assignment_ind
                                    </v-icon>
                                    <span>Assign Temporarely</span>
                                </v-tooltip>
                            </v-btn>
                            <v-btn icon class="mx-0">
                                <v-tooltip bottom>
                                    <v-icon @click="editCollaboratorItem(props.item,2)" slot="activator"
                                            :color="allCollaborators[props.index].is_contractor_type_ordered === 1 ?  'green' : 'pink'">
                                        assignment_turned_in
                                    </v-icon>
                                    <span>Order</span>
                                </v-tooltip>
                            </v-btn>
                        </td>
                        <td class="text-xs-left">{{ props.item.abbreviation }}</td>
                        <td class="text-xs-left">{{ props.item.name }}</td>
                        <td class="text-xs-left">{{props.item.start_date}}</td>
                        <td class="text-xs-left">{{props.item.end_date}}</td>
                        <td class="text-xs-left">
                            <v-btn icon class="mx-0">
                                <v-tooltip bottom>
                                    <v-icon @click="editCollaboratorItem(props.item,3)" slot="activator"
                                            :color="allCollaborators[props.index].is_ordered === 1 ?  'green' : 'pink' && allCollaborators[props.index].is_assigned === 1 ?  'green' : 'pink'">
                                        assignment_ind
                                    </v-icon>
                                    <span>Assign Temporarely</span>
                                </v-tooltip>
                            </v-btn>
                            <v-btn icon class="mx-0">
                                <v-tooltip bottom>
                                    <v-icon @click="editCollaboratorItem(props.item,4)" slot="activator"
                                            :color="allCollaborators[props.index].is_ordered === 1 ?  'green' : 'pink'">
                                        assignment_turned_in
                                    </v-icon>
                                    <span>Order</span>
                                </v-tooltip>
                            </v-btn>
                        </td>
                        <td class="justify-center layout px-0">
                            <v-btn icon class="mx-0" flat icon dark @click="selectToEdit(props.item,2)">
                                <v-icon dark color="red">delete</v-icon>
                            </v-btn>
                            <v-btn icon class="mx-0" flat icon dark @click="selectToEdit(props.item,1)">
                                <v-icon dark color="secondary">edit</v-icon>
                            </v-btn>
                        </td>
                    </tr>
                </template>
            </v-data-table>
        </v-flex>
    </v-flex>
</template>

<script>
    export default {
        data() {
            return {
                selected: [],
                dialog1: {},
                dialog2: {},
                dialog3: {},
                dialog4: {},
                menu: false,
                menu1: false,
                start_date: null,
                end_date: null,
                tempItem:{},
                dialogEdit: false,
                dialogDelete: false,
                contractorType: null,
                collaborator: null,
                headers: [
                    {
                        text: 'AT actions',
                        align: 'left',
                        value: 'atactions'
                    },
                    {
                        text: 'Abbreviation',
                        align: 'left',
                        value: 'abbreviation'
                    },
                    {
                        text: 'Name',
                        align: 'left',
                        value: 'name'
                    },
                    {
                        text: 'Start Date',
                        align: 'left',
                        value: 'start_date'
                    },
                    {
                        text: 'End Date',
                        align: 'left',
                        value: 'end_date'
                    },
                    {
                        text: 'Col. Actions',
                        align: 'left',
                        value: 'col_actions'
                    },
                    {
                        text: 'Actions',
                        sortable: false,
                        align: 'left',
                        value: 'name'
                    }
                ]
            };
        },
        props: ['sites'],
        computed: {
            allCollaborators() {
                return this.$store.getters['constructionSite/collaborator/all'].filter(
                    contract => {
                        if (
                            contract.is_contractor_type_assigned === 1 ||
                            contract.is_assigned === 1 ||
                            contract.is_contractor_type_ordered === 1 ||
                            contract.is_ordered === 1
                        ) {
                            return contract;
                        }
                    }
                );
            },
            allContractorType() {
                return this.$store.getters['contractorBranches/getAllContractorType'];
            },
            allContractors() {
                return this.$store.getters['contacts/getAllCollaborators'];
            }
        },
        methods: {
            selectToEdit(item,action) {
                this.tempItem = {};
                Object.assign(this.tempItem, item);
                this.contractorType = this.allContractorType.filter(el => {
                    return el.id == item.info.id;
                })[0];
                this.collaborator = this.allContractors.filter(el => {
                    return el.id == item.contact.id;
                })[0];
                this.start_date = item.start_date;
                this.end_date = item.end_date;
                switch (action) {
                    case 1: {
                        this.dialogEdit = true;
                        break;
                    }
                    case 2: {
                        this.dialogDelete = true;
                        break;
                    }
                }
            },
            actItem(action) {
                switch (action) {
                    case 1: {
                        this.editCollaborator(this.tempItem);
                        break;
                    }
                    case 2: {
                        this.deleteCollaborator(this.tempItem);
                        break;
                    }
                }
                this.dialogDelete = this.dialogEdit = false;
                this.tempItem = {};
            },
            allowedEndDate(val) {
                return val > this.start_date;
            },
            deleteCollaborator(item, index) {
                this.$store
                    .dispatch('constructionSite/collaborator/deleteItem', {
                        clientId: this.$route.params.id,
                        siteId: this.sites[0].id,
                        id: item.id
                    })
                    .then(() => {
                        this.$set(this.dialog1, item.id, false);
                    });
            },
            editCollaborator(item) {
                this.$store
                    .dispatch('constructionSite/collaborator/editItem', {
                        clientId: this.$route.params.id,
                        siteId: this.sites[0].id,
                        id: item.id,
                        start: this.start_date,
                        end: this.end_date,
                        contact_id: this.collaborator ? this.collaborator.id : null,
                        contractor_type_id: this.contractorType.id
                    })
                    .then(() => {
                        item.contact = this.collaborator;
                        item.info = this.contractorType;
                        this.$set(this.dialog2, item.id, false);
                        this.start_date = '';
                        this.end_date = '';
                        this.contact_id = '';
                        this.contractor_type_id = '';
                    });
            },
            editCollaboratorItem(item, type) {

                let _editData = {
                    siteId: this.sites[0].id,
                    clientId: this.$route.params.id,
                    id: item.id
                };
                switch (type) {
                    case 1: {//TemporarilyAtActions
                        _editData.is_contractor_type_assigned = (item.is_contractor_type_ordered
                            ? item.is_contractor_type_assigned
                            : !item.is_contractor_type_assigned)
                            ? 1
                            : 0;
                        break;
                    }
                    case 2: {//orderATActions
                        _editData.is_contractor_type_assigned = (item.is_contractor_type_assigned
                            ? item.is_contractor_type_assigned
                            : !item.is_contractor_type_assigned)
                            ? 1
                            : 0;
                        _editData.is_contractor_type_ordered = !item.is_contractor_type_ordered ? 1 : 0;
                        break;
                    }
                    case 3: {//assignTemporarilyColActions
                        _editData.is_assigned = !item.is_assigned ? 1 : 0;
                        break;
                    }
                    case 4: {//orderColActions
                        _editData.is_ordered = !item.is_ordered ? 1 : 0
                        break;
                    }
                }
                this.$store.dispatch('constructionSite/collaborator/editItem', _editData);
            }

        }
    };
</script>
