<template>
    <div>
        <task-tree-node v-for="(task, index) in tasks "  :_parent="_parent":key="task.id" :task="task" ></task-tree-node>
    </div>
</template>


<script>
    // import TaskTreeNode from './taskTreeNode.vue';
    export default {
        components: {
            // TaskTreeNode
        },
        name: 'task-tree',
        props: ['tasks','_parent' ],
        data() {
            return {
                switch1: true
            };
        },
        mounted() {
        },
        methods: {},
        computed: {}
    };
</script>


<style lang="scss" scoped>

</style>
