<template>
    <div class="task-item"
         v-bind:class="{'main-task':task.is_parent  ,'sub-task':!task.is_parent}">

        <v-flex   class="node-item" v-bind:class="{'backg':task.is_parent  }">
            <v-icon v-if="!task.is_parent">arrow_right_alt</v-icon>
            <v-flex :class="{'cotainer-desc':!_parent.show_workflow_description,'cotainer-desc-name':_parent.show_workflow_description}"
                    :id="`task_cell_${task.id}`">
                <div v-if="_parent.show_workflow_description">
                    <span v-bind:class="{'title':task.is_parent  }"> {{task.name}}{{task.id}}</span>
                    <p  class="caption">{{task.description}}</p>
                </div>
                <div v-else>
                    <v-tooltip top>
                        <span slot="activator" v-bind:class="{'title':task.is_parent  }"> {{task.name}}</span>
                        <p  class="caption">{{task.description}}</p>
                    </v-tooltip>
                </div>

            </v-flex>
        </v-flex>




        <v-flex>
            <task-tree  :tasks="task.children" :_parent="_parent"></task-tree>
        </v-flex>

    </div>
</template>


<script>

    export default {
        name: 'task-tree-node',
        props: ['task', "_parent"],
        data() {
            return {};
        },
        mounted() {
        },
        methods: {},
        computed: {}
    };
</script>


<style lang="scss" scoped>
    .cotainer-desc {
        display: flex;
        align-items: center
    }

    .cotainer-desc-name {
        display: flex;
        flex-direction: column;
    }

    .node-item {
        display: flex;
        min-height: 48px;
        span {
            align-self: left;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
            max-width: 240px;
        }
    }

    .task-item {
        display: block;
        min-width: 240px;
        margin-left: 20px;
        p {
            margin: 0;
        }
    }

    .sub-task {

    }

    .node-item.backg {
        background: #00b0ff;
    }

</style>
