<template>
    <div d-flex class="mx-3 construction-group" ref="mainEl" >
        <p class="mx-0 my-0 construction-group-name">{{_group.name}}</p>
        <draggable v-model="_group" @end="onEnd" class="draggable-construction-site" style="display: flex">
            <!--<transition-group >-->
            <div    v-for="(site, index) in _group"
                 class="blue celled sm2 construction-site-item mx-1 text--white"
                 :key="`sites-${site.id}`" :data-item-id="site.id">
                <v-flex>
                    <router-link :to="`/client/${site.clientId}/details`">
                        <span class="text-vertical "  > Site - {{site.name}}</span>
                    </router-link>
                </v-flex>
            </div>
            <!--</transition-group>-->

        </draggable>
    </div>

</template>


<script>
    import draggable from 'vuedraggable'

    export default {
        name: 'construction-site-draggable',
        props: ['group'],
        components: {
            draggable,
        },
        data() {
            return {
                self: this,
                isReady:false,
            };
        },
        mounted() {
            this.$refs.mainEl.style.display = 'block';//---------------------need to fix
            setTimeout(()=>{this.$refs.mainEl.style.display = '';},300);//----
        },
        methods: {
            onEnd: function ({item, oldIndex, newIndex}) {
                for (let i = 0; i < this.group.length; i++) {
                    if (this.group[i].id == item.dataset.itemId) {
                        this.group[i].sequence = newIndex + 1;
                        this.$store.dispatch('workflow/constructionSite/editItem', this.group[i]);
                        break;
                    }
                }

            }
        },
        computed: {
            _group: {
                get: function () {
                    return this.group
                },
                set: function (newValue) {
                    while (this.group.length) this.group.shift();
                    newValue.forEach((el) => {
                        this.group.push(el);
                    });
                }
            }
        }
    };
</script>


<style lang="scss" scoped>
    .construction-group {
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        max-height: 150px;
        margin-left: -17px !important;
        display: flex;
        border-right: 1px solid gray;
        p{
            width:17px;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
        .construction-group-name {
            writing-mode: vertical-lr;
        }
        .construction-site-item {

            width: 51px;
            padding: 10px;
            display: inline-block;
            .text-vertical {
                color: white;
                writing-mode: vertical-lr;
                width: 100%;
                height: 120px;
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
            }
        }

        .celled {
            /*border: 0.5px solid #d3d3d3;*/
            /*margin: 0 1px;*/
            border-radius: 5px;
        }
    }

</style>
