<template>
    <div class="summary-member">

        <v-container class="px-4 py-4" >
            <v-form ref="form" v-model="valid" lazy-validation>
                <v-flex d-flex>
                    <v-flex xs6>
                        <v-autocomplete :items="members" v-model="tempItem.member"
                                        label="Select Member" return-object item-text="name"
                                        :rules="rules.member" @change="onSelectItem()">
                        </v-autocomplete>
                    </v-flex>

                    <v-flex xs6>
                        <v-dialog ref="dataStartMenu" v-model="dataStartMenu" persistent lazy full-width
                                  :disabled="!tempItem.member"
                                  width="290px">
                            <v-text-field slot="activator" label="Select month" :rules="rules.month"
                                          v-model="tempItem.month" prepend-icon="event"
                                          :disabled="!tempItem.member"
                                          readonly></v-text-field>
                            <v-date-picker v-model="tempItem.month" scrollable type="month">
                                <v-spacer></v-spacer>
                                <v-btn flat color="primary" @click="dataStartMenu = false">Cancel</v-btn>
                                <v-btn flat color="primary"
                                       @click="$refs.dataStartMenu.save(tempItem.month)">OK
                                </v-btn>
                            </v-date-picker>
                        </v-dialog>
                    </v-flex>

                </v-flex>


                <v-btn :disabled="!valid" @click="submit">
                    Load
                </v-btn>
                <v-btn @click="clear">clear</v-btn>
            </v-form>

            <v-data-table allow-overflow celled :headers="headers" hide-actions
                          disable-initial-sort :items="items" item-key="id" class="elevation-1 c-t"
                          ref="sortableTable">
                <template slot="items" slot-scope="props" :data-item-id="props.item.id">

                    <tr class="sortableRow" :id="props.item.id">

                        <td class="title">{{ props.item.date }}</td>
                        <td>
                            <member-site-planning :sites="props.item.sites"></member-site-planning>
                        </td>
                    </tr>
                </template>

            </v-data-table>
        </v-container>

        <v-dialog v-model="dialogNotify" persistent max-width="500">
            <v-card>
                <v-card-title class="headline">{{dialogNotifyData.body}}
                </v-card-title>
                <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn color="green darken-1" flat @click.native="actItem(3)">OK</v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>
    </div>
</template>

<script>
    import memberSitePlanning from './planning';
    import {Help} from "@/utils/help"

    export default {
        components: {
            memberSitePlanning
        },
        data() {
            return {
                dialogNotifyData: {
                    title: "Site Update Success",
                    body: "Member Site Update Success"
                },
                dialogNotify: false,
                dataStartMenu: false,
                items: [],
                valid: true,
                tempItem: {
                    month: null,
                    member: null
                },
                rules: {
                    month: [
                        v => !!v || 'Month is required',
                    ],
                    member: [
                        v => !!v || 'Select some member to view working sites',
                    ]
                },
                headers: [
                    {
                        text: 'Day',
                        sortable: false,
                        align: 'left',
                        value: 'name'
                    },
                    {
                        text: 'Details',
                        sortable: false,
                        align: 'left',
                        value: 'name'
                    },
                ]
            }
        },
        computed: {
            members() {
                return this.$store.getters['common/member/all'];
            },
            selected() {
                return [];
            }
        },
        methods: {
            actItem(action) {
                this.dialogNotify = false;
                this.clear();
            },
            onSelectItem() {
                setTimeout(() => {
                    Object.assign(this.tempItem, this.tempItem.member);
                }, 100);
            },
            submit() {
                if (this.$refs.form.validate()) {
                    this.axios.get(
                        `${process.env.API_URL}/api/v1/member/${this.tempItem.member.id}/plannings?month=${this.tempItem.month}`,
                    ).then((res) => {

                        if (res.data) {
                            let listOfp = this.items = [], items = 0,
                                _dataS = res.data,
                                _data = _dataS.data,
                                sickDays = _dataS.sickDays;
                            let start = (new Date(this.tempItem.month));
                            do {
                                let _dayUTC = start.getTime() / Help.UTC_MILI_SCNDS,
                                    _nextDyUTC = _dayUTC + Help.DAY_IN_UTC,
                                    _day = {
                                        date: Date._formatDate(_dayUTC),
                                        sites: []
                                    };
                                listOfp.push(_day);
                                for (let _siteF in _data) {
                                    let _s = _data[_siteF],
                                        _siteDay = {
                                            ..._s,
                                            name: _s.contact ? _s.contact.name : '',
                                            plannings: []
                                        };
                                    _day.sites.push(_siteDay);

                                    for (let i = 0; i < sickDays.length; i++) {
                                        let sickDay = sickDays[i];
                                        if (!sickDay._start) {
                                            sickDay._start = (new Date(sickDay.start)).getTime() / Help.UTC_MILI_SCNDS;
                                            sickDay._end = (new Date(sickDay.end)).getTime() / Help.UTC_MILI_SCNDS;
                                        }
                                        if (_dayUTC >= sickDay._start && _dayUTC <= sickDay._end) {
                                            _siteDay.isShouldBeNotPlanning = true;
                                            break;
                                        }
                                    }
                                    for (let planningF in _s.plannings) {
                                        let _plan = _s.plannings[planningF];
                                        if (!_plan._dateUTC) {
                                            _plan._dateUTC = (new Date(_plan.date)).getTime() / Help.UTC_MILI_SCNDS;
                                            _plan.nameOfWork = Help.PLANNING_MEMBER_SEQUENCE_INDEX[_plan.sequence];
                                        }

                                        if (_plan._dateUTC >= _dayUTC && _plan._dateUTC < _nextDyUTC) {
                                            let _pl = _plan.customClone;
                                            _siteDay.plannings.push(_pl);
                                        }
                                    }
                                    if (_siteDay.plannings.length == 0) {
                                        _siteDay.hasNoPlanning = true;
                                    } else {
                                        for (let di = 0, _count = _siteDay.plannings.length; di < _count; di++) {
                                            if (!_siteDay.plannings[di].hours) _siteDay.plannings[di].hours = Math.round(8 / _count);
                                        }
                                    }
                                }

                                start.setDate(start.getDate() + 1);
                            } while (start.getDate() != 1 && items++ < Help.MAX_DAUS_IN_MONTH)
                        }
                    });

                }
            },
            clear() {
                this.items = [];
                this.tempItem = {};
                this.$refs.form.reset()
            }
        },
        mounted() {
            this.$parent.isVisibe = false;
            this.$parent.child = 'Members';
            this.$store.dispatch('common/member/all', true);
        },
        destroyed() {
            this.$parent.isVisibe = true;
            this.$parent.child = '';
        }
    };
</script>
<style lang="scss" scoped>

    .c-t {
        overflow: auto;
        max-height: calc(100vh - 250px);
        tr {
            td {
                /*padding: 4px!important;*/
            }
        }
    }

</style>

