<template>
    <v-flex xs12 class="px-0   py-0 card main-container">
        <v-card dark fill-height class="px-1 py-0 dark">
            <v-card-title class="px-5 py-0">
                <div class="content">Teams</div>
                <v-spacer></v-spacer>
                <v-btn @click="onSelectItem(null,1)" flat icon class="white--text">
                    <v-icon>add</v-icon>
                </v-btn>
            </v-card-title>

            <v-dialog v-model="dialogEdit" persistent>
                <v-card>
                    <v-card-title>
                        {{tempItem.id?'Edit':'Add'}} Team
                    </v-card-title>
                    <v-card-text>

                        <v-flex xs12>
                            <v-text-field
                                    label="Name"
                                    v-model="tempItem.name"
                                    required
                            ></v-text-field>
                        </v-flex>
                        <v-flex xs12>
                            <v-text-field
                                    label="Abbreviation"
                                    v-model="tempItem.abbreviation"
                                    required
                            ></v-text-field>
                        </v-flex>
                        <teamPeriod :team="tempItem" v-if="tempItem.tempPeriods"></teamPeriod>

                    </v-card-text>
                    <v-card-actions>
                        <v-spacer></v-spacer>
                        <v-btn color="primary" flat @click.native="dialogEdit=false;">
                            Close
                        </v-btn>
                        <v-btn flat @click.stop="onActionItem(tempItem.id?2:1)">Save</v-btn>
                    </v-card-actions>
                </v-card>
            </v-dialog>
            <v-dialog v-model="dialogDelete" persistent max-width="590">
                <v-card>
                    <v-card-title class="headline">Are you sure you want to delete the Team
                        {{tempItem.name}} ?
                    </v-card-title>
                    <v-card-actions>
                        <v-spacer></v-spacer>
                        <v-btn color="green darken-1" flat
                               @click.native="dialogDelete=false">Cancel
                        </v-btn>
                        <v-btn color="green darken-1" flat
                               @click.native="onActionItem(3)">Yes
                        </v-btn>
                    </v-card-actions>
                </v-card>
            </v-dialog>
        </v-card>

        <v-flex xs12 class="team-list">
			<span v-for="team in getAllTeamContacts" :key="team.id">
			<v-flex xs12 sm12 md12 ma-4>
				<v-card raised>
                    <v-flex d-flex>
                        <v-flex xs11>
                            <v-card-actions class="ml-3 mr-3">
                            <v-avatar color="red">
                                <span class="white--text headline">{{team.abbreviation}}</span>
                            </v-avatar>
                            <span class="headline ml-5">{{team.name}}</span>
                            <v-spacer></v-spacer>
                                <!--<v-icon>more_vert</v-icon>-->
                        </v-card-actions>
                        </v-flex>
                        <v-flex xs1>
                                 <v-btn icon class="mx-0" @click="onSelectItem(team,2)">
                                    <v-icon dark color="secondary">edit</v-icon>
                                </v-btn>
                                <v-btn icon class="mx-0" @click="onSelectItem(team,3)">
                                    <v-icon dark color="red">delete</v-icon>
                                </v-btn>
                        </v-flex>
                    </v-flex>

					<v-divider color="blue-grey lighten-2"></v-divider>
					<v-flex d-flex>
                        <v-flex d-flex xs12 style="flex-direction: column">
                            <v-flex :key="`period-a${period.id}`" v-for="period in team.periods">
                            <v-card-actions class="ml-3 mr-3">
                                <span :class="dateCheck(period.start, period.end)? 'active': ''">{{period.start}} - {{period.end}}</span>
                                <span class="ml-3" v-for="member in period.members">
                                    <v-chip :class="dateCheck(period.start, period.end) ? 'white--text': ''"
                                            :color="dateCheck(period.start, period.end)? 'red': ''" disabled>{{member.name}}({{member.member_price}})</v-chip>
                                </span>

                            </v-card-actions>
                            <v-divider color="blue-grey lighten-2"></v-divider>
                        </v-flex>
					</v-flex>

                </v-flex>

				</v-card>
			</v-flex>
		</span>
        </v-flex>
    </v-flex>
</template>
<script>
    import teamPeriod from './period';

    export default {
        components: {
            teamPeriod
        },
        data() {
            return {
                tempItem: {},
                dialogEdit: false,
                dialogDelete: false
            }
        },
        mounted() {
            this.$store.dispatch('contacts/team/all', this.$route.params.id);
            this.$store.dispatch('common/member/all', this.$route.params.id);

        },
        computed: {
            getAllTeamContacts() {
                return this.$store.getters['contacts/team/all'];
            }
        },
        methods: {
            onSelectItem(item, action) {
                this.tempItem = {};
                if (item) {
                    Object.assign(this.tempItem, item);

                }
                this.tempItem.tempPeriods = [];
                if (!this.tempItem.periods) this.tempItem.periods = [];
                switch (action) {
                    case 1: {//on create new
                        this.dialogEdit = true;
                        break
                    }
                    case 2: {//on create new
                        this.dialogEdit = true;
                        for (let i = 0; i < this.tempItem.periods.length; i++) {
                            let period = this.tempItem.periods[i];

                            period._members = "";
                            this.tempItem.tempPeriods.push(period);
                            for (let di = 0; di < period.members.length; di++) {
                                period._members += (period._members.length ? ", " : "") + period.members[di].name
                            }

                            let __members = this.$store.getters['common/member/all'],
                                _c = period.members;
                            period.tempMembers = [];
                            period.membersId = [];
                            for (let di = 0; di < _c.length; di++) {
                                for (let i = 0; i < __members.length; i++) {
                                    if (__members[i].id == _c[di].id) {
                                        period.tempMembers.push({
                                            member: __members[i],
                                            member_price: _c[di].member_price || 0
                                        });
                                        period.membersId.push({
                                            id: __members[i].id,
                                            member_price: _c[di].member_price
                                        });
                                        break;
                                    }
                                }
                            }
                        }


                        break
                    }
                    case 3: {//on create new
                        this.dialogDelete = true;
                        break
                    }
                    default: {
                        this.dialogEdit = true;
                    }
                }
            },
            onActionItem(action) {
                if (this.tempItem.tempPeriods) for (let i = 0; i < this.tempItem.tempPeriods.length; i++) {
                    this.tempItem.tempPeriods[i].originItem = this.tempItem.tempPeriods[i].tempMembers = null;
                }
                this.tempItem.contactId = this.$route.params.id;

                switch (action) {
                    case 1: {//add
                        this.$store.dispatch('contacts/team/addItem', this.tempItem);
                        break;
                    }
                    case 2: {//edit
                        this.$store.dispatch('contacts/team/editItem', this.tempItem);
                        break;
                    }
                    case 3: {//delete
                        this.$store.dispatch('contacts/team/deleteItem', this.tempItem);
                        break;
                    }
                }
                this.dialogDelete = this.dialogEdit = false;
            },

            dateCheck(from, to) {
                var fDate, lDate, cDate;
                fDate = Date.parse(from);
                lDate = Date.parse(to);
                cDate = Date.now();

                if (cDate <= lDate && cDate >= fDate) {
                    return true;
                }
                return false;
            }
        }
    };
</script>
<style scoped>
    .divider {
        background-color: black !important;
    }

    .active {
        font-weight: 600;
    }
</style>
