<template>
    <v-app id="login">
        <v-snackbar color="black" :timeout="3000" :top="true" :multi-line="false" :vertical="true"
                    v-model="snackbar.active">
            {{ snackbar.text }}
            <v-btn flat color="white" @click.native="snackbar.active = false">X</v-btn>
        </v-snackbar>
        <v-layout row wrap>
            <v-flex xs0 sm7>
                <div class="__background">
                    <div class="__layer">
                    </div>
                </div>
            </v-flex>
            <v-flex xs12 sm5>
                <v-layout align-center justify-center class="__logo">
                    <img src='../../../../static/img/logo/logo.png' height="40px"/>
                </v-layout>
                <v-form class="__form" ref="updateUser">
                    <p>Hi <b>{{user.fullName}}</b>, please update your password</p>
                    <v-flex xs12>
                        <v-text-field
                                :append-icon="showPsw ? 'visibility_off' : 'visibility'"
                                v-model="user.password"
                                :rules="[rules.required, rules.counter, rules.matched]"
                                label="Password"
                                counter
                                :type="showPsw ? 'text' : 'password'"
                                maxlength="20"
                                minlength="8"
                                hint="At least 8 characters"
                                @click:append="showPsw = !showPsw"
                        ></v-text-field>
                    </v-flex>
                    <v-flex xs12>
                        <v-text-field
                                :append-icon="showRepeatPsw ? 'visibility_off' : 'visibility'"
                                v-model="user.loginPasswordRepeat"
                                :rules="[rules.required, rules.counter, rules.matched]"
                                label="Repeat password"
                                counter
                                :type="showRepeatPsw ? 'text' : 'password'"
                                maxlength="20"
                                minlength="8"
                                hint="At least 8 characters"
                                @click:append="showRepeatPsw = !showRepeatPsw"
                        ></v-text-field>
                    </v-flex>

                    <v-btn @click="updateItem($event)" class="__login-button white--text" block round>
                        Save
                    </v-btn>
                </v-form>

            </v-flex>
        </v-layout>
    </v-app>
</template>

<script>
    import _router from '@/routes';
    import {Auth} from '@/services/AuthService';

    export default {
        name: 'SfinxLogin',
        data() {
            return {
                showRepeatPsw: false,
                showPsw: false,
                drawer: null,
                tempItem: {},
                error: '',
                user: {},
                rules: {
                    required: value => !!value || 'Required.',
                    counter: value => value && value.length >= 8 && value.length <= 20 || 'Min 8 characters ',
                    matched: value => !this.user.password || !this.user.loginPasswordRepeat || this.user.password == this.user.loginPasswordRepeat || 'Passwords not matched',
                },
                snackbar: {
                    active: false,
                    text: ''
                }
            };
        },
        mounted() {
            this.$auth.fetch({
                success: (res) => {
                    this.user = res.data.data;
                },
                error: function (res) {
                    console.log('Something went wrong');
                }
            });
        },
        methods: {
            updateItem() {
                if (this.$refs.updateUser.validate()) {
                    this.$store.dispatch('users/editSelf', this.user).then((res) => {
                        if (res && res.data) {
                            _router.push('dashboard');
                        } else {
                            alert(res);
                        }
                    })
                }
            }
        }
    };
</script>

<style lang="scss" scoped>
    @import '../../../global';

    .__background {
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        height: 100%;
    }

    .__layer {
        position: relative;
        width: 100%;
        height: 100%;
        background-image: linear-gradient(
                        127deg,
                        $nav-background_color,
                        $nav-background_color
        );
    }

    .__logo {
        margin-top: 28%;
        margin-bottom: 5%;
    }

    .__form {
        text-align: justify;
        color: #c2c2c2;
        width: 60%;
        font-size: 20px;
        margin-left: 20%;
    }

    .__login-button {
        background: #373b44; /* fallback for old browsers */
        background: -webkit-linear-gradient(
                        to right,
                        #1c53f8,
                        #1c9bf8
        ); /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(
                        to right,
                        #1c53f8,
                        #1c9bf8
        ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    }
</style>
