<template>
    <div id="planner" class="planner">

        <Viewer ref="viewer"/>
        <PopupPlannerMove ref="popupPlannerMove"/>
        <ConstructionSiteSettings ref="constructionSiteSettings" :setings="{hasClientSwitch:true,hasDatum:true,type:'planner'}"></ConstructionSiteSettings>
    </div>
</template>

<script>

    import ConstructionSiteSettings from '../../utils/siteSettings';
    import Viewer from './viewer/index.vue';
    import {VUtils} from './viewer/VUtils';
    import PopupPlannerMove from './popups/move.planners.vue';

    export default {
        components: {
            ConstructionSiteSettings,
            PopupPlannerMove,
            Viewer
        },
        data() {
            let self = this;

            return {
                auth_token: localStorage.getItem('default_auth_token'),
                LEGACY_URL: process.env.LEGACY_URL,

                VUtils: VUtils,
                self: this,
                notifications: false,
                sound: true,
                menu: false,
                menu2: false,
                widgets: false,
                setDateRange: async function (daterange) {
                    return await this.$refs.constructionSiteSettings.setDateRange(daterange);
                }
            };
        },
        computed: {
        },
        mounted() {
        },
        methods: {
            updateListOfSites: function (daterange, selectedSites, planner) {
                return   this.$refs.constructionSiteSettings.updateListOfSites(daterange, selectedSites, planner);
            }
        }
    };
</script>

<style>
    .planner {
        display: flex;
        width: 100%;
        height: 100%;
    }

    .btn-remove {
        vertical-align: middle;
        cursor: pointer;
        font-weight: 800;
        color: #c22;
    }

    iframe {
        width: 100%;
        height: 500px;
    }

    .border {
        border: 1px solid #f5f5f5;
        border-radius: 10px;
        margin: 1% 0% 1% 1%;
        min-height: 700px;
    }
</style>
