<template>
    <router-view></router-view>
</template>

<script>
    export default {
        data() {
            return {

            };
        },
        computed: {
        },
        methods: {
        }
    }
</script>

<style lang="scss" scoped>

</style>
