<template>
	<v-toolbar>
		<v-text-field prepend-icon="search" flat solo label="Search or go to navbar" hide-details single-line></v-text-field>
	</v-toolbar>
</template>

<script>
	export default {};
</script>


<style>
</style>
