<template>
    <div class="main-container users">
        <v-dialog v-model="dialogEdit" persistent max-width="500px">
            <v-card>
                <v-card-title>
                    <span class="headline">{{tempRight.id?'Edit':'New'}} Right</span>
                </v-card-title>
                <v-card-text>
                    <v-container grid-list-md>
                        <v-layout wrap>
                            <v-flex xs12 sm6 md6>
                                <v-text-field label="Name" v-model="tempRight.name" required></v-text-field>
                            </v-flex>
                            <v-flex xs12 sm6 md6>
                                <v-text-field label="Description"
                                              v-model="tempRight.description"></v-text-field>
                            </v-flex>
                            <v-flex xs12>
                                <v-text-field label="Sequence" type="number" min="0"
                                              v-model="tempRight.sequence"></v-text-field>
                            </v-flex>
                        </v-layout>
                    </v-container>
                    <small>*indicates required field</small>
                </v-card-text>
                <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn color="blue darken-1" flat @click.native="dialogEdit = false">Close</v-btn>
                    <v-btn color="blue darken-1" flat @click.native="actItem()">Save</v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>
        <v-dialog v-model="dialogDelete" persistent max-width="590">
            <v-card>
                <v-card-title class="headline">Are you sure you want to delete the right {{tempRight.name}}? Also
                    will delete all relation user groups and users
                </v-card-title>
                <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn color="green darken-1" flat @click.native="dialogDelete=false;">
                        Cancel
                    </v-btn>
                    <v-btn color="green darken-1" flat @click.native="deleteItem()">Yes</v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>

        <v-data-table :headers="headers" :items="all" item-key="id" hide-actions class="elevation-1 list-table">
            <template slot="headers" slot-scope="item" >
                <th v-for="(group,indx) in headers" :key="`a-d-header-${indx}`" :class="[indx == 0?'name-item':'']">
                    <v-flex   >
                        {{group.text}}
                    </v-flex>
                </th>
            </template>
            <template slot="items" slot-scope="props">
                <td class="name-item">{{ props.item.name }}</td>
                <td>{{ props.item.description }}</td>
                <td>{{ props.item.sequence }}</td>
                <td>
                    <v-icon color="secondary" @click="onSelectItem(props.item,1)" flat dark>edit</v-icon>
                    <v-icon color="secondary" @click="onSelectItem(props.item,2)" flat dark>delete</v-icon>
                </td>

            </template>
        </v-data-table>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                dialogEdit: false,
                dialogDelete: false,
                tempRight: {
                    id: null,
                    name: null,
                    description: null,
                },
                name: null,
                first_name: null,
                username: null,
                userGroup: null,
                password: null,
                headers: [
                    {
                        text: 'Name',
                        value: 'name'
                    },
                    {
                        text: 'Description',
                        value: 'description'
                    },
                    {
                        text: 'Sequence',
                        value: 'name'
                    },
                    {
                        text: 'Actions',
                        sortable: false,
                        value: 'name'
                    }
                ]
            };
        },
        computed: {
            all() {
                return this.$store.getters['rights/all'];
            }
        },
        methods: {
            actItem() {
                this.dialogEdit = false;
                if (this.tempRight.id) {
                    this.editItem();
                } else {
                    this.addItem();
                }
            },
            onSelectItem(item, type) {
                this.tempRight = {};
                if (item) Object.assign(this.tempRight, item);
                switch (type) {
                    case 1: {
                        this.dialogEdit = true;
                        break;
                    }
                    case 2: {
                        this.dialogDelete = true;
                        break;
                    }
                    default: {
                        this.dialogEdit = true;
                    }
                }
            },

            addItem() {
                console.log(this.tempRight);
                this.$store.dispatch('rights/add', this.tempRight);
            },
            editItem() {
                this.$store.dispatch('rights/edit', this.tempRight);
            },
            deleteItem() {
                this.$store.dispatch('rights/deleteItem', this.tempRight);
                this.dialogDelete = false;
            },

        },
        mounted() {
            this.$store.dispatch('rights/all');
            this.$parent.title= 'All Rights';
        },
        destroyed(){this.$parent.title= '';}
    };
</script>
