<template>
    <div id="#all-member" class="main-container workflow">
        <v-card flat tile>
            <v-toolbar dark dense>
                <v-toolbar-title>All Function Groups</v-toolbar-title>
                <v-spacer></v-spacer>
                <v-btn @click="onSelectItem(null,1)" flat icon class="white--text">
                    <v-icon>add</v-icon>
                </v-btn>
            </v-toolbar>
        </v-card>

        <v-data-table celled :headers="headers"
                      disable-initial-sort :items="all" item-key="id" hide-actions class="elevation-1 list-table"
                      ref="sortableTable">
            <template slot="items" slot-scope="props" :data-item-id="props.item.id">

                <tr class="sortableRow" :id="props.item.id">
                    <td class="px-1"  >
                        <v-btn style="cursor: move" icon class="sortHandle">
                            <v-icon>drag_handle</v-icon>
                        </v-btn>
                    </td>
                    <td>{{ props.item.name }}</td>
                    <td>{{ props.item.description }}</td>
                    <td>{{ props.item.sequence }}</td>
                    <td>
                        <v-btn icon class="mx-0" @click="onSelectItem(props.item,3)">
                            <v-icon color="pink">delete</v-icon>
                        </v-btn>
                        <v-btn icon class="mx-0" @click="onSelectItem(props.item,2)">
                            <v-icon dark color="secondary">edit</v-icon>
                        </v-btn>
                    </td>
                </tr>


            </template>

        </v-data-table>


        <v-dialog v-model="dialogEdit" persistent max-width="500px">
            <v-card>
                <v-card-title>
                    <span class="headline">{{tempItem.id?'Edit':"Add"}}  Function Group</span>
                </v-card-title>
                <v-card-text>
                    <v-container grid-list-md>
                        <v-layout wrap>
                            <v-flex xs12 sm12 md12>
                                <v-text-field label="Name" v-model="tempItem.name" required></v-text-field>
                            </v-flex>
                            <v-flex xs12 sm12 md12>
                                <v-textarea hint="Input Description" label="Description"
                                            v-model="tempItem.description"></v-textarea>
                            </v-flex>
                        </v-layout>
                    </v-container>
                    <small>*indicates required field</small>
                </v-card-text>
                <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn color="blue darken-1" flat @click.native="dialogEdit=false">Close
                    </v-btn>
                    <v-btn color="blue darken-1" flat @click.native="onActionItem(tempItem.id?2:1)">Save Changes
                    </v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>
        <v-dialog v-model="dialogDelete" persistent max-width="590">
            <v-card>
                <v-card-title class="headline">Are you sure you want to delete the Function Group {{tempItem.name}} ?
                </v-card-title>
                <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn color="green darken-1" flat @click.native="dialogDelete=false">Cancel
                    </v-btn>
                    <v-btn color="green darken-1" flat @click.native="onActionItem(3)">Yes
                    </v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>
    </div>
</template>

<script>
    import Sortable from 'sortablejs';

    export default {
        components: {},
        data() {
            return {
                pagination: {
                    sortBy: 'sequence'
                },
                tempItem: {},
                dialogEdit: false,
                dialogDelete: false,
                headers: [
                    {
                        text: '',
                        align: 'left',
                        sortable: false,
                        value: 'name'
                    }, {
                        text: 'Name',
                        align: 'left',
                        value: 'name'
                    },
                    {
                        text: 'Description',
                        align: 'left',
                        value: 'description'
                    },
                    {
                        text: 'Sequence',
                        align: 'left',
                        value: 'sequence'
                    },
                    {
                        text: 'Action',
                        align: 'left',
                        sortable: false,
                        value: 'action'
                    }
                ]
            };
        },
        computed: {
            all() {
                return this.$store.getters['workflow/functionGroup/all'];
            }
        },
        mounted() {
            this.$store.dispatch('workflow/getWorkFlow').then(() => {
                this.$store.dispatch('workflow/functionGroup/all', this.$store.getters['workflow/getWorkflowFunctionGroups']);
                new Sortable(
                    this.$refs.sortableTable.$el.childNodes[0].querySelector('tbody'),
                    {
                        draggable: '.sortableRow',
                        handle: '.sortHandle',
                        onEnd: this.onEndDrag
                    }
                );
            })

        },
        methods: {
            onEndDrag({item, oldIndex, newIndex}) {
                if (oldIndex == newIndex) return console.warn('No changes');
                for (let i = 0; i < this.all.length; i++) {
                    let editItem = this.all[i];
                    if (editItem.id == item.id) {
                        editItem.oldSequence = editItem.sequence;
                        editItem.sequence = newIndex + 1;
                        return this.$store.dispatch('workflow/functionGroup/editItem', editItem);
                    }
                }

            },
            onSelectItem(item, action) {
                this.tempItem = {};
                if (item) {
                    Object.assign(this.tempItem, item);
                }
                switch (action) {
                    case 2: {//on create new
                        this.dialogEdit = true;
                        break
                    }
                    case 3: {//on create new
                        this.dialogDelete = true;
                        break
                    }
                    default: {
                        this.dialogEdit = true;
                    }
                }
            },
            onActionItem(action) {
                this.tempItem.team_member_id = this.tempItem.member && this.tempItem.member.id > 0 ? this.tempItem.member.id : null;
                switch (action) {
                    case 1: {//add
                        this.$store.dispatch('workflow/functionGroup/addItem', this.tempItem);
                        break;
                    }
                    case 2: {//edit
                        this.$store.dispatch('workflow/functionGroup/editItem', this.tempItem);
                        break;
                    }
                    case 3: {//delete
                        this.$store.dispatch('workflow/functionGroup/deleteItem', this.tempItem);
                        break;
                    }
                }
                this.dialogDelete = this.dialogEdit = false;
            },
        },
        destroyed() {
            this.$store.dispatch('workflow/refreshOrder');
        }
    };
</script>
