<template>
    <div  class="main-container users">
        <v-dialog v-model="dialogEdit" persistent max-width="500px">
            <v-card>
                <v-card-title>
                    <span class="headline">{{tempRight.id?'Edit':'New'}} Incoming Invoice</span>
                </v-card-title>
                <v-card-text>
                    <v-container grid-list-md>
                        <v-layout wrap>
                            <v-flex xs12 sm6 md6>
                                <v-text-field label="Serial Number" v-model="tempRight.serial_number"
                                              required></v-text-field>
                            </v-flex>
                            <v-flex xs12 sm6 md6>
                                <v-text-field label="Payment Term(seconds)" type="number" min="0"
                                              v-model="tempRight.payment_term" required></v-text-field>
                            </v-flex>
                            <v-flex xs12 sm6 md6>
                                <v-checkbox v-model="tempRight.is_paid" label="Is Paid"></v-checkbox>
                            </v-flex>
                            <v-flex xs12 sm6 md6>
                                <v-text-field label="Financial Discount"
                                              type="number" min="0"
                                              v-model="tempRight.financial_discount" required></v-text-field>
                            </v-flex>
                            <v-flex xs12 sm6 md6>
                                <v-text-field label="Discount"
                                              type="number" min="0"
                                              v-model="tempRight.discount" required></v-text-field>
                            </v-flex>
                            <v-flex xs12 sm6 md6>
                                <v-text-field label="Invoice Number"
                                              type="number" min="0"
                                              v-model="tempRight.invoice_number" required></v-text-field>
                            </v-flex>
                            <v-flex xs12 sm6 md6>
                                <item-select-load :items="allContacts" :model="tempRight.contact"
                                                  :item_label="`Select Sender`"
                                                  :item_text="`name`"
                                                  :query_link="`contacts/all`"
                                                  @onSelect="onSelectItemContact"></item-select-load>
                            </v-flex>
                            <v-flex xs12 sm6 md6>
                                <v-text-field label="Description"
                                              v-model="tempRight.comment"></v-text-field>
                            </v-flex>
                        </v-layout>
                    </v-container>
                    <small>*indicates required field</small>
                </v-card-text>
                <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn color="blue darken-1" flat @click.native="dialogEdit = false">Close</v-btn>
                    <v-btn color="blue darken-1" flat @click.native="actItem()">Save</v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>
        <v-dialog v-model="dialogDelete" persistent max-width="590">
            <v-card>
                <v-card-title class="headline">Are you sure you want to delete the invoice
                    {{tempRight.serial_number}}?
                </v-card-title>
                <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn color="green darken-1" flat @click.native="dialogDelete=false;">
                        Cancel
                    </v-btn>
                    <v-btn color="green darken-1" flat @click.native="deleteItem()">Yes</v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>
        <v-data-table :headers="headers" :id="`component_${_uid}`" hide-actions
                      :items="all" item-key="id" class="elevation-1 list-table">
            <template slot="headers" slot-scope="props">
                <tr>
                    <th
                            class="text-sm-center"
                            v-for="header in props.headers"
                            :key="`b-${header.text}`"
                            :class="['column sortable', pagination.descending ? 'desc' : 'asc',  header.value === pagination.sortBy ? 'active' : '']"
                            @click="changeSort(header.value)"
                    >
                        <v-icon small>arrow_upward</v-icon>
                        {{ header.text }}
                    </th>
                </tr>
                <tr>
                    <td class="text-sm-center" v-for="header in props.headers"
                        :key="`a-${header.text}`">

                        <v-flex xs12 class="text-center" v-if="header.customFilter">
                            <div v-if="header.customFilter.type === 1">
                                <v-text-field :label="header.text"
                                              @change="filterItems()"
                                              v-model="filter[header.customFilter.field]"></v-text-field>
                            </div>
                            <div v-else-if="header.customFilter.type === 2">
                                <v-select return-object :items="header.customFilter.list"
                                          v-model="filter[header.customFilter.field]"
                                          item-text="name" :label="`Select ${header.customFilter.label}`"></v-select>
                            </div>
                        </v-flex>
                    </td>
                </tr>

            </template>
            <template slot="items" slot-scope="props">
                <td>
                    <v-btn flat icon @click="onSelectItem(props.item,1)">
                        <v-icon color="green" flat dark>edit</v-icon>
                    </v-btn>
                    <v-btn flat icon @click="onSelectItem(props.item,2)">
                        <v-icon color="red" flat dark>delete</v-icon>
                    </v-btn>

                    <router-link :to="('/finances/invoices/incoming/'+props.item.id)">
                        <v-tooltip bottom>
                            <v-btn slot="activator" icon>
                                <v-icon>edit</v-icon>
                            </v-btn>
                            <span>View Details</span>
                        </v-tooltip>
                    </router-link>
                </td>
                <td>{{ props.item.serial_number }}</td>
                <td>{{ props.item.sender.name }}</td>
                <td>NULL</td>
                <td>{{props.item.invoice_number}}</td>
                <td>{{props.item.start}}</td>
                <td>{{props.item.end}}</td>
                <td>NULL</td>
                <td>NULL</td>
                <td>NULL</td>
                <td>{{props.item.total_entry_amount}}</td>
                <td>{{props.item.total_entry_amount_vat}}</td>
                <td>{{props.item.btw}}</td>
                <td>{{props.item.total_entry_amount_per_site}}</td>


            </template>
        </v-data-table>
        <v-flex >
            <p class="text-lg-right display-2">{{total_invoices_entries}}</p>
        </v-flex>
    </div>
</template>

<script>
    import {PaginateFilter} from '@/services/paginate.filter';
    export default {
        data() {
            return {
                hasSite: false,
                total_invoices_entries: 0,
                canView: true,
                dialogEdit: false,
                dialogDelete: false,
                pagination: {
                    sortBy: 'serial_number'
                },
                filter: {
                    keys:['name','contact_id'],
                    query_link:'finance/invoice/incoming/all',
                    originList: [],
                    items: [],
                    name:'',
                    contact_id:'',
                    contactName: '',
                    total_entry_amount: null,
                    total_entry_amount_vat: null,
                    invoice_number: null,
                    btw: null,
                },
                tempRight: {
                    serial_number: null,
                    payment_term: null,
                    is_paid: null,
                    financial_discount: null,
                    discount: null,
                    comment: null,
                    invoice_number: null,
                    contact: null,
                },
                headers: [
                    {
                        text: 'Actions',
                        sortable: false,
                        value: 'btw'
                    },
                    {
                        text: 'Volgnummer',
                        value: 'serial_number'
                    },
                    {
                        text: 'Afzender',
                        value: 'sender.name',
                        customFilter: {
                            type: 1,
                            field: 'contactName'
                        }
                    },
                    {
                        text: 'IP',
                        sortable: false,
                        value: 'serial_number'
                    },
                    {
                        text: 'Factuurnr',
                        value: 'invoice_number',
                        customFilter: {
                            type: 1,
                            field: 'invoice_number'
                        }
                    },
                    {
                        text: 'Factuurdat',
                        value: 'start',
                        customFilter: {
                            type: 2,
                            list: [],
                            field: 'start',
                            label: 'Jaar'
                        }
                    },
                    {
                        text: 'Vervaldag',
                        value: 'end'
                    },
                    {
                        text: 'bet OK',
                        sortable: false,
                        value: 'end'
                    },
                    {
                        text: 'Saldo ATs',
                        sortable: false,
                        value: 'end'
                    },
                    {
                        text: 'Contr',
                        sortable: false,
                        value: 'end'
                    },
                    {
                        text: 'Bedrag (Excl)',
                        value: 'total_entry_amount',
                        customFilter: {
                            type: 1,
                            field: 'total_entry_amount'
                        }
                    },
                    {
                        text: 'Bedrag (Incl)',
                        value: 'total_entry_amount_vat',
                        customFilter: {
                            type: 1,
                            field: 'total_entry_amount_vat'
                        }
                    },
                    {
                        text: 'BTW',
                        value: 'btw'
                    },
                    {
                        text: 'Deelberag Bergmans Christiane',
                        value: 'total_entry_amount_per_site'
                    }
                ]
            };
        },
        computed: {
            all() {
                if (!this.hasSite) return [];
                let yearlist = this.headers[5] ? this.headers[5].customFilter.list : [];
                this.filter.originList = this.$store.getters['finance/invoice/incoming/all'];

                if (this.site) {
                    this.filter.originList = this.filter.originList.filter((el) => {
                        return el.sender && el.sender.id == this.site.contact.id;
                    });
                } else {
                    console.log("error");
                }

                this.total_invoices_entries = 0;

                this.filter.items = this.filterItems();
                for (let i = 0, list = this.filter.originList; i < list.length; i++) {
                    let _item = list[i];
                    _item.total_entry_amount_per_site = 0;
                    if (list[i].entries) {
                        for (let di = 0, listEntries = _item.entries; di < listEntries.length; di++) {
                            if (_item.entries[di].site && _item.entries[di].site.id == this.site.id) {
                                _item.total_entry_amount_per_site += _item.entries[di].amount;
                            }
                        }
                    }
                    this.total_invoices_entries += _item.total_entry_amount_per_site;
                    if (!_item.start) continue;
                    let _year = _item.start.split("-")[0];
                    if (yearlist.indexOf(_year) < 0) yearlist.push(_year);
                }
                return this.filter.items;
            },
            allContacts() {
                return this.$store.getters['contacts/all'];
            }
        },
        methods: {
            onSelectItemContact(model) {
                this.tempRight.site = model;
            },
            changeSort(column) {
                if (this.pagination.sortBy === column) {
                    this.pagination.descending = !this.pagination.descending;
                } else {
                    this.pagination.sortBy = column;
                    this.pagination.descending = false;
                }
            },
            filterItems() {
                this.filter.items = this.filter.originList.filter((el) => {
                    let isMatched = true;
                    if (this.filter.contactName) {
                        isMatched = el.sender.name.toLowerCase().match(this.filter.contactName.toLowerCase());
                    }
                    if (isMatched && this.filter.invoice_number) {
                        isMatched = el.invoice_number.toString().toLowerCase().match(this.filter.invoice_number.toLowerCase());
                    }
                    if (isMatched && this.filter.total_entry_amount) {
                        isMatched = el.total_entry_amount.toString().toLowerCase().match(this.filter.total_entry_amount.toLowerCase());
                    }
                    if (isMatched && this.filter.total_entry_amount_vat) {
                        isMatched = el.total_entry_amount_vat.toString().toLowerCase().match(this.filter.total_entry_amount_vat.toLowerCase());
                    }
                    if (isMatched && this.filter.start) {
                        isMatched = el.start.toLowerCase().match(this.filter.start.toLowerCase());
                    }
                    return isMatched;
                });
                return this.filter.items;
            },
            actItem() {
                this.dialogEdit = false;
                if (this.tempRight.id) {
                    this.editItem();
                } else {
                    this.addItem();
                }
            },
            onSelectItem(item, type) {
                this.tempRight = {};
                if (item) Object.assign(this.tempRight, item);
                switch (type) {
                    case 1: {
                        this.dialogEdit = true;
                        if (item.sender) this.tempRight.contact = this.allContacts.filter((el) => {
                            return item.sender.id == el.id;
                        })[0];
                        break;
                    }
                    case 2: {
                        this.dialogDelete = true;
                        break;
                    }
                    default: {
                        this.dialogEdit = true;
                    }
                }
            },

            addItem() {
                if (this.tempRight.contact) this.tempRight.contact_id = this.tempRight.contact.id;
                this.$store.dispatch('finance/invoice/incoming/add', this.tempRight);
            },
            editItem() {
                if (this.tempRight.contact) this.tempRight.contact_id = this.tempRight.contact.id;
                this.$store.dispatch('finance/invoice/incoming/edit', this.tempRight);
            },
            deleteItem() {
                this.$store.dispatch('finance/invoice/incoming/deleteItem', this.tempRight);
                this.dialogDelete = false;
            },
        },
        mounted() {
            let siteId = this.$route.params.id,
                self = this;
            this.$store.dispatch('finance/summary/all',{queries:`siteId=${siteId}`}).then((el) => {
                let sites = this.$store.getters['finance/summary/all'];
                for (let i = 0; i < sites.length; i++) {
                    if (sites[i].id == siteId) {
                        self.site = sites[i];
                        self.hasSite = true;
                        break;
                    }
                }
                if (this.site) {
                    this.filter.contact_id = this.site.contact.id;
                    // this.$store.dispatch('contacts/getAllContacts');
                    Object.assign(this,new PaginateFilter(this));
                } else {
                    alert('No Site found!');
                }

            });

        }
    };
</script>
