<template>
    <div class="main-container users">
        <v-card flat tile>
            <v-toolbar dark dense>
                <v-toolbar-title> Collective Holidays</v-toolbar-title>
                <v-spacer></v-spacer>
                <v-text-field solo hide-details prepend-inner-icon="search" v-model="filter.name"
                              @change="onChangeFilter" label="Search"></v-text-field>
                <v-btn @click="onSelectItem(null,1)" flat icon class="white--text">
                    <v-icon>add</v-icon>
                </v-btn>
            </v-toolbar>
        </v-card>
        <v-data-table :headers="headers" :id="`component_${_uid}`" disable-initial-sort
                      :items="AllHolidays" item-key="id" hide-actions class="elevation-1 list-table">
            <template slot="items" slot-scope="props">
                <td>{{ props.item.id }}</td>
                <td>{{ props.item.name }}</td>
                <td>{{ props.item.start }}</td>
                <td>{{ props.item.end }}</td>
                <td>
                    <v-btn icon class="mx-0" @click="onSelectItem(props.item,3)">
                        <v-icon color="pink">delete</v-icon>
                    </v-btn>
                    <v-btn icon class="mx-0" @click="onSelectItem(props.item,2)">
                        <v-icon dark color="secondary">edit</v-icon>
                    </v-btn>
                </td>
            </template>
        </v-data-table>

        <v-dialog v-model="dialogEdit" persistent max-width="500px">
            <v-card>
                <v-card-title>
                    <span class="headline">{{tempItem.id?'Edit':"Add"}} Collective Holiday</span>
                </v-card-title>
                <v-card-text>
                    <v-container grid-list-md>
                        <v-layout wrap>
                            <v-flex xs12 sm12 md12>
                                <v-text-field label="Name" v-model="tempItem.name" required></v-text-field>
                            </v-flex>
                            <v-flex xs12 sm12 md12>
                                <v-layout row wrap>
                                    <v-flex xs6>
                                        <v-dialog ref="dataStartMenu" v-model="dataStartMenu" persistent lazy full-width
                                                  width="290px">
                                            <v-text-field slot="activator" label="Start Date"
                                                          v-model="tempItem.start" prepend-icon="event"
                                                          readonly></v-text-field>
                                            <v-date-picker v-model="tempItem.start"
                                                           :allowed-dates="allowedStartDate" scrollable>
                                                <v-spacer></v-spacer>
                                                <v-btn flat color="primary" @click="dataStartMenu = false">Cancel
                                                </v-btn>
                                                <v-btn flat color="primary"
                                                       @click="$refs.dataStartMenu.save(tempItem.start)">OK
                                                </v-btn>
                                            </v-date-picker>
                                        </v-dialog>
                                    </v-flex>
                                    <v-flex xs6>
                                        <v-dialog ref="dataEndtMenu" v-model="dataEndtMenu" persistent lazy full-width
                                                  width="290px">
                                            <v-text-field slot="activator" label="End Date"
                                                          v-model="tempItem.end" prepend-icon="event"
                                                          readonly></v-text-field>
                                            <v-date-picker v-model="tempItem.end"
                                                           :allowed-dates="allowedEndDate" scrollable>
                                                <v-spacer></v-spacer>
                                                <v-btn flat color="primary" @click="dataEndtMenu = false">Cancel</v-btn>
                                                <v-btn flat color="primary"
                                                       @click="$refs.dataEndtMenu.save(tempItem.end)">OK
                                                </v-btn>
                                            </v-date-picker>
                                        </v-dialog>
                                    </v-flex>
                                </v-layout>
                            </v-flex>
                        </v-layout>
                    </v-container>
                    <small>*indicates required field</small>
                </v-card-text>
                <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn color="blue darken-1" flat @click.native="dialogEdit=false">Close
                    </v-btn>
                    <v-btn color="blue darken-1" flat @click.native="onActionItem(tempItem.id?2:1)">Save Changes
                    </v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>
        <v-dialog v-model="dialogDelete" persistent max-width="590">
            <v-card>
                <v-card-title class="headline">Are you sure you want to delete the Collective Holiday {{tempItem.name}}
                    ?
                </v-card-title>
                <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn color="green darken-1" flat @click.native="dialogDelete=false">Cancel
                    </v-btn>
                    <v-btn color="green darken-1" flat @click.native="onActionItem(3)">Yes
                    </v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>
    </div>
</template>

<script>
    import {PaginateFilter} from '@/services/paginate.filter';
    export default {
        data() {
            return {
                paginate: null,
                filter: {
                    keys:['name'],
                    query_link:'common/holiday/all',
                    name: ''
                },
                tempItem: {},
                dataEndtMenu: null,
                dataStartMenu: null,
                dialogEdit: false,
                dialogDelete: false,
                headers: [
                    {
                        text: 'ID',
                        sortable: true,
                        value: 'id'
                    },
                    {
                        text: 'Name',
                        value: 'name'
                    },
                    {
                        text: 'Start Date',
                        value: 'start'
                    },
                    {
                        text: 'End Date',
                        value: 'end'
                    },
                    {
                        text: 'Operations',
                        sortable: false,
                        value: 'operations'
                    }
                ]
            };
        },
        computed: {
            AllHolidays() {
                return this.$store.getters['common/holiday/all'];
            }
        },
        mounted() {
            Object.assign(this,new PaginateFilter(this));
        },
        methods: {
            onChangeFilter(){},//will be overidden
            onSelectItem(item, action) {
                this.tempItem = {};
                if (item) {
                    Object.assign(this.tempItem, item);
                }
                ['start', 'end'].forEach((el) => {
                    this.tempItem[el] = new Date(this.tempItem[el] || Date.now());
                    this.tempItem[el] = this.tempItem[el].format('yyyy-mm-dd');
                });
                switch (action) {
                    case 2: {//on create new
                        this.dialogEdit = true;
                        break
                    }
                    case 3: {//on create new
                        this.dialogDelete = true;
                        break
                    }
                    default: {
                        this.dialogEdit = true;
                    }
                }
            },
            onActionItem(action) {
                switch (action) {
                    case 1: {//add
                        this.$store.dispatch('common/holiday/addItem', this.tempItem);
                        break;
                    }
                    case 2: {//edit
                        this.$store.dispatch('common/holiday/editItem', this.tempItem);
                        break;
                    }
                    case 3: {//delete
                        this.$store.dispatch('common/holiday/deleteItem', this.tempItem);
                        break;
                    }
                }
                this.dialogDelete = this.dialogEdit = false;
            },
            allowedEndDate(val) {
                return val >= this.tempItem.start;
            },
            allowedStartDate(val) {
                return val <= this.tempItem.end;
            }
        }
    };
</script>


