<template>
	<div  id="sfinx-aannemingstak">
		<router-view></router-view>
	</div>
</template>

<script>
	export default {
		name: 'SfinxAannemingstak',
		computed: {
			toolsVisibility: function() {
				return this.$store.getters['navigation/toolsVisibility'];
			}
		},
	}
</script>

<style lang="scss" scoped>

	#sfinx-aannemingstak {
		height: 100%;
	}

</style>
