<template>
	<div>
		<v-card flat tile>
			<v-toolbar dark dense>
				<v-toolbar-title>{{title}}</v-toolbar-title>
				<v-spacer></v-spacer>
				<v-toolbar-items>
					<v-btn :to="{ name: 'profile'}" flat ripple>Profile</v-btn>
					<v-btn :to="{ name: 'users'}" flat ripple>Users</v-btn>
					<v-btn :to="{ name: 'user-groups'}" flat ripple>User Group</v-btn>
					<v-btn :to="{ name: 'rights'}" flat ripple>Rights</v-btn>
				</v-toolbar-items>
				<v-btn @click="onSelectItem()" flat icon class="white--text">
					<v-icon flat dark>add</v-icon>
				</v-btn>

			</v-toolbar>
		</v-card>
		<router-view></router-view>
	</div>

</template>

<script>
	export default {
		data() {
			return {
				title: ''
			};
		},
		computed: {},
		methods: {
			onSelectItem() {
				this.$children[1].onSelectItem();
			}
		},
		mounted() {
		}
	};
</script>
