<template>
    <div>
        <v-card flat tile>
            <v-toolbar dark dense>
                <v-toolbar-title>Tasks</v-toolbar-title>
                <v-spacer></v-spacer>
                <v-btn flat color="white" dark @click="onSelectItem(null,1)">
                    <v-icon>add</v-icon> &nbsp; Add new Task
                </v-btn>
                <v-btn flat color="white" dark @click="toggleWrapping()">
                    {{wrap?'Unwrap':'Wrap'}} all
                </v-btn>
                <v-dialog justify-right v-model="dialogEdit" persistent max-width="500px">
                    <v-card>
                        <v-toolbar dark class="secondary">
                            <v-toolbar-title class="headline">{{tempItem.isAdd?'Add':'Edit'}}{{tempItem.parent_id?' Sub':''}} Task
                            </v-toolbar-title>
                        </v-toolbar>
                        <v-card-text>
                            <v-container grid-list-md>
                                <v-layout wrap>
                                    <v-flex xs12 sm12 md12>
                                        <v-text-field label="Name" v-model="tempItem.name" required></v-text-field>
                                    </v-flex>
                                    <v-flex xs12 sm12 md12>
                                        <v-text-field label="Description" v-model="tempItem.description"
                                                      required></v-text-field>
                                    </v-flex>
                                    <v-flex xs12 v-if="!tempItem.is_parent">
                                        <v-combobox
                                                v-model="tempItem.functionGrouops"
                                                :items="functionGroups"
                                                label="Function Grouops"
                                                chips
                                                clearable
                                                return-object
                                                item-text="name"
                                                prepend-icon="filter_list"
                                                solo
                                                multiple>
                                            <template slot="selection" slot-scope="data">
                                                <v-chip
                                                        :selected="data.item.selected" close
                                                        @input="removeFuntionGroup(data.item)">
                                                    <strong>{{ data.item.name }}</strong>&nbsp;
                                                </v-chip>
                                            </template>
                                        </v-combobox>
                                    </v-flex>
                                </v-layout>
                            </v-container>
                            <small>*indicates required field</small>
                        </v-card-text>
                        <v-card-actions>
                            <v-spacer></v-spacer>
                            <v-btn color="blue darken-1" flat @click.native="dialogEdit = false">Close</v-btn>
                            <v-btn color="blue darken-1" flat @click="actItem(tempItem.isAdd?1:2)">Save</v-btn>
                        </v-card-actions>
                    </v-card>
                </v-dialog>
                <v-dialog v-model="dialogDelete" persistent max-width="500">
                    <v-card>
                        <v-card-title class="headline">Are you sure you want to delete the Task {{tempItem.name}} ?
                        </v-card-title>
                        <v-card-actions>
                            <v-spacer></v-spacer>
                            <v-btn color="green darken-1" flat @click.native="dialogDelete=false">Cancel
                            </v-btn>
                            <v-btn color="green darken-1" flat @click.native="actItem(3)">Yes
                            </v-btn>
                        </v-card-actions>
                    </v-card>
                </v-dialog>
            </v-toolbar>
        </v-card>
        <div v-show="loading" class="loader mt-5"></div>

        <div style="overflow: auto;height: calc(100vh - 50px);">
            <!-- <task-tree-nested v-if="AllTasks.length" :tasks="AllTasks" :parentTask="{}"
                               :_parent="_parent" ref="treeTasks"></task-tree-nested>-->
            <item-tree-nested :items="AllTasks" :parentItem="{}"
                              :_parent="_parent" :fields="fields"></item-tree-nested>
        </div>

    </div>
</template>

<script>
    export default {
        data() {
            return {
                fields: [
                    'name',
                    'description',
                    'sequence',
                ],
                wrap: false,
                loading: true,
                tempItem: {
                    functionGrouops: [],
                    parent_id: null,
                    name: null,
                    description: null,
                },
                dialogEdit: false,
                dialogDelete: false,
            };
        },
        mounted: function () {
            this.$store.dispatch('workflow/getWorkFlow').then(() => {
                this.loading = false;
                this.$store.dispatch('workflow/task/all', this.AllTasks);
            });
        },
        methods: {
            toggleWrapping() {
                this.wrap = !this.wrap;
            },
            removeFuntionGroup(item) {
                this.tempItem.functionGrouops = this.tempItem.functionGrouops.filter((el) => el.id != item.id);
            },
            onSelectItem(item, action, parentList = null) {

                this.tempItem = {
                    functionGrouops: [],
                    parent_id: null,
                    name: null,
                    description: null
                }
                if (item && action != 1) {
                    item.task_id = item.id;
                    Object.assign(this.tempItem, item);
                    this.tempItem._originItem = item;
                    this.tempItem.functionGrouops = this.functionGroups.filter((el) => {
                        for (let i = 0; i < el.tasks.length; i++) {
                            if (el.tasks[i].task_id == item.id) {
                                return true;
                            }
                        }
                        return false;
                    })
                }
                this.tempItem.orFunctionGrouops = this.tempItem.functionGrouops.concat([]);
                switch (action) {
                    case 1: {//on add new one
                        this.tempItem.isAdd = true;
                        if (item) this.tempItem.parent_id = item.id;
                        this.dialogEdit = true;
                        break;
                    }
                    case 2: {//on edit
                        this.dialogEdit = true;
                        break;
                    }
                    case 3: {//on delete
                        this.dialogDelete = true;
                        break;
                    }
                }
                this.$forceUpdate();
            },
            actItem(action, item = null) {
                let _temp = this.tempItem;
                _temp.functionGrouopsid = this.tempItem.functionGrouops.map((el) => el.id);
                switch (action) {
                    case 1: {//on add new one
                        this.$store.dispatch('workflow/task/addItem', this.tempItem).then((item) => this.updateFunctionGroups(_temp, 1, item));
                        break;
                    }
                    case 2: {//on edit
                        this.$store.dispatch('workflow/task/editItem', item || this.tempItem).then(() => this.updateFunctionGroups(_temp));
                        break;
                    }
                    case 3: {//on delete
                        this.$store.dispatch('workflow/task/deleteItem', this.tempItem).then(() => this.updateFunctionGroups(_temp, 2));
                        break;
                    }
                }
                this.dialogEdit = this.dialogDelete = false;
                this.tempItem = {functionGrouops: []};

            },
            updateFunctionGroups(_temp, action, item) {
                if (!_temp.orFunctionGrouops) return;
                _temp.orFunctionGrouops.forEach((group) => {
                    for (let i = 0; i < group.tasks.length; i++) {
                        if (group.tasks[i].task_id == _temp.id) {
                            group.tasks.splice(i, 1);
                            return true;
                        }
                    }
                });
                if (action == 2) return;//on delete
                //restore task in function groups
                _temp.functionGrouops.forEach((group) => {
                    if (!group.tasks) group.tasks = [];
                    if (action == 1) {
                        group.tasks.push({
                            id: item.id,
                            task_id: item.id,
                            function_grouop_id: group.id,
                        });
                    } else {
                        group.tasks.push(_temp._originItem);
                    }

                });
            }


        },
        computed: {
            _parent() {
                return this;
            },
            functionGroups() {
                return this.$store.getters['workflow/getWorkflowFunctionGroups']
            },
            AllTasks: {
                get() {
                    return this.$store.getters['workflow/getWorkflowTask']
                },
                set(value) {
                    //     this.$store
                    //       .dispatch('workflow/editWorkFlowTask', {
                    //         sequence: value.sequence + 1,
                    //         id: value[0].id
                    //       })
                    //       .then(res => {});
                }
            }
        }
    };
</script>

<style scoped>
    .nested_subtask {
        background-color: #f3f3f3;
    }

    .mainTask {
    }

    .subTask {
        background-color: #d3d3d3;
        font-weight: 600;
    }

    table {
        width: 100%;
    }

    td {
        width: 10%;
    }

    .indent {
        padding-left: 5%;
    }

    .indent1 {
        padding-left: 8%;
    }

    .loader {
        border: 10px solid #f3f3f3;
        border-radius: 50%;
        border-top: 10px solid #3498db;
        width: 60px;
        height: 60px;
        margin: 0 auto;
        -webkit-animation: spin 2s linear infinite; /* Safari */
        animation: spin 2s linear infinite;
    }

    /* Safari */
    @-webkit-keyframes spin {
        0% {
            -webkit-transform: rotate(0deg);
        }
        100% {
            -webkit-transform: rotate(360deg);
        }
    }

    @keyframes spin {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(360deg);
        }
    }
</style>
