<template>
    <v-container>
        <v-flex xs12 class="px-1 ml-5 py-3  " >
            <b> {{data.name}}</b>

            <v-tooltip bottom v-if="backToPlanner">
                <v-btn slot="activator" flat icon color="red lighten-2" @click="$router.go(-1)">
                    <v-icon large > keyboard_arrow_left </v-icon>
                </v-btn>
                <span>Back to Planner</span>
            </v-tooltip>
        </v-flex>
        <v-divider></v-divider>
        <v-layout row wrap class="ml-5" v-if="sites.length ">
            <generalInfo  :sites="sites"></generalInfo>
            <v-flex md9>
                <clientCollaborator  :sites="sites"/>
                <span>
					<orders :sites="sites"/>
				</span>
                <span>
					<external :sites="sites"/>
				</span>
            </v-flex>
        </v-layout>
    </v-container>
</template>


<script>
    import generalInfo from './details/general.info.vue';
    import clientCollaborator from './details/collaborator.vue';
    import orders from './details/orders';
    import external from './details/external';

    export default {
        components: {
            generalInfo,
            clientCollaborator,
            orders,
            external
        },
        data() {
            return {
                pagination: {
                    sortBy: 'name'
                },
                backToPlanner: false,
                selected: [],
                desserts: [],
                sites: [],
                data: ''
            };
        },
        mounted() {
            self.axios
                .get(`${process.env.API_URL}/api/v1/client/${this.$route.params.id}`)
                .then(res => {
                    this.data = res.data.data;
                    this.sites = this.data.constructionSites;
                    this.sites.forEach((site)=>{
                        if(site.branches)site.branches.forEach((branch)=>{
                            branch._offere_id= `contact_offere_id_${branch.id}`;
                            branch._order_id= `contact_order_id_${branch.id}`;
                        })
                        if(site.externals)site.externals.forEach((branch)=>{
                            branch._externals_id= `contact_externals_id_${branch.id}`;
                        })
                    })
                });
        },
        beforeRouteEnter(to, _from, next) {
            next(vm => {
                vm.backToPlanner = _from.path.match('/planner');
            })
        },

        methods: {

            addCollaborator() {
            },
            toggleAll() {
                if (this.selected.length) this.selected = [];
                else this.selected = this.desserts.slice();
            },
            changeSort(column) {
                if (this.pagination.sortBy === column) {
                    this.pagination.descending = !this.pagination.descending;
                } else {
                    this.pagination.sortBy = column;
                    this.pagination.descending = false;
                }
            }
        }
    };
</script>


<style scoped>
    ._general {
        min-height: 800px;
    }
</style>
