<template>
	<div>
		<v-data-table :headers='headers' v-if='suppliers.length > 0' :items='suppliers' item-key='id' hide-actions class='elevation-1'>
			<template slot='items' slot-scope='props'>
				<tr @click='props.expanded = !props.expanded' :style='getRowStyle(props.item.klantenstatus)'>
					<td>{{ props.item.id }}</td>
					<td>{{ props.item.projectnr }}</td>
					<td>{{ getStatusString(props.item.klantenstatus) }}</td>
					<td>{{ props.item.projectnaam }}</td>
					<td>{{ props.item.street }} {{ props.item.nr }}{{ props.item.bus ? `bus ${props.item.bus}` : ''}}{{ props.item.postalcode ? `, ${props.item.postalcode}` : '' }} {{ props.item.gemeente }}</td>
				</tr>
			</template>
			<template slot='expand' slot-scope='props'>
				<v-card flat>
					<div>
						<v-btn color="success">Success</v-btn>
						<v-btn color="error">Error</v-btn>
						<v-btn color="warning">Warning</v-btn>
						<v-btn color="info">Info</v-btn>
					</div>
				</v-card>
			</template>
		</v-data-table>
	</div>
</template>

<script>
	export default {
	  data() {
	    return {
	      headers: [
	        {
	          text: 'id',
	          align: 'left',
	          sortable: true,
	          value: 'id'
	        },
	        {
	          text: 'Projectnr',
	          align: 'left',
	          sortable: true,
	          value: 'projectnr'
	        },
	        {
	          text: 'type',
	          align: 'left',
	          sortable: false,
	          value: 'projectnaam'
	        },
	        {
	          text: 'project naam',
	          align: 'left',
	          sortable: true,
	          value: 'projectnaam'
	        },
	        {
	          text: 'Adres',
	          align: 'left',
	          sortable: false,
	          value: 'adres'
	        }
	      ],
	      suppliers: []
	    }
	  },
	  name: 'klanten',
	  beforeCreate() {
	    console.log(this)
	    this.axios.get(`${process.env.API_URL}/api/contact/suppliers`).then(res => {
	      this.suppliers = res.data.data
	    })
	  },
	  methods: {
	    getStatusString(val) {
	      switch (val) {
	        case '12':
	          return 'Klant - In Prospectie'
	        case '1':
	          return 'Klant - Offerte In Opmaak'
	        case '13':
	          return 'Klant - Ontwerpfase'
	        case '6':
	          return 'Klant - Ontwerp klaar'
	        case '7':
	          return 'Klant - In Nazicht'
	        case '2':
	          return 'Klant - In Uitvoering'
	        case '14':
	          return 'Klant - Afgewerkt maar administarief nog te verwerken'
	        case '3':
	          return 'Klant - Afgewerkt'
	        case '8':
	          return 'Klant - Uitgesteld op lange termijn'
	        case '4':
	          return 'Klant - Geen Prijs Gegeven'
	        case '5':
	          return 'Klant - Niet Verkocht'
	        default:
	          return 'Klant'
	      }
	    },

	    getRowStyle(type) {
	      const colorMap = {
	        '0': 'red',
	        '1': 'blue',
	        '2': 'green',
	        '3': 'orange',
	        '4': 'grey',
	        '5': 'cyan',
	        '6': 'purple',
	        '7': 'lime',
	        '8': 'brown',
	        '12': 'magenta',
	        '13': 'chocolate',
	        '14': 'tomato'
	      }
	      let backgroundColor
	      if (colorMap[type]) {
	        backgroundColor = colorMap[type]
	      } else {
	        backgroundColor = 'black'
	      }
	      return {
	        backgroundColor: colorMap[type]
	      }
	    }
	  }
	}
</script>

<style scoped>

</style>
