<template>
    <v-flex xs12 md3 lg3 class="card">
        <v-card dark fill-height class="px-1 py-0 dark ">
            <v-card-title class="px-5 py-2 ">
                <div class="content ">
                    Base Details
                    <v-dialog v-model="dialogEdit" persistent max-width="500px">
                        <v-btn slot="activator" @click="onSelectToEdit()" flat icon color="white lighten-2"
                               class="white--text">
                            <v-icon large>edit</v-icon>
                        </v-btn>
                        <v-card>
                            <v-card-title>
                                <span class="headline">{{tempItem.id?'Edit':'New'}} Incoming Invoice</span>
                            </v-card-title>
                            <v-card-text>
                                <v-container grid-list-md>
                                    <v-layout wrap>
                                        <v-flex xs12 sm6 md6>
                                            <v-text-field label="Serial Number" v-model="tempItem.serial_number"
                                                          required></v-text-field>
                                        </v-flex>
                                        <v-flex xs12 sm6 md6>
                                            <v-text-field label="Payment Term(seconds)" type="number" min="0"
                                                          v-model="tempItem.payment_term" required></v-text-field>
                                        </v-flex>
                                        <v-flex xs12 sm6 md6>
                                            <v-checkbox v-model="tempItem.is_paid" label="Is Paid"></v-checkbox>
                                        </v-flex>
                                        <v-flex xs12 sm6 md6>
                                            <v-text-field label="Financial Discount"
                                                          type="number" min="0"
                                                          v-model="tempItem.financial_discount" required></v-text-field>
                                        </v-flex>
                                        <v-flex xs12 sm6 md6>
                                            <v-text-field label="Discount"
                                                          type="number" min="0"
                                                          v-model="tempItem.discount" required></v-text-field>
                                        </v-flex>
                                        <v-flex xs12 sm6 md6>
                                            <v-text-field label="Invoice Number"
                                                          type="number" min="0"
                                                          v-model="tempItem.invoice_number" required></v-text-field>
                                        </v-flex>
                                        <v-flex xs12 sm6 md6>
                                            <item-select-load :items="allContacts" :model="tempItem.contact"
                                                              :item_label="`Select Sender`"
                                                              :item_text="`name`"
                                                              :query_link="`contacts/all`"
                                                              @onSelect="onSelectItem"></item-select-load>
                                        </v-flex>
                                        <v-flex xs12 sm6 md6>
                                            <v-text-field label="Description"
                                                          v-model="tempItem.comment"></v-text-field>
                                        </v-flex>
                                    </v-layout>
                                </v-container>
                                <small>*indicates required field</small>
                            </v-card-text>
                            <v-card-actions>
                                <v-spacer></v-spacer>
                                <v-btn color="blue darken-1" flat @click.native="dialogEdit = false">Close</v-btn>
                                <v-btn color="blue darken-1" flat @click.native="onUpdate()">Save</v-btn>
                            </v-card-actions>
                        </v-card>
                    </v-dialog>
                </div>

            </v-card-title>
        </v-card>
        <v-flex xs12 class="px-2 pt-3 pb-1 _general">
            <v-layout row wrap class="py-2">
                <v-flex d-flex xs12 row>
                    <v-flex xs6 sm6 class="body-2">
                        Volgnummer
                    </v-flex>
                    <v-flex xs6 sm6 class="body-1">
                        <p class="text-left">{{item.serial_number}}</p>
                    </v-flex>
                </v-flex>
                <hr/>
                <v-flex d-flex xs12 row>
                    <v-flex xs6 class="body-2">
                        Payment Term(seconds)
                    </v-flex>
                    <v-flex xs6 class="body-1">
                        <p class="text-left">{{item.payment_term}}</p>
                    </v-flex>
                </v-flex>

                <hr/>
                <v-flex d-flex xs12 row>
                    <v-flex xs6 class="body-2">
                        Financial Discount
                    </v-flex>
                    <v-flex xs6 class="body-1">
                        <p class="text-left">{{item.financial_discount}}</p>
                    </v-flex>
                </v-flex>

                <hr/>
                <v-flex d-flex xs12 row>
                    <v-flex xs6 class="body-2">
                        Is paid
                    </v-flex>
                    <v-flex xs6 class="body-1">
                        <p class="text-left">{{item.is_paid?'Yes':'No'}}</p>
                    </v-flex>
                </v-flex>

                <hr/>
                <v-flex d-flex xs12 row>
                    <v-flex xs6 class="body-2">
                        Discount
                    </v-flex>
                    <v-flex xs6 class="body-1">
                        <p class="text-left">{{item.discount}}</p>
                    </v-flex>
                </v-flex>

                <hr/>
                <v-flex d-flex xs12 row>
                    <v-flex xs6 class="body-2">
                        Description
                    </v-flex>
                    <v-flex xs6 class="body-1">
                        <p class="text-left">{{item.comment}}</p>
                    </v-flex>
                </v-flex>

                <hr/>
                <v-flex d-flex xs12 row v-if="item.sender">
                    <v-flex xs6 class="body-2">
                        Sender
                    </v-flex>
                    <v-flex xs6 class="body-1">
                        <p class="text-left">{{item.sender?item.sender.name:''}}</p>
                    </v-flex>
                </v-flex>


            </v-layout>
        </v-flex>


    </v-flex>
</template>

<script>

    export default {
        components: {},
        name: 'general-info',
        props: ['item'],
        data() {
            return {
                dialogEdit: false,
                tempItem: {}
            };
        },
        mounted() {
        },
        methods: {
            onSelectItem(model) {
                this.tempItem.contact = model;
            },
            onSelectToEdit: function () {
                this.tempItem = {};
                Object.assign(this.tempItem, this.item);
                this.dialogEdit = true;
                if (this.item.sender) {
                    this.$store.dispatch('contacts/all', {queries: `id=${this.item.sender.id}`}).then(() => {
                        this.tempItem.contact = this.allContacts.filter((el) => {
                            return this.item.sender.id == el.id;
                        })[0];

                    });

                }
            },
            onUpdate: function () {
                if (this.tempItem.contact) this.tempItem.contact_id = this.tempItem.contact.id;
                this.$store.dispatch('finance/invoice/incoming/edit', this.tempItem);
                this.dialogEdit = false;
            }
        },
        computed: {
            allContacts() {
                return this.$store.getters['contacts/all'];
            }
        }
    };
</script>

<style scoped>
    hr {
        width: 100%;
    }

    p {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }


</style>
