<template>
    <v-flex xs12 sm12 lg12 xl10 text-xs-left class="px-0 px-1  py-0 card">
        <v-card fill-height class="px-0 py-0  ">
            <v-toolbar dark dense>
                <v-toolbar-title>Sites|Contractors</v-toolbar-title>
                <v-spacer></v-spacer>
                <v-btn @click="onSelectItem(null,1)" flat icon class="white--text">
                    <v-icon>add</v-icon>
                </v-btn>
            </v-toolbar>
        </v-card>
        <v-flex xs12>
            <v-data-table celled :headers="headers"
                          disable-initial-sort :items="all" item-key="id" hide-actions class="elevation-1"
                          ref="sortableTable">
                <template slot="items" slot-scope="props" :data-item-id="props.item.id">

                    <tr class="sortableRow" :id="props.item.id">
                        <td>{{ props.item.site.contact.name }}</td>
                        <td>{{ props.item.contractorType?props.item.contractorType.name:'' }}</td>
                        <td>{{ props.item.amount }}</td>
                        <td>
                            <v-btn icon class="mx-0" @click="onSelectItem(props.item,3)">
                                <v-icon color="pink">delete</v-icon>
                            </v-btn>
                            <v-btn icon class="mx-0" @click="onSelectItem(props.item,2)">
                                <v-icon dark color="secondary">edit</v-icon>
                            </v-btn>
                        </td>
                    </tr>
                </template>

            </v-data-table>
        </v-flex>


        <v-dialog v-model="dialogEdit" persistent max-width="500px">
            <v-card>
                <v-card-title>
                    <span class="headline">{{tempItem.id?'Edit':"Add"}}  Detail</span>
                </v-card-title>
                <v-card-text>
                    <v-container grid-list-md>
                        <form>
                            <v-layout wrap>
                                <v-flex xs12 sm12 md12>

                                    <item-select-load :items="sites" :model="selectedSite"
                                                      :item_label="`Select Construction Site`"
                                                      :item_text="`name`"
                                                      :query_link="`constructionSite/all`"
                                                      @onSelect="onSelectConstructionSite"></item-select-load>
                                </v-flex>
                                <v-flex xs12 sm12 md12>
                                    <v-autocomplete return-object label="Select Contractor Type"
                                                    item-text="name"
                                                    :items="contractors"
                                                    v-model="tempItem.contractorType"
                                                    :disabled="!selectedSite">
                                    </v-autocomplete>
                                </v-flex>
                                <v-flex xs12 sm12 md12>
                                    <v-text-field
                                            type="number"
                                            v-model="tempItem.amount"
                                            label="Amount"
                                            required
                                    ></v-text-field>
                                </v-flex>

                            </v-layout>
                        </form>
                    </v-container>
                </v-card-text>
                <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn color="blue darken-1" flat @click.native="dialogEdit=false">Close
                    </v-btn>
                    <v-btn color="blue darken-1" flat @click.native="onActionItem(tempItem.id?2:1)">
                        {{tempItem.id?'Save':"Add"}}
                    </v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>
        <v-dialog v-model="dialogDelete" persistent max-width="590">
            <v-card>
                <v-card-title class="headline">Are you sure you want to delete the detail ?
                </v-card-title>
                <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn color="green darken-1" flat @click.native="dialogDelete=false">Cancel
                    </v-btn>
                    <v-btn color="green darken-1" flat @click.native="onActionItem(3)">Yes
                    </v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>
    </v-flex>
</template>

<script>
    export default {
        name: 'invoice-site-details',
        props: ['item'],
        components: {},
        data() {
            return {
                tempItem: {},
                availableContractorType: [],
                selectedSite: null,
                dialogEdit: false,
                dialogDelete: false,
                headers: [
                    {
                        text: 'Site Contact Name',
                        sortable: false,
                        align: 'left',
                        value: 'name'
                    },
                    {
                        text: 'Contractor type',
                        align: 'left',
                        sortable: false,
                        value: 'amount'
                    }, {
                        text: 'Amount',
                        align: 'left',
                        value: 'amount'
                    },
                    {
                        text: 'Action',
                        align: 'left',
                        sortable: false,
                        value: 'action'
                    }
                ]
            };
        },
        computed: {
            contractors() {
                if (this.selectedSite) {
                    return this.$store.getters['contractorBranches/getAllContractorType'].filter((el) => {
                        for (let i = 0; i < this.selectedSite.branches.length; i++) {
                            if (this.selectedSite.branches[i].info.id == el.id) {
                                return true
                            }
                        }
                        return false;
                    })
                }
                return [];
            },
            sites() {
                return this.$store.getters['constructionSite/all'];
            },
            all() {
                let list = (this.$store.getters['finance/invoice/incoming/detail/all']);
                list.forEach((el) => {
                    el.amount = el.amount;
                    let sites = this.$store.getters['constructionSite/all'];
                    for (let i = 0; i < sites.length; i++) {
                        if (el.construction_site_id == sites[i].id) {
                            el.site = this.sites[i];
                            break;
                        }
                    }
                    let contractors = this.$store.getters['contractorBranches/getAllContractorType'];
                    el.contractorType = {};
                    for (let i = 0; i < contractors.length; i++) {
                        if (el.contractor_type_id == contractors[i].id) {
                            el.contractorType = contractors[i];
                            break;
                        }
                    }
                })
                return list;
            }
        },
        mounted() {
            // this.$store.dispatch('finance/summary/all').then((el) => {
                this.$store.dispatch('contractorBranches/getAllContractorType').then((el) => {
                    this.$store.dispatch('finance/invoice/incoming/detail/all', this.item)
                });
            // });


        },
        methods: {
            onSelectConstructionSite(m){
                this.selectedSite = m;
                this.tempItem.contractorType = null;
                this.$forceUpdate();
            },
            onSelectItem(item, action) {
                this.tempItem = {};
                if (item) {
                    this.selectedSite = item.site;
                    setTimeout(()=>{
                        Object.assign(this.tempItem, item);
                        this.$forceUpdate()
                    },100)

                }
                switch (action) {
                    case 2: {//on create new
                        this.dialogEdit = true;
                        break
                    }
                    case 3: {//on create new
                        this.dialogDelete = true;
                        break
                    }
                    default: {
                        this.dialogEdit = true;
                    }
                }
            },
            onActionItem(action) {
                if (action == 3) {

                } else {
                    if (this.tempItem.contractorType) this.tempItem.contractor_type_id = this.tempItem.contractorType.id;
                    this.tempItem.site = this.selectedSite;
                    if ((!this.tempItem.site || /*!this.tempItem.contractorType ||*/ !this.tempItem.amount)) return alert('you should select some site');
                    this.tempItem.construction_site_id = this.tempItem.site.id;
                }

                this.tempItem.invoiceId = this.item.id;
                switch (action) {
                    case 1: {//add
                        this.$store.dispatch('finance/invoice/incoming/detail/addItem', this.tempItem);
                        break;
                    }
                    case 2: {//edit
                        this.$store.dispatch('finance/invoice/incoming/detail/editItem', this.tempItem);
                        break;
                    }
                    case 3: {//delete
                        this.$store.dispatch('finance/invoice/incoming/detail/deleteItem', this.tempItem);
                        break;
                    }
                }
                this.dialogDelete = this.dialogEdit = false;
            },
        },
        destroyed() {
        }
    };
</script>
