<template>
    <div  class="px-0  py-0   main-container users">
        <v-flex xs12>
            <v-data-table v-model="selected" :headers="headers" hide-actions :items="all"
                          item-key="_externals_id"
                          class="elevation-1 list-table">
                <template slot="items" slot-scope="props">
                    <tr  >
                        <!--<td>-->
                            <!--<v-checkbox v-model="props.selected" primary hide-details></v-checkbox>-->
                        <!--</td>-->
                        <td class="px-0" >{{ props.item.first_name }}</td>
                        <td class="px-0" >{{ props.item.last_name }}</td>
                        <td class="px-0" >
                            <div v-html="props.item._absences "></div>
                        </td>
                        <td class="px-0" >
                            <div v-html="props.item._holidays "></div>
                        </td>
                        <td class="px-0">
                            <v-btn icon class="mx-0" @click="onSelectItem(props.item,3)">
                                <v-icon color="pink">delete</v-icon>
                            </v-btn>
                            <v-btn icon class="mx-0" @click="onSelectItem(props.item,2)">
                                <v-icon dark color="secondary">edit</v-icon>
                            </v-btn>
                        </td>
                    </tr>
                </template>
            </v-data-table>
        </v-flex>
        <v-dialog v-model="dialogEdit">
            <v-card>
                <v-card-title dark>
                    {{tempItem.id?`Edit`:`Add new`}} Member
                </v-card-title>
                <v-card-text>

                    <v-flex d-flex>
                        <v-text-field
                                label="First Name"
                                v-model="tempItem.first_name"
                        ></v-text-field>
                    </v-flex>
                    <v-flex d-flex>
                        <v-text-field
                                label="Last Name"
                                v-model="tempItem.last_name"
                        ></v-text-field>
                    </v-flex>
                    <v-flex d-flex>
                        <memberAbsences :member="tempItem"></memberAbsences>
                    </v-flex>
                    <v-flex d-flex>
                        <memberHoliday :member="tempItem"></memberHoliday>
                    </v-flex>
                </v-card-text>
                <v-card-actions>
                    <v-btn color="primary" flat @click.stop="dialogEdit=false">Close</v-btn>
                    <v-btn flat @click.stop="onActionItem(tempItem.id?2:1)">{{tempItem.id?`Edit`:`Add`}}</v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>
        <v-dialog v-model="dialogDelete" persistent max-width="590">
            <v-card>
                <v-card-title class="headline">Are you sure you want to delete the Member
                    {{tempItem.name}} ?
                </v-card-title>
                <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn color="green darken-1" flat
                           @click.native="dialogDelete=false">Cancel
                    </v-btn>
                    <v-btn color="green darken-1" flat
                           @click.native="onActionItem(3)">Yes
                    </v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>
    </div>
</template>

<script>
    import memberAbsences from "./absences";
    import memberHoliday from "./holiday";

    export default {
        components: {
            memberAbsences,
            memberHoliday
        },
        data() {
            return {
                dialogEdit: null,
                dialogDelete: null,
                tempItem: {},
                selected: [],
                list: [],
                headers: [
                    {
                        text: 'First Name',
                        align: 'left',
                        value: 'first_name'
                    },
                    {
                        text: 'Last Name',
                        align: 'left',
                        value: 'last_name'
                    },
                    {
                        text: 'Absences',
                        align: 'left',
                        value: 'last_name'
                    }, {
                        text: 'Holidays',
                        align: 'left',
                        value: 'last_name'
                    },
                    {
                        text: 'Actions',
                        sortable: false,
                        align: 'left',
                        value: 'name'
                    }
                ]
            };
        },
        methods: {
            onSelectItem(item, action) {
                this.tempItem = {};
                if (item) {
                    Object.assign(this.tempItem, item);
                }
                switch (action) {
                    case 2: {//on create new
                        this.tempItem.tempAbsences = this.tempItem.absences.concat([]);
                        this.tempItem.tempHolidays = this.tempItem.holidays.concat([]);
                        this.dialogEdit = true;
                        break
                    }
                    case 3: {//on create new
                        this.dialogDelete = true;
                        break
                    }
                    default: {
                        this.tempItem.tempAbsences = [];
                        this.tempItem.tempHolidays = [];
                        this.dialogEdit = true;
                    }
                }
            },
            onActionItem(action) {
                ['tempAbsences', 'tempHolidays'].forEach((el) => {
                    if (this.tempItem[el]) for (let i = 0; i < this.tempItem[el].length; i++) {
                        this.tempItem[el][i].originItem = null;
                    }
                })


                this.tempItem.contactId = this.$route.params.id;
                switch (action) {
                    case 1: {//add
                        this.$store.dispatch('common/member/addItem', this.tempItem);
                        break;
                    }
                    case 2: {//edit
                        this.$store.dispatch('common/member/editItem', this.tempItem);
                        break;
                    }
                    case 3: {//delete
                        this.$store.dispatch('common/member/deleteItem', this.tempItem);
                        break;
                    }
                }
                this.dialogDelete = this.dialogEdit = false;
            }
        },
        mounted() {
            this.$store.dispatch('common/member/all');
            this.$parent.showAdd = true;
            this.$parent.title = 'Members';
        },
        computed: {
            all() {
                return this.$store.getters['common/member/all'].filter((el) => el.id > 0);
            }
        },
        destroyed() {
            this.$parent.title = '';
            this.$parent.showAdd = false;
        }
    };
</script>
