<template>
    <v-container fluid grid-list-md wrap pa-0 ma-0 class="  my-0 mx-0   px-0 py-0">
        <v-layout align-center wrap class="my-0 mx-0   px-0 py-0 fullHeight"  >
            <v-flex xs12 sm12 text-xs-center wrap class="my-0 mx-0   px-0 py-0 fullHeight">
                <v-layout v-show="!viewer._details" class="my-0 mx-0   px-0 py-0 fullHeight">
                    <v-flex xs12 sm12 text-xs-center class="my-0 mx-0   px-0 py-0 fullHeight">
                        <v-progress-circular :indeterminate="true" text-xs-center
                                             v-show="!viewer.visible"></v-progress-circular>
                        <canvas ref="drawElement" v-show="viewer.visible">Viewer...</canvas>
                    </v-flex>
                </v-layout>
                <v-layout v-show="viewer._details">
                    <v-flex pa-3>
                        <Teamplanner ref="teamplanner"/>
                        <v-btn @click="selectTypePage(2)" id="teamplanner-back-button" flat icon color="red lighten-2"
                               class="white--text">
                            <v-icon large>keyboard_arrow_left</v-icon>
                        </v-btn>
                    </v-flex>
                </v-layout>
            </v-flex>
        </v-layout>

        <div style="   position: fixed; top: 0; left: 0;">
            <PopupPlannerMove ref="popupPlannerMove"/>
            <PopupAlert ref="popupAlert"/>
            <PlannedInfo ref="plannteInfo"/>
            <PlannerCntxMenu ref="plannerCntxMenu"/>
        </div>

    </v-container>

</template>

<script>
    import {PixiViewer} from './PixiViewer';
    import Teamplanner from './teamplanner/index.vue';
    import PlannerCntxMenu from '../popups/context.menu';
    import PopupPlannerMove from '../popups/move.planners.vue';
    import PopupAlert from '../popups/alert.vue';
    import PlannedInfo from '../popups/planned.info.vue';

    import {globalStore} from '@/main';
    import {BrowserStorageService} from '@/services';


    export default {
        components: {
            PlannerCntxMenu,
            PopupPlannerMove,
            PlannedInfo,
            PopupAlert,
            Teamplanner
        },
        name: 'Viewer',
        props: [],
        data: function () {
            return {
                lastSelectedSite: null,
                selectedClientSite: null,
                sites: [],
                alert: {success: 'Test'},
                isPause: false,
                type: 2,
                title: '',
                times: [],
                daysToMove: 0,
                canShow: true,
                viewer: {visible: false}
            };
        },
        watch: {
            '$store.state.planner.main_page'(val, oldVal) {
                let viewer = this.viewer;
                if(this.type==-1){
                    this.selectTypePage(2);
                }
            },
        },
        computed: {

        },
        mounted: async function () {
            await this.refresh();
        },
        methods: {
            selectEditItemSite: function (cell, next, site) {
                let _s = this.$refs.popupPlannerMove;
                _s._parent = this;
                _s.cell = site ? null : cell;
                _s.site = site;
                _s.onFinishUpdate = next;
                _s.updateDateRange({
                    start: site ? cell._daysUTC[0] : (cell._periodContainer ? cell._daysUTC[cell._currentItemHor] : cell._daysUTC[0]),
                    end: site ? cell._daysUTC[cell._daysUTC.length - 1] : (cell._periodContainer ? cell._daysUTC[cell._currentItemHor] : cell._daysUTC[cell._daysUTC.length - 1])
                });
                setTimeout(() => (this.$refs.popupPlannerMove.active = true), 100);
            },
            showAvailableWorkers: function (day) {
                let self = this,
                    dayUtc = day,
                    datIn = new Date(new Date(0).setUTCSeconds(day)).toLocaleDateString(),
                    teamMemberAvailable = {},
                    notAvailables = [];

                this.axios.get(`${process.env.API_URL}/api/v1/planner/details?start=${datIn}&end=${datIn}`)
                    .then(function (resp) {
                        let _teams = resp.data.data;
                        for (let i = 0; i < _teams.length; i++) {
                            let team = _teams[i];
                            for (let j = 0; j < team.teamMembers.length; j++) {
                                let teamM = team.teamMembers[j],
                                    availbleTeamMember = teamMemberAvailable[teamM.id] || {
                                        id: teamM.id,
                                        name: teamM.first_name + ' ' + teamM.last_name,
                                        dayPlannedParts: []
                                    };
                                teamMemberAvailable[teamM.id] = availbleTeamMember;

                                if (!teamM.plannings || !teamM.plannings.length) {
                                    if (!availbleTeamMember.text)
                                        availbleTeamMember.text = 'Available (Full Day)';
                                } else {
                                    let isNotAvailalbe = false;

                                    for (let d = 0; d < teamM.plannings.length; d++) {
                                        let plannedD = teamM.plannings[d],
                                            start = new Date(plannedD.date).getTime() / 1000;

                                        if (start >= dayUtc && start < dayUtc + 24 * 60 * 60) {
                                            availbleTeamMember.fullDatPlanned = isNotAvailalbe = true;
                                            break;
                                        }
                                    }

                                    if (isNotAvailalbe) {
                                        notAvailables.push(availbleTeamMember.id);
                                    } else {
                                        availbleTeamMember.text = 'Available (Full Day)';
                                    }
                                }
                            }
                        }

                        let results = [];
                        for (let memberId in teamMemberAvailable) {
                            let member = teamMemberAvailable[memberId];
                            if (notAvailables.indexOf(+memberId) < 0) {
                                results.push(member.name + ' ' + member.text);
                            }
                        }
                        setTimeout(() => {
                            self.$refs.popupAlert.show(results);
                        }, 100);
                    });
            },
            updateConflictsState(){
                let self = this,
                    viewer = this.viewer;
                let plannedCell = self.$refs.teamplanner.cell;
                viewer._pages[0].updateDayAfterPlanning(plannedCell);

                viewer._pages[0].updateConflicts(
                    viewer.opt.conflicts._planning.checkConflicts(
                        /*[plannedCell._daysUTC[plannedCell._currentItemHor]]*/ null,
                        self.$store
                    )
                );
            },
            selectTypePage(type, levels, next) {
                let self = this,
                    viewer = this.viewer;
                viewer._details = false;
                viewer.visible = true;
                if (this.isPause || !viewer || !viewer._pages || !viewer._pages.length)
                    return;

                if (this.type == -1) {
                    this.updateConflictsState();
                }
                switch (type) {
                    case -1: {
                        viewer.visible = false;
                        viewer._details = true;
                        viewer.stop();
                        this.$refs.teamplanner.updateTeams(viewer);
                        break;
                    }
                    case 1: {
                        viewer.updatePage(PixiViewer.PAGES.KLANT);
                        setTimeout(function () {
                            viewer.stop();
                            if (next) next();
                        }, 500);
                        break;
                    }
                    case 2: {
                        //                        self.lastSelectedSite = null;
                        viewer._pages[0].storeAllTables();
                        viewer.updatePage(PixiViewer.PAGES.BRANCHES);
                        break;
                    }
                    case 3: {
                        viewer.updatePage(PixiViewer.PAGES.BRANCHES, levels);
                        break;
                    }
                    default: {
                        return console.warn('No page found');
                    }
                }
                this.type = type;
            },
            createPixiViewer: function (
                daterange,
                branches,
                days,
                noplanning,
                conflicts,
                planner
            ) {
                let self = this;
                this.viewer.visible = true;
                this.viewer = new PixiViewer({
                    container: this.$refs.drawElement,
                    domeEl: this,
                    conflicts: conflicts,
                    noplanning: noplanning,
                    plannedDays: [],
                    daterange,
                    jsonData: {
                        data: branches
                    }
                });


                this.sites = branches;
                this.viewer.stop();
                this.$parent.updateListOfSites(daterange, branches, planner);
                setTimeout(() => {
                    this.selectTypePage(2);
                }, 100);
            },
            loadPlannings: async function () {
                return await this.$http.get(`${process.env.API_URL}/api/v1/planner`);
            },
            refresh: async function (val) {
                let self = this;
                this.canShow = false;
                self.viewer.visible = false;
                this.$store.dispatch('planner/historyReset');
                this.loadPlannings().then(function (plannerData) {
                    let daterange = plannerData.data.daterange,
                        sites = plannerData.data.constructionSites,
                        days = [],
                        noplanning = plannerData.data.holidays,
                        conflicts = {
                            conflicts: {},
                            sites
                        };

                    // self.$refs.popupPlannerMove.updateDateRange(daterange);

                    self.viewer.visible = true;
                    if (self.viewer.refresh) {
                        setTimeout(function () {
                            self.viewer.refresh({
                                conflicts: conflicts,
                                noplanning: noplanning,
                                daterange: daterange,
                                jsonData: {data: sites},
                                plannedDays: days
                            });
                            self.sites = sites;
                            self.viewer.stop();
                            self.selectTypePage(2);

                            if (val == 1) {
                                self.selectTypePage(1, null, function () {
                                    self.selectTypePage(
                                        3,
                                        self.sites.filter(function (site) {
                                            return site.site == self.lastSelectedSite.site;
                                        })[0].branches
                                    );
                                });
                            }
                        }, 100);
                    } else {
                        self.createPixiViewer(
                            daterange,
                            sites,
                            days,
                            noplanning,
                            conflicts,
                            plannerData.data
                        );
                    }

                    self.canShow = true;
                });
            },
            pause: function () {
                if (this.viewer.stop) this.viewer.stop();
                this.isPause = true;
            },
            toggle: function (visible, refresh) {
                this.isPause = !visible;
                if (visible) {
                    if (refresh) {
                        this.refresh();
                    } else {
                        this.selectTypePage(2);
                    }
                } else {
                    if (this.viewer && this.viewer.stop) this.viewer.stop();
                }
            },
            selectPage: function (site) {
                let self = this;
                if (!site) {
                    console.warn('no site provided');
                    setTimeout(function () {
                        if (self.selectedClientSite) {
                            self.selectTypePage(1, null, function () {
                                self.lastSelectedSite = self.selectedClientSite;
                                self.selectTypePage(3, self.selectedClientSite.branches);
                                self.selectedClientSite = null;
                            });
                        }
                    }, 400);
                } else {
                    this.selectTypePage(3, site.branches);
                }
            }
        },
        destroyed: function () {
            if (this.viewer.destroy) this.viewer.destroy();
        }
    };

    function factorial(n) {
        return n != 1 ? n + factorial(n - 1) : 1;
    }
</script>

<style scoped>
    .fullHeight,
    .full-height {
        height: 100%;
        max-height: -webkit-fill-available;
    }

    .container.grid-list-md .layout:not(:only-child) {
        margin: -4px 0px 0px -8px;
    }

    #teamplanner-back-button {
        position: fixed;
        top: 8px;
        right: 8px;
    }

    .client-view {
        position: absolute;
        left: 220px;
        width: 140px;
        top: 0;
        z-index: 2;
    }
</style>
