.viewer {
  //position: absolute;
  display: flex;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  //background-color: pink;
  canvas {
    //position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
  }

}
.planning-content{
  display: flex;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}
.gl-view{
  visibility: hidden;
  z-index: -111;
  position: absolute;
}
.gl-view.active{
  visibility: visible;
  position: relative;
  z-index: 0;
}
.viewer > .controls {
  position: absolute;
  top: 60px;
  right: 0;
  width: 240px;
  background: #ffdb6f;
  padding: 10px;
}
