<template>
    <div class="main-container">
        <v-toolbar dark dense>
            <v-toolbar-title>
                Workflow Projectner
            </v-toolbar-title>
            <v-spacer></v-spacer>
            <v-flex xs1 style="flex-basis: 190px;max-width: 190px;">
                <v-switch label="Function Group" v-model="show_workflow_func_group"
                          @change="toggleAction('show_workflow_func_group')" hide-details
                          class="text-xs-right"></v-switch>
            </v-flex>
            <v-flex xs1 style="flex-basis: 190px;max-width: 190px;">
                <v-switch label="Description" v-model="show_workflow_description"
                          @change="toggleAction('show_workflow_description')" hide-details
                          class="text-xs-right"></v-switch>
            </v-flex>
        </v-toolbar>
        <div id="workflow-grid" flex>
            <v-flex d-flex class="mt-1  xs12" id="workflow-grid-header">
                <div id="workflow-grid-title" class="mt-1 flex xs4"></div>

                <v-flex d-flex xs8>

                    <div>
                        <v-flex d-flex>
                            <v-flex id="workflow-grid-function-groups"  class="function-group" v-if="show_workflow_func_group">
                                <div v-for="(group, index) in workflowFunctionGroups"
                                     class="function-group-header celled"
                                     :key="group.name">
                                    <span class="text-vertical">{{group.name}}</span>
                                </div>
                            </v-flex>
                            <v-flex id="workflow-grid-construction-sites"
                                    :class="[  show_workflow_func_group ? 'pleft': '']">
                                <div class="pleft" v-for="(group, index) in workflowConstructionSites"
                                     :key="`group-sites-${index}`">
                                    <ConstructionSiteDraggable :group="group"></ConstructionSiteDraggable>
                                </div>
                            </v-flex>
                        </v-flex>
                    </div>
                </v-flex>
            </v-flex>
            <v-flex d-flex class="mt-1  xs12">
                <v-flex class="  xs4" id="workflow-grid-tasks">
                    <task-tree :tasks="workFlowTasks" :_parent="self" class="node-items"></task-tree>
                </v-flex>
                <v-flex class="  xs8" id="workflow-grid-function-groups-cells">
                    <task-tree-cell :tasks="workFlowTasks" :functionGroups="workflowFunctionGroups"
                                    :constructionSites="workflowConstructionSites" :_parent="self"></task-tree-cell>
                </v-flex>
            </v-flex>

        </div>

        <v-dialog v-model="dialog" persistent max-width="600px">
            <v-card>
                <v-toolbar dark color="secondary">
                    <v-btn icon dark @click.native="dialog = false">
                        <v-icon>close</v-icon>
                    </v-btn>
                    <v-toolbar-title>Construction Site Task</v-toolbar-title>
                    <v-spacer></v-spacer>
                    <v-toolbar-items>
                        <v-btn dark flat @click.native="saveConstructionSite()">Save</v-btn>
                    </v-toolbar-items>
                </v-toolbar>
                <v-divider></v-divider>
                <v-card>
                    <v-card-text>
                        <v-select :items="task_statuses" v-model="tempConstructionSiteTask.task_status_model"
                                  label="Select Task Status" return-object
                                  @change="updateConstructionSiteTaskStatus()">
                            <template slot="selection" slot-scope="data">
                                <div :key="`task-status-c${data.item.id}`"> {{data.item.name}}</div>
                            </template>
                            <template slot="item" slot-scope="data">
                                <v-flex :key="`task-status-d${data.item.id}`" :class="data.item.color">
                                    {{data.item.name}}
                                </v-flex>
                            </template>
                        </v-select>
                        <v-textarea outline label="Description"
                                    v-model="tempConstructionSiteTask.description"></v-textarea>
                        <v-flex d-flex>
                            <v-flex xs6>
                                <v-dialog ref="dataStartMenu" v-model="dataStartMenu" persistent lazy full-width
                                          width="290px">
                                    <v-text-field slot="activator" label="Start Date"
                                                  v-model="tempConstructionSiteTask.start" prepend-icon="event"
                                                  readonly></v-text-field>
                                    <v-date-picker v-model="tempConstructionSiteTask.start"
                                                   :allowed-dates="allowedStartDate" scrollable>
                                        <v-spacer></v-spacer>
                                        <v-btn flat color="primary" @click="dataStartMenu = false">Cancel
                                        </v-btn>
                                        <v-btn flat color="primary"
                                               @click="$refs.dataStartMenu.save(tempConstructionSiteTask.start)">OK
                                        </v-btn>
                                    </v-date-picker>
                                </v-dialog>
                            </v-flex>
                            <v-flex xs6>

                                <v-dialog ref="dataEndMenu" v-model="dataEndMenu" persistent lazy full-width
                                          width="290px">
                                    <v-text-field slot="activator" label="End Date"
                                                  v-model="tempConstructionSiteTask.end" prepend-icon="event"
                                                  readonly></v-text-field>
                                    <v-date-picker v-model="tempConstructionSiteTask.end"
                                                   :allowed-dates="allowedEndDate" scrollable>
                                        <v-spacer></v-spacer>
                                        <v-btn flat color="primary" @click="dataEndMenu = false">Cancel
                                        </v-btn>
                                        <v-btn flat color="primary"
                                               @click="$refs.dataEndMenu.save(tempConstructionSiteTask.end)">OK
                                        </v-btn>
                                    </v-date-picker>
                                </v-dialog>
                            </v-flex>
                        </v-flex>
                    </v-card-text>
                </v-card>
            </v-card>
        </v-dialog>
    </div>
</template>


<script>
    import draggable from 'vuedraggable';
    import ConstructionSiteDraggable from './sites';
    import {BrowserStorageService} from '@/services/BrowserStorageService';

    export default {
        components: {
            draggable,
            ConstructionSiteDraggable
        },
        data() {
            return {
                self: this,
                show_workflow_func_group: false,
                show_workflow_description: true,
                dataStartMenu: false,
                dataEndMenu: false,
                dialog: false,
                task_statuses: [
                    {id: 1, name: 'Not Started', color: 'white'},
                    {id: 2, name: 'In Progress', color: 'yellow'},
                    {id: 3, name: 'Done', color: 'green'},
                    {id: 4, name: 'N/A', color: 'green'},
                ],
                tempConstructionSiteTask: {
                    task_status: 1,
                    start: null,
                    end: null,
                    description: null,
                },
                dialog2: {},
                dialog3: {}
            };
        },
        mounted() {
            this.freshView(true);
            if (this.$auth.check()) {
                this.$auth.fetch({
                    success: function (res) {
                        let user = res.data.data;
                        this.show_workflow_func_group = user.settings.show_workflow_func_group;
                        this.show_workflow_description = user.settings.show_workflow_description;
                    },
                    error: function (res) {
                        console.log('Something went wrong');
                    }
                });
            }
        },
        methods: {
            toggleAction(type) {
                setTimeout(() => {
                    this.$auth.fetch({
                        success: function (res) {
                            let user = res.data.data;
                            let userUpdate = {};
                            userUpdate[type] = user.settings[type] = this[type];
                            this.$store.dispatch('users/settings', userUpdate);
                        },
                        error: function (res) {
                            console.log('Something went wrong');
                        }
                    });

                }, 100)

            },
            updateConstructionSiteTaskStatus() {
                let self = this,
                    _t = self.tempConstructionSiteTask;
                setTimeout(() => {
                    switch (_t.task_status_model.id) {
                        case 1: {
                            break;
                        }
                        case 2: {
                            _t.start = (new Date()).format('yyyy-mm-dd');
                            if (_t.end && _t.end < _t.start) _t.end = _t.start;
                            break;
                        }
                        case 4:
                        case 3: {
                            _t.end = (new Date()).format('yyyy-mm-dd');
                            if (!_t.start) _t.start = _t.end;
                            if (_t.end < _t.start) _t.start = _t.end;
                            break;
                        }
                    }
                    self.$forceUpdate();
                });
            },
            freshView(isFresh = false) {
                if (!isFresh) return;
                this.$parent.freshData();
            },
            allowedEndDate(val) {
                if (!this.tempConstructionSiteTask.start) return true;
                return val >= this.tempConstructionSiteTask.start;
            },
            allowedStartDate(val) {
                if (!this.tempConstructionSiteTask.end) return true;
                return val <= this.tempConstructionSiteTask.end;
            },
            onSelectConstructionSiteTaskCell(task, site) {
                this.tempConstructionSiteTask = {
                    start: null,
                    end: null,
                    task_id: task.id,
                    task_status: 1,
                    site_id: site.id,
                    description: null
                };
                for (let i = 0; i < site.tasks.length; i++) {
                    if (site.tasks[i].task_id == task.id) {
                        Object.assign(this.tempConstructionSiteTask, site.tasks[i]);
                        break;
                    }
                }

                // if (!this.tempConstructionSiteTask.start) {
                //     this.tempConstructionSiteTask.start = (new Date()).format('yyyy-mm-dd');
                //     this.tempConstructionSiteTask.end = (new Date(Date.now() + 24 * 60 * 60)).format('yyyy-mm-dd');
                // }
                this.tempConstructionSiteTask.task_status_model = this.task_statuses.filter((el) => el.id == this.tempConstructionSiteTask.task_status)[0] || this.task_statuses[0];
                this.dialog = true;

            },
            saveConstructionSite() {
                this.tempConstructionSiteTask.task_status = this.tempConstructionSiteTask.task_status_model.id;
                if (this.tempConstructionSiteTask.id) {
                    this.$store.dispatch('workflow/constructionSite/task/editItem', this.tempConstructionSiteTask);
                } else {
                    this.$store.dispatch('workflow/constructionSite/task/addItem', this.tempConstructionSiteTask);
                }
                this.dialog = false;
            }
        },
        watch: {
            "$auth": function (old, newVal) {
                console.log(old);
            },
            "$store.state.workflow.settings": function (old, newVal) {
                this.$store.dispatch('workflow/clearCache');
                this.freshView(true);
            }
        },
        computed: {
            settings: {
                get() {
                    return this.$auth.user() ? this.$auth.user().settings : {}
                }
            },
            siteToolsDialog: function () {
                let isModel = this.$store.getters['navigation/siteToolsVisibility'];
                if (this.$refs.viewer && isModel) this.$refs.viewer.toggle(false);
                return isModel;
            },
            workFlowTasks() {
                return this.$store.getters['workflow/getWorkflowTask'];
            },
            workflowFunctionGroups() {
                return this.$store.getters['workflow/getWorkflowFunctionGroups'];
            },
            workflowConstructionSites() {
                return this.$store.getters['workflow/getWorkflowConstructionSites'];
            }
        }
    };
</script>


<style lang="scss" scoped>

    #workflow-grid {
        width: auto;
        overflow: auto;
        height: calc(100vh - 50px);
    }

    #workflow-grid-header {
    }

    #workflow-grid-title {
    }

    #workflow-grid-function-groups {
        float: left;
        display: flex;
        /*margin-left: 5px;*/
        div {
            width: 51px;
            padding: 10px;
        }
    }

    #workflow-grid-function-groups-cells {
        /*float: left;*/
        /*margin-left: 5px;*/
    }

    #workflow-grid-construction-sites {
        /*float: left;*/
        /*padding-left: 2.5px;*/
        display: flex;
        .pleft {
            padding-left: 8px;
        }

    }

    #workflow-grid-tasks {
        clear: both;
        /*width: 500px;*/
        text-overflow: ellipsis;
        /*float: left;*/

    }

    .node-items {
        overflow-x: auto;
    }

    .text-vertical {
        writing-mode: vertical-lr;
        width: 100%;
        max-height: 120px;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }

    .celled {
        border: 0.5px solid #d3d3d3;
        border-radius: 5px;
    }

    .celled-list {
        border: 0.6px solid #f5f5f5;
        background-color: white;
    }

    @media only screen and (min-width: 1800px) {
        .small_box {
            width: 3.1vw;
        }
    }

    .small_box:hover {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }

    .background-list {
        background-color: #d3d3d3;
        border-radius: 4px;
        cursor: pointer;
    }

    .write {
        writing-mode: vertical-rl;
    }

    .task_toolbar {
        margin-top: 3%;
    }
</style>
