<template>
    <div class="px-0  py-0 card">
        <v-card dark fill-height class="px-1 py-0 dark">
            <v-card-title class="px-5 py-2">
                <div class="content">Team period Members</div>
                <v-spacer></v-spacer>
                <v-btn @click="onSelectItem(null,1)" flat icon class="white--text">
                    <v-icon>add</v-icon>
                </v-btn>
            </v-card-title>
        </v-card>
        <v-data-table :headers="headers" hide-actions :items="period.tempMembers"
                      item-key="id"
                      class="elevation-1">
            <template slot="items" slot-scope="props">
                <tr>
                    <td class="text-xs-left">{{ props.item.member?props.item.member.name:'' }}</td>
                    <td class="text-xs-left">{{ props.item.member_price }}</td>
                    <td class="justify-center layout px-0">
                        <v-btn icon class="mx-0" @click="onSelectItem(props.item,3)">
                            <v-icon color="pink">delete</v-icon>
                        </v-btn>
                        <v-btn icon class="mx-0" @click="onSelectItem(props.item,2)">
                            <v-icon dark color="secondary">edit</v-icon>
                        </v-btn>
                    </td>
                </tr>
            </template>
        </v-data-table>

        <v-dialog v-model="dialogEdit" max-width="700px">
            <v-card>
                <v-card-title>
                    {{tempItem_.isNew?`Add new`:`Edit`}} Team period member
                </v-card-title>
                <v-card-text>
                    <v-container grid-list-md>
                        <v-layout wrap>
                            <v-flex d-flex>
                                <v-text-field
                                        type="number"
                                        min="0"
                                        label="Price"
                                        v-model="tempItem_.member_price"
                                ></v-text-field>
                            </v-flex>

                            <v-flex d-flex>
                                <v-autocomplete :items="allMembers" v-model="tempItem_.member"
                                                label="Select Member" return-object item-text="name">
                                </v-autocomplete>
                            </v-flex>
                        </v-layout>
                    </v-container>
                </v-card-text>
                <v-card-actions>
                    <v-btn color="primary" flat @click.stop="dialogEdit=false">Close</v-btn>
                    <v-btn flat @click.stop="onActionItem(tempItem_.isNew?1:2)">
                        {{tempItem_.isNew ?`Add`:`Edit`}}
                    </v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>
        <v-dialog v-model="dialogDelete" persistent max-width="590">
            <v-card>
                <v-card-title class="headline">Are you sure you want to delete the Team period
                    {{tempItem_.name}} ?
                </v-card-title>
                <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn color="green darken-1" flat
                           @click.native="dialogDelete=false">Cancel
                    </v-btn>
                    <v-btn color="green darken-1" flat
                           @click.native="onActionItem(3)">Yes
                    </v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>
    </div>
</template>

<script>
    export default {
        name: 'team-period-member',
        props: ['period'],
        data() {
            return {
                dataStartMenu: false,
                dataEndtMenu: false,
                dialogEdit: null,
                dialogDelete: null,
                tempItem_: {},
                headers: [
                    {
                        text: 'Member',
                        align: 'left',
                        value: 'comment'
                    },
                    {
                        text: 'Price',
                        align: 'left',
                        value: 'start'
                    },
                    {
                        text: 'Actions',
                        sortable: false,
                        align: 'left',
                        value: 'name'
                    }
                ]
            };
        },
        methods: {
            onSelectItem(item, action) {
                let _item = this.tempItem_ = {isNew: true};
                if (item) {
                    this.tempItem_.originItem = item;
                    Object.assign(this.tempItem_, item);
                    this.tempItem_.isNew = false;
                }
                switch (action) {
                    case 1: {//on create new
                        this.dialogEdit = true;
                        break
                    }
                    case 2: {//on edit
                        /* let
                             period = item,
                             __members = this.$store.getters['common/member/all'],
                             _c = period.tempMembers;
                         period.tempMembers = [];
                         period.membersId = [];
                         for (let di = 0; di < _c.length; di++) {
                             for (let i = 0; i < __members.length; i++) {
                                 if (__members[i].id == _c[di].id) {
                                     period.tempMembers.push(__members[i]);
                                     period.membersId.push(__members[i].id);
                                     break;
                                 }
                             }
                         }*/
                        this.dialogEdit = true;
                        break
                    }
                    case 3: {//on delete new
                        this.dialogDelete = true;
                        break
                    }
                }
            },
            onActionItem(action) {


                if (!this.tempItem_.member) return alert('Select member');
                switch (action) {
                    case 1: {

                        this.period.tempMembers.push(this.tempItem_);
                        break
                    }
                    case 2: {
                        Object.assign(this.tempItem_.originItem, this.tempItem_);
                        break
                    }
                    case 3: {
                        for (let i = 0; i < this.period.tempMembers.length; i++) {
                            if (this.period.tempMembers[i].member.id == this.tempItem_.member.id) {
                                this.period.tempMembers.splice(i, 1);
                                break;
                            }
                        }
                        break
                    }
                }
                this.period.tempMembers = this.period.tempMembers.concat([]);
                this.dialogEdit = this.dialogDelete = false;
            }
        },
        mounted() {
            this.$store.dispatch('common/member/all');
        },
        computed: {
            allMembers() {
                let _l = this.period.tempMembers;
                return this.$store.getters['common/member/all'].filter((el) => {
                    if (this.tempItem_.member) {
                        if (this.tempItem_.member.id == el.id) return true;
                    }
                    if (el.id < 0) return false;
                    for (let i = 0; i < _l.length; i++) {
                        if (_l[i].member.id == el.id) return false;
                    }
                    return true;

                });
            }
        }
    };
</script>
