<template>
    <div>
        <router-view></router-view>
        <ConstructionSiteSettings ref="constructionSiteSettings"
                                  :setings="{}"></ConstructionSiteSettings>
    </div>
</template>

<script>
    import ConstructionSiteSettings from '../../utils/siteSettings/index.vue';

    export default {
        components: {
            ConstructionSiteSettings
        },
        data() {
            return {
                dialog: false,
                isUpdated: false
            };
        },
        computed: {
            workFlowTasks() {
                return this.$store.getters['workflow/getWorkflowTask'];
            },
            workflowFunctionGroups() {
                return this.$store.getters['workflow/getWorkflowFunctionGroups'];
            },
            workflowConstructionSites() {
                return this.$store.getters['workflow/getWorkflowConstructionSites'];
            }
        },
        mounted() {
            this.freshData();
        },
        methods: {
            freshData(){
                this.$store.dispatch('workflow/getWorkFlow').then(() => {
                    let sites = this.workflowConstructionSites;
                    this.$store.dispatch('workflow/functionGroup/all', this.workflowFunctionGroups);
                    this.$store.dispatch('workflow/constructionSite/task/all', sites);
                    this.$store.dispatch('workflow/constructionSite/all', sites);


                    this.$refs.constructionSiteSettings.updateListOfSites(
                        null,
                        this.$store.getters['workflow/constructionSite/selected'],
                        {
                            allSites: this.$store.getters['workflow/allworkflowConstructionSites'],
                            projectLeaders: this.$store.getters['workflow/allProjectLeaders'],
                        }
                    )
                });
            }
        }
    };
</script>
